doctype html
html(lang="en")
  head
    title Week 11 Faceting. MIDS W209 Information Visualization Slides
    meta(charset="utf-8")
    meta(name="author", content="John Alexis Guerra Gómez")
    meta(name="description", content="Week 6 Faceting. MIDS W209 Information Visualization Slides")

    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fjalla+One|Raleway|PT+Sans+Narrow")

    //- Adobe fonts
    link(rel="stylesheet" href="https://use.typekit.net/yjc0afr.css")

    //- <!-- Theme used for syntax highlighting of code -->
    link(rel="stylesheet" href="../plugin/highlight/monokai.css" id="highlight-theme")


    link(href="../css/reveal.css", rel="stylesheet")
    link(href="../css/theme/white.css", rel="stylesheet", id="theme")
    link(href="../css/style.css", rel="stylesheet")


  body
    .reveal
      .slides
        section
          h1.title Faceting
            br
            small MIDS W209: Information Visualization

          div.r-stretch

          div.tiny
            a(href="https://johnguerra.co/", target="_blank") #[strong  John Alexis Guerra Gómez]
            span  |  john.guerra[at]gmail.com
            a(href="https://twitter.com/duto_guerra")  |  @duto_guerra
            br

            a(href="https://johnguerra.co/lectures/MIDS_W209_Information_Visualization/11_Faceting/", target="_blank") https://johnguerra.co/lectures/MIDS_W209_Information_Visualization/11_Faceting/

          div.logo
            a(href="https://datascience.berkeley.edu/")
              img.logo(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
          div.tiny Partially based on
            a(href="https://www.cs.ubc.ca/~tmm/talks.html#minicourse14")  slides from Tamara Munzner

        //- Outline
        section#outline
          section
            h2 What we are going to learn
            ul.small



        section
          section
            h2 Facet Across Multiple Views
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/12_facet-biomech.003.png")
          section
            h2 Facet
            img(src="../shared_images/vad_book_alldiagrams/pr11_facet-01.png", alt="Juxtapose, Partition, Superimpose")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/12_facet-biomech.004.png")
          section
            h2 Juxtapose and Coordinate Views
            img(src="../shared_images/vad_book_alldiagrams/pr11_facet-juxtapose-coordinate-views.png", alt="Share Encoding: Same/Different; Share Data: All/Subset/None; Share Navigation")

          //- Coordinated views
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/12_facet-biomech.008.png")
          section
            h2 Coordinate Views: Design Choice Interaction
            img(src="../shared_images/vad_book_alldiagrams/pr11_facet-design-choice-interactions.png", alt="Design Choice Interaction")
            ul
              li.fragment Why juxtapose views?
              ul
                li.fragment Benefits: eyes vs memory
                ul
                  li.fragment Lower cognitive load to move eyes between 2 views than remembering previous state with single changing view
                li.fragment Costs: display area, 2 views side by side each have only half the area of one view

          //- Linked Views
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/12_facet-biomech.005.png")
          section
            .flex
              .half
                h2 Idiom: Linked Highlighting
                ul
                  li.fragment See how regions contiguous in one view are distributed within another
                  ul
                    li.fragment Powerful and pervasive interaction idiom
                  li.fragment Encoding: different
                    li.fragment Multiform
                  li.fragment Data: all shared
                  li.fragment AKA: brushing and linking
              .half
                img(src="../shared_images/vad_book_alldiagrams/pr11_facet-linked-highlighting.png", alt="Visual Exploration of Large Structured Datasets")
                a.bottom.tiny [Visual Exploration of Large Structured Datasets. Wills. Proc. New Techniques and Trends in Statistics (NTTS), pp. 237–246. IOS Press, 1995.]
          section
            h3.demo Linked Filtering (Crossfilter)
            iframe.blocks(src="http://square.github.io/crossfilter/")
            a.tiny(target="_blank" href="http://square.github.io/crossfilter/") http://square.github.io/crossfilter/


          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/12_facet-biomech.006.png")
          section
            .flex
              .half
                h2 Idiom: Overivew-detail Views
                ul
                  li.fragment Encoding: same
                  li.fragment Data: subset shared
                  li.fragment Navigation: shared
                  ul
                    li.fragment Bi-directional linking
                  li.fragment Differences
                    li.fragment Viewpoint
                    li.fragment (Size)
                  li.fragment Special case:  bird's-eye map
              .half
                h2 System: Google Maps
                img(src="../shared_images/vad_book_alldiagrams/pr11_facet-google-map.png", alt="Overview map from Google maps")
                a.bottom.tiny [A Review of Overview+Detail, Zooming, and Focus+Context Interfaces. Cockburn, Karlson, and Bederson. ACM Computing Surveys 41:1 (2008), 1–31.]
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/12_facet-biomech.007.png")
          section
            .flex
              .third
                ul
                  li.fragment Encoding: same
                  li.fragment Data: none shared
                  ul
                    li.fragment Different attributes for node colors
                    li.fragment (Same network layout)
                  li.fragment Navigation: shared
              .twothirds
                h2 System: Cerebral
                img(src="../shared_images/vad_book_alldiagrams/pr11_facet-small-multiples.png", alt="Small multiples")
                a.bottom.tiny [Cerebral: Visualizing Multiple Experimental Conditions on a Graph with Biological Context. Barsky, Munzner, Gardy, and Kincaid. IEEE Trans. Visualization and Computer Graphics (Proc. InfoVis 2008) 14:6 (2008), 1253–1260.]
          section
            h3.demo Overview/Details
            p.small Same encoding / Subset of data / Linked Navigation
            iframe.blocks(src="http://blockbuilder.org/mbostock/34f08d5e11952a80609169b7917d4172")
            a.tiny(target="_blank" href="http://blockbuilder.org/mbostock/34f08d5e11952a80609169b7917d4172") http://blockbuilder.org/mbostock/34f08d5e11952a80609169b7917d4172
            a.tiny(target="_blank" href="http://bl.ocks.org/mbostock/") by mbostock

          section
            h3.demo Small Multiples (cubism)
            p.small Same encoding / Different data / Linked Navigation
            iframe.blocks(src="http://square.github.io/cubism/demo/")
            a.tiny(target="_blank" href="http://square.github.io/cubism/demo/") http://square.github.io/cubism/demo/

          section
            h3.demo Multiform Overview/Details (Tweetometro)
            p.small Different encoding / Subset of data / Linked Navigation
            iframe.blocks(src="http://old.tweetometro.co/")
            a.tiny(target="_blank" href="http://old.tweetometro.co/") http://old.tweetometro.co/

          section
            h3.demo Multiform Overview (Treeversity)
            p.small Different encoding / All data / Linked Navigation
            iframe.blocks(src="https://treeversity.cattlab.umd.edu/")
            a.tiny(target="_blank" href="https://treeversity.cattlab.umd.edu/") https://treeversity.cattlab.umd.edu/

          //- Coordinated views
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/12_facet-biomech.008.png")
          section
            h2 Coordinate Views: Design Choice Interaction
            img(src="../shared_images/vad_book_alldiagrams/pr11_facet-design-choice-interactions.png", alt="Design Choice Interaction")
            ul
              li.fragment Why juxtapose views?
              ul
                li.fragment Benefits: eyes vs memory
                ul
                  li.fragment Lower cognitive load to move eyes between 2 views than remembering previous state with single changing view
                li.fragment Costs: display area, 2 views side by side each have only half the area of one view
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/12_facet-biomech.009.png")

          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/12_facet-biomech.010.png")
          section
            h2 System: Improvise
            .flex
              .third
                ul
                  li.fragment Investigate power of multiple views
                  ul
                    li.fragment Pushing limits on view count, interaction complexity
                    li.fragment How many is ok?
                    ul
                      li.fragment Open research question
                    li.fragment Reorderable lists
                      li.fragment Easy lookup
                      li.fragment Useful when linked to other encodings
              .twothirds
                img(src="../shared_images/vad_book_alldiagrams/pr11_facet-improvise.png", alt="Building Highly-Coordinated Visualizations In Improvise")
                a.bottom.tiny [Building Highly-Coordinated Visualizations In Improvise. Weaver. Proc. IEEE Symp. Information Visualization (InfoVis), pp. 159–166, 2004.]
          section
            h3.demo Improvise
            iframe.blocks(src="http://www.cs.ou.edu/~weaver/improvise/")
            a.tiny(target="_blank" href="http://www.cs.ou.edu/~weaver/improvise/") http://www.cs.ou.edu/~weaver/improvise/


          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/12_facet-biomech.011.png")
          section
            h2 Partition Into Views
            .flex
              .half
                ul
                  li.fragment How to divide data between views
                  ul
                    li.fragment Split into regions by attributes
                    li.fragment Encodes association between items using spatial proximity 
                    li.fragment Order of splits has major implications for what patterns are visible
                  li.fragment No strict dividing line
                    li.fragment View: big/detailed
                    ul
                      li.fragment Contiguous region in which visually encoded data is shown on the display
                    li.fragment Glyph: small/iconic
                      li.fragment Object with internal structure that arises from multiple marks
              .half
                img(src="../shared_images/vad_book_alldiagrams/pr11_facet-partition-sidebyside.png", alt="partition into side-by-side views")
                img(src="../shared_images/vad_book_alldiagrams/pr11_facet-small-partitionviews.png", alt="partition views")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/12_facet-biomech.012.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/12_facet-biomech.013.png")
          section
            h2 Partitioning: List Alignment
            .flex
              .half
                ul
                  li.fragment Single bar chart with grouped bars
                  ul
                    li.fragment Split by state into regions
                    ul
                      li.fragment Complex glyph within each region showing all ages
                    li.fragment Compare: easy within state, hard across ages
                img(src="../shared_images/vad_book_alldiagrams/pr11_facet-partition-listalignment1.png", alt="single bar chart with grouped bars")
              .half
                ul
                  li.fragment Small-multiple bar charts
                  ul
                    li.fragment Split by age into regions
                    ul
                      li.fragment One chart per region
                    li.fragment Compare: easy within age, harder across states
                img(src="../shared_images/vad_book_alldiagrams/pr11_facet-partition-listalignment2.png", alt="small-multiple bar charts")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/12_facet-biomech.014.png")
          section
            .flex
              .half
                h2 Partitioning: Recursive Subdivision
                ul
                  li.fragment Split by neighborhood
                  li.fragment Then by type 
                  li.fragment Then time
                  ul
                    li.fragment Years as rows
                    li.fragment Months as columns 
                  li.fragment Color by price
                  li.fragment Neighborhood patterns
                  ul
                    li.fragment Where it’s expensive
                    li.fragment Where you pay much more for detached type
              .half
                h2 System: HIVE
                img(src="../shared_images/vad_book_alldiagrams/pr11_facet-recursive-subdivision.png", alt="recursive subdivision")
            a.bottom.tiny [Configuring Hierarchical Layouts to Address Research Questions. Slingsby, Dykes, and Wood.  IEEE Transactions on Visualization and Computer Graphics (Proc. InfoVis 2009) 15:6 (2009), 977–984.]
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/12_facet-biomech.015.png")
          section
            .flex
              .half
                h2 Partitioning: Recursive Subdivision
                ul
                  li.fragment Switch order of splits
                  ul
                    li.fragment Type then neighborhood
                  li.fragment Switch color
                    li.fragment By price variation 
                  li.fragment Type patterns
                    li.fragment Within specific type, which neighborhoods inconsistent
              .half
                h2 System: HIVE
                img(src="../shared_images/vad_book_alldiagrams/pr11_facet-recursive-subdivision2.png", alt="recursive subdivision")
            a.bottom.tiny [Configuring Hierarchical Layouts to Address Research Questions. Slingsby, Dykes, and Wood.  IEEE Transactions on Visualization and Computer Graphics (Proc. InfoVis 2009) 15:6 (2009), 977–984.]
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/12_facet-biomech.016.png")
          section
            .flex
              .half
                h2 Partitioning: Recursive Subdivision
                ul
                  li.fragment Different encoding for second-level regions
                  ul
                    li.fragment Choropleth maps
              .half
                h2 System: HIVE
                img(src="../shared_images/vad_book_alldiagrams/pr11_facet-recursive-subdivision3.png", alt="recursive subdivision")
            a.bottom.tiny [Configuring Hierarchical Layouts to Address Research Questions. Slingsby, Dykes, and Wood.  IEEE Transactions on Visualization and Computer Graphics (Proc. InfoVis 2009) 15:6 (2009), 977–984.]  
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/12_facet-biomech.017.png")
          section
            .flex
              .half
                h2 Partitioning: Recursive Subdivision
                ul
                  li.fragment Size regions by sale counts
                  ul
                    li.fragment Not uniformly
                  li.fragment Result: treemap 
              .half
                h2 System: HIVE
                img(src="../shared_images/vad_book_alldiagrams/pr11_facet-recursive-subdivision4.png", alt="recursive subdivision")
            a.bottom.tiny [Configuring Hierarchical Layouts to Address Research Questions. Slingsby, Dykes, and Wood.  IEEE Transactions on Visualization and Computer Graphics (Proc. InfoVis 2009) 15:6 (2009), 977–984.]
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/12_facet-biomech.018.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/12_facet-biomech.019.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/12_facet-biomech.020.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/12_facet-biomech.021.png")


          section
            h2 Dynamic layering
            a(href="https://johnguerra.co/viz/influentials/story/?hashtag=ieeevis2019") https://johnguerra.co/viz/influentials/story/?hashtag=ieeevis2019





        section#review
          section
            h2 What we learned
            ul.small


    script(src="../js/reveal.js")
    script(src="../plugin/zoom/zoom.js")
    script(src="../plugin/notes/notes.js")
    script(src="../plugin/search/search.js")
    script(src="../plugin/markdown/markdown.js")
    script(src="../plugin/highlight/highlight.js")

    script(src="https://cdn.jsdelivr.net/npm/vega@5.13.0")
    script(src="https://cdn.jsdelivr.net/npm/vega-lite@4.13.1")
    script(src="https://cdn.jsdelivr.net/npm/vega-lite-api@0.11.0")
    script(src="https://cdn.jsdelivr.net/npm/vega-tooltip@0.23.2")
    script(src="./week4.js")



    script.
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        hash: true,
        //- transition: "convex",

        //- width: "100%",
        //- height: "720px",

        plugins: [ RevealZoom, RevealNotes, RevealSearch, RevealMarkdown, RevealHighlight ]
      });
    script.
      (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,"script","https://www.google-analytics.com/analytics.js","ga");

      ga("create", "UA-72531610-1", "auto");
      ga("send", "pageview");

