.reveal {
  font-family: 'Arimo', sans-serif;
}
.reveal p,
.reveal ol,
.reveal ul,
.reveal li,
.reveal blockquote {
  line-height: 1.25em;
}
.reveal p,
.reveal ol,
.reveal ul,
.reveal li,
.reveal blockquote,
.reveal pre {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: 'Didact Gothic', sans-serif;
  text-transform: inherit;
  margin-top: 0.25em;
  margin-bottom: 0.75em;
}
.reveal h1.demo,
.reveal h2.demo,
.reveal h3.demo,
.reveal h4.demo,
.reveal h5.demo,
.reveal h6.demo {
  margin-top: -0.5em;
}
.reveal ul {
  list-style-type: circle;
}
.reveal pre code {
  padding: 2em;
  word-wrap: normal;
}
.reveal pre code::selection,
.reveal pre code ::selection {
  background-color: #000;
  color: #4682b4;
}
.reveal pre code:focus {
  outline: none;
}
.reveal blockquote {
  border-left: 0.25em solid #4682b4;
  box-shadow: none;
  padding: 0 1em;
  text-align: left;
}
.reveal blockquote:before,
.reveal blockquote:after {
  content: '';
}
.reveal iframe.demo {
  width: 100%;
  height: 550px;
  margin-left: -30px;
}
.reveal section img {
  border: none;
  box-shadow: none;
  max-height: 500px;
}
.reveal #title h1,
.reveal #title h2,
.reveal #title h3,
.reveal #title h4,
.reveal #title h5,
.reveal #title h6 {
  font-family: 'Didact Gothic', sans-serif;
  margin: 0;
}
.reveal #title h1 {
  font-size: 3.2em;
}
.reveal img.demo {
  max-height: 500px;
}
.reveal #comparisonTable {
  font-size: 0.5em;
}
.reveal #comparisonTable td {
  width: 33%;
}
.reveal .small {
  font-size: 80%;
}
.reveal .tiny {
  font-size: 60%;
}
.reveal .micro {
  font-size: 30%;
}
.reveal .bottom {
  margin-top: 35%;
}
.reveal .authors {
  font-size: 60%;
}
.reveal .left {
  float: left;
  width: 50%;
  z-index: -10;
}
.reveal .right {
  float: right;
  z-index: -10;
  width: 50%;
}
.reveal .center {
  margin: auto;
  display: block;
}
.reveal .logo {
  height: 50px;
}
.reveal .headshot {
  height: 200px;
}
.reveal .miniheadshot {
  height: 1em;
  margin: 0 0.2em;
}
.reveal img.circle {
  border-radius: 50%;
}
.reveal .contactInfo {
  text-align: right;
}
.reveal .contactInfo a {
  font-size: 0.6em;
}
.reveal .red {
  color: #e80000;
}
.reveal img.side {
  float: left;
  width: 45%;
  padding: 0 5px 0 5px;
}
.reveal .clear {
  clear: both;
}
.reveal table.networkCube td {
  margin: 0px auto;
  width: 20%;
  text-align: center;
}
.reveal table.networkCube img {
  display: block;
  margin: auto;
}
.reveal .credit {
  font-size: 12pt;
  display: block;
  text-align: right;
  color: #90aed8;
}
.reveal .anscombeTable {
  width: 70%;
  float: left;
  font-family: sans-serif;
}
.reveal .anscombeTable td:nth-child(odd) {
  background-color: #eee;
}
.reveal .anscombeTable td:nth-child(even) {
  background-color: #ddd;
}
.reveal .anscombeTable td {
  font-size: 16pt;
  text-align: right;
}
.reveal .anscombeTable th {
  font-size: 20pt;
  text-align: center;
}
.reveal .anscombeTable tr:nth-child(2) td {
  text-align: center;
}
.reveal .anscombeResult {
  width: 25%;
  float: left;
  font-family: sans-serif;
}
.reveal .anscombeResult td:nth-child(1) {
  text-align: left;
}
.reveal .anscombeResult td {
  font-size: 12pt;
  text-align: right;
}
.reveal .anscombeResult th {
  font-size: 18pt;
  text-align: center;
}
.reveal .filler {
  height: 100px;
}
.reveal .students {
  text-align: left;
}
.reveal .students img {
  border-radius: 100%;
  max-height: 100px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
