berkeleyBlue = #003a70

body
  background-color: #f9f9f9

.reveal
  // font-family: calluna, serif
  // font-family: azo-sans-web, sans-serif;


  font-family: atten-new, sans-serif;

  font-weight: 400;
  font-style: normal;

  // font-family: 'PT Sans Narrow', sans-serif
  color: #474747

  .controls
    color: berkeleyBlue

  p, ol, ul, li, blockquote
    line-height 1.25em
  p, ol, ul, li, blockquote, pre
    margin-top .1em
    margin-bottom .1em
  h1, h2, h3, h4, h5, h6
    margin-top .25em
    margin-bottom .75em
    color: berkeleyBlue;
    font-family: 'Fjalla One', sans-serif
    text-shadow: 0px 2px 2px rgba(0,0,0,0.25)

  h1.title small
    margin-top:10px
    // font-size : 120%

  h1.demo, h2.demo, h3.demo, h4.demo, h5.demo, h6.demo
    margin-top -0.50em
  ul
    list-style-type circle
    font-size: 80%
  ul.normal
    font-size: 100%

  pre
    code
      padding 2em
      word-wrap normal
      &::selection,
      ::selection
        background-color #000
        color berkeleyBlue
      &:focus
        outline none
  blockquote
    border-left .25em solid berkeleyBlue
    box-shadow none
    padding 0 1em
    text-align left
    &:before,
    &:after
      content ''
  iframe.blocks
    width 960px
    height 650px
    margin-left -30px
  section
    img
      border none
      box-shadow none
      max-height: 90%

  #title
    h1, h2, h3, h4, h5, h6
      // text-transform none
      font-family 'Helvetica Neue', sans-serif
      // font-weight lighter
      letter-spacing -.05em
      margin 0
      // margin-top -0.5em
    // h3
      // margin 1.5em 0 1em
    h1
      font-size 3.2em
  img.demo
    max-height 500px
    width: auto
    height: auto
  iframe.demo
    width 100%
    height 650px
    margin-left -30px

  #comparisonTable
    font-size 0.5em
    td
      width: 33%
  .small
    font-size 80%
  .tiny
    font-size 60%
  .supertiny
    font-size 40%

  .authors
    font-size 70%

  #handsOn
    pre
      width: 70%
      font-size: 0.5em
      float: left
    div.target
      margin: 20px
      width: 25%
      float: left
      font: 10px sans-serif
      rect
        fill: steelblue
      circle
        opacity: 0.3
      path.line
        fill: none
        stroke: #666
        stroke-width: 1.5px
      path.area
        fill: #e7e7e7
      .axis
        shape-rendering: crispEdges
      .x.axis line
        stroke: #bbb
      .x.axis .minor
        stroke-opacity: .5
      .x.axis path
        fill: none
      .y.axis line, .y.axis path
        fill: none
        stroke: #333
    button.execute
      clear: both
      font-size: 0.8em

    div.followLink
      font-size: 0.6em


  .contactInfo
    text-align: right
    a
      font-size: 0.6em

  .red
    color: #e80000;

  img.side
    float:left;
    width:45%;
    padding: 0 5px 0 5px;

  .clear
    clear:both;


  #munznerpreferencechart
    color: white
    font-size: 0.6em
    .line
      stroke: #4A90E2
      stroke-width: 25
      stroke-opacity: 0.30
      fill: none
    .box
      // text
      //   opacity: 0
      rect
        fill-opacity: 0.75
    .box:hover text
      opacity: 1
    .mainArea.selected
      .line.selected
        opacity: 0.9
      .line
        opacity: 0.1
      .box
        opacity: 0.1
      .box.selected
        opacity: 0.9
    .box text
      pointer-events: none
      font-size: 14pt
    .axis path, .axis line
      fill: none
      /*stroke: #ccc*/
      shape-rendering: crispEdges
    .y.axis line
      stroke: white
    text
      font-size: 22pt

  table
    font-family: sans-serif
    td:nth-child({odd})
      background-color: #eee
    td:nth-child({even})
      background-color: #ddd

  .anscombeTable
    width: 70%
    float: left
    font-family: sans-serif
    td
      font-size: 16pt
      text-align: right
    th
      font-size: 20pt
      text-align: center
    tr:nth-child({2})
      td
        text-align: center

  .anscombeResult
    width: 25%
    float: left
    font-family: sans-serif
    td:nth-child({1})
      text-align: left
    td
      font-size: 12pt
      text-align: right
    th
      font-size: 18pt
      text-align: center
    // tr:nth-child({2})
    //   td
    //     text-align: center


  .logo
    display: flex
    height: 50px
    width: inherit
    margin-right: 10px


  .flex
    display:flex
    width: 100%
    flex-wrap: wrap

    *
      margin: auto

    .quarter
      width: 22%
      margin-right: 1%
      margin-left: 1%

    .third
      width: 30%
      margin-right: 1.5%
      margin-left: 1.5%
    .half
      width: 45%
      // margin-right: 5%
      margin: auto

    .twothirds
      width: 60%
      margin-right: 3%
      margin-left: 3%

    .flex1
      flex:1
    .flex2
      flex:2
    .flex3
      flex:3
    .flex4
      flex:4


  .portrait
    text-align: middle
    img
      border-radius: 100%
      max-height: 200px
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
      transition: all 0.3s cubic-bezier(.25,.8,.25,1)

  .left-align
    text-align: left

  .line-compressed
    li, div, ul
      margin-top: 0.25em
      margin-bottom: 0.25em
      // line: 0.25em

  .page-watermark
    font-size: 60%
    font-style: italic
    opacity: 0.7
    position: absolute
    bottom: 50px
    right: 0px
    text-anchor: end

  section .full
    width: 100%
    // min-width: 90vw
    height: 100%

  .reference
    color: #8aa4c6
    font-style: italic;
    font-size: 30%;
    text-align: end;
    line-height: 1.2;
    // font-family: 'Fjalla One', sans-serif

  .vcentered
    margin-top: auto;
    margin-bottom: auto;

  .markExample
    width: 30%
    padding: 2% 10%

  img
    max-width: 600px;
    width: 100%;
  img.fill
    width: 100%
    max-width: 800px;


  figcaption
    font-size: 30%;


  // For 07_Time
  .left
    left:-8.33%
    text-align: left
    float: left
    width:45%
    z-index:-10
    position:relative;


  .right
    // left:31.25%
    // top: 75px
    float: right
    // text-align: right
    z-index:-10
    width:45%
    position:relative;

  #handsOn
    pre
      width: 70%
      font-size: 0.5em
      float: left
    div.target
      margin: 20px
      width: 25%
      float: left
      font: 10px sans-serif
      rect
        fill: steelblue
      circle
        opacity: 0.3
      path.line
        fill: none
        stroke: #666
        stroke-width: 1.5px
      path.area
        fill: #e7e7e7
      .axis
        shape-rendering: crispEdges
      .x.axis line
        stroke: #bbb
      .x.axis .minor
        stroke-opacity: .5
      .x.axis path
        fill: none
      .y.axis line, .y.axis path
        fill: none
        stroke: #333
    button.execute
      clear: both
      font-size: 0.8em

    div.followLink
      font-size: 0.6em


  .contactInfo
    text-align: right
    a
      font-size: 0.6em

  .red
    color: #e80000;

  img.side
    float:left;
    width:45%;
    padding: 0 5px 0 5px;

  .clear
    clear:both;

  .noMarginTopBottom , .noMarginTopBottom > *
    margin-top: 0px
    margin-bottom: 0px


  .scrollable-slide
    height: 500px;
    overflow-y: auto !important;

  .scrollable-slide::before
    background: none !important;


  .scrollable-slide::after
    box-shadow: none !important;

  ul.normal:
    font-size: 100%
    line-height: 1.85em