doctype html
html(lang="en")
  head
    title Visual Analytics, Advanced visualization techniques
    meta(charset='utf-8')
    meta(name='author', content='John Alexis Guerra Gomez')
    meta(name='description', content='Visual Analytics')
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui")
    //- link(href='../lib/css/reveal.css', rel='stylesheet')
    //- link(href='../lib/css/theme/simple.css', rel='stylesheet')
    //- link(href='../lib/css/zenburn.css', rel='stylesheet')
    link(href='style.css', rel='stylesheet')
    //- Printing and PDF exports -->
    script.
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? '../lib/css/print/pdf.css' : '../lib/css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    script(src='../lib/js/d3.min.js')
    script(src='../lib/js/bumpChartPhotos.js')
  body


    .reveal
      .slides

        section
          h2 IEEEVIS 2017 Summary
          br
          p.small
            a(href='http://johnguerra.co/', target='_blank') #[strong John Alexis Guerra Gómez]
            span | ja.guerrag[at]uniandes.edu.co
            a(href='http://twitter.com/duto_guerra') | @duto_guerra
            br
            span #[strong Jose Tiberio Hernández] | jhernand[at]uniandes.edu.co
            br
            span Universidad de los Andes

            //- br
            //- span ja.guerrag en uniandes.edu.co
            //- br
            //- a(href='http://twitter.com/duto_guerra') @duto_guerra
          //- p.small Use
          //-   strong  spacebar
          //-   |  and the arrows to advance slides
          br
          p.tiny
            a(href='http://johnguerra.co/lectures/visualAnalytics_fall2019/12_IEEEVIS_Summary/', target='_blank') http://johnguerra.co/lectures/visualAnalytics_fall2019/12_IEEEVIS_Summary/


        //- convert -density 150 -depth 8 -quality 85 ~/Dropbox/documentos/2016/andes/visual_analytics/lectures_tamara/05_rules-artery.pdf ./05_rules-artery.png


        section
          section
            h2 #[a(href="http://ieeevis.org/") IEEEVis] Summary
            ul
              li.fragment Main Visualization conference, along with #[a(href="https://chi2016.acm.org/wp/") CHI], and #[a(href="http://www.cs.rug.nl/jbi/eurovis2016/") Eurovis]
              li.fragment Organized by IEEE
              li.fragment About 1000+ attendees

          section
            h2 Subconferences
            ul.small
              li.fragment Infovis -> Techniques
              li.fragment VAST ->  The process
              li.fragment Scivis -> Rainbows
              li.fragment VizSec -> Security
              li.fragment VDS -> Big data
              li.fragment Workshops/Tutorials -> Special interests
              li.fragment Panels -> Debate
                ul
                  li.fragment There was a special panel on how Scivis is dying
          section
            h2 Observed themes
            ul
              li.fragment VegaLite
              li.fragment Network Visualization (Edge Bundling)
              li.fragment Text Visualization
              li.fragment Time Series
              li.fragment Machine Learning

              li.fragment Education, Design, Evaluation


        section
          section.demo
            h2 VegaLite
            p.small
              a(href="https://idl.cs.washington.edu/files/2017-VegaLite-InfoVis.pdf") *** Vega-Lite: A Grammar of Interactive Graphics (J) (Best Paper Award)
            p.tiny Authors: Arvind Satyanarayan, Dominik Moritz, Kanit Wongsuphasawat, and Jeffrey Heer
            p.small Next step after D3, define visualization from what you want rather than how to do it
            span.
              <iframe src="https://player.vimeo.com/video/177767802" width="640" height="401" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              <p><a href="https://vimeo.com/177767802">Vega-Lite: A Grammar of Interactive Graphics</a> from <a href="https://vimeo.com/uwdata">UW Interactive Data Lab</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

        section
          section
            h2 Network Visualization

          section.demo
            p.small
              a(href="https://bib.dbvis.de/uploadedFiles/1_Magnostics.pdf" ) ** Magnostics: Image-based Search of Interesting Matrix Views for Guided Network Exploration (J)
            p.tiny Authors: Michael Behrisch, Benjamin Bach, Michael Hund, Michael Delz, Laura von Rüden, Jean-Daniel Fekete, and Tobias Schreck
            span.
              <iframe src="https://player.vimeo.com/video/182984756" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              <p><a href="https://vimeo.com/182984756">[VIS16 Preview] Magnostics: Image-based Search of Interesting Matrix Views for Guided Network Exploration</a> from <a href="https://vimeo.com/vgtcommunity">VGTCommunity</a> on <a href="https://vimeo.com">Vimeo</a>.</p>


          section
            p.small
              a(href="http://www.cse.ust.hk/~huamin/tvcg_yanhong_2017.pdf") ** Evaluation of Graph Sampling: A Visualization Perspective (J)
            p.tiny Authors: Yanhong Wu, Nan Cao, Daniel Archambault, Qiaomu Shen, Huamin Qu, and Weiwei Cui
            p.small Graph sampling, how good are them for showing visual properties

          section.demo
            p.small
              a(href="http://www.aviz.fr/~bbach/confluentgraphs/") ** Towards Unambiguous Edge Bundling: Investigating Confluent Drawings for Network Visualization (J)
            p.tiny Authors: Benjamin Bach, Nathalie Henry Riche, Christophe Hurter, Kim Marriott, and Tim Dwyer
            p.small Nice demo
            iframe.demo(src="http://www.aviz.fr/~bbach/confluentgraphs/")

          section
            p.small
              a(href="http://www.cs.rug.nl/~alext/PAPERS/TVCG15/paper.pdf") * CUBu: Universal real-time bundling for large graphs (T)
            p.tiny Authors: Matthew van der Zwan, Valeriu Codreanu, Alexandru Telea
            p.small Very fast GPU based edge bundling, that works with millions of nodes

        section
          section
            h1 Geo

          section
            p.small
              a(href="https://idl.cs.washington.edu/files/2017-SurpriseMaps-InfoVis.pdf") Surprise! Bayesian Weighting for De-Biasing Thematic Maps (J)
            p.tiny Authors: Michael Correll and Jeffrey Heer
            a(href="https://github.com/uwdata/bayesian-surprise") Github repo


          section
            p.small
              a(href="http://vis.yalongyang.com/") *** Many-to-Many Geographically-Embedded Flow Visualisation: An Evaluation (J) (Best Paper Honorable Mention)
            p.tiny Authors: Yalong Yang, Tim Dwyer, Sarah Goodwin, and Kim Marriott
            p.small Very novel. Good evaluation
            iframe.demo(src="http://vis.yalongyang.com/maptrix/index.html")

          section.demo
            p.small
              a(href="https://www.cs.utah.edu/~miriah/publications/binning-study.pdf") * Evaluating the Impact of Binning 2D Scalar Fields (J)
            p.tiny Authors: Lace Padilla, P. Samuel Quinan, Miriah Meyer, and Sarah H. Creem-Regehr
            p.small Good study on why to use binning on maps



          section.demo
            p.small
              a(href="https://www.computer.org/csdl/trans/tg/preprint/07536141.pdf") Quantifying the Visual Impact of Classification Boundaries in Choropleth Maps (J)
            p.tiny Authors: Yifan Zhang and Ross Maciejewski
            p.small PCA, ML to find regions on maps
            span.
              <iframe width="853" height="480" src="https://www.youtube.com/embed/J_lY7oPjaSk" frameborder="0" allowfullscreen></iframe>

          section
            p.small
              a(href="http://openaccess.city.ac.uk/15167/1/smwg.pdf") *** Small Multiples with Gaps (J)
            p.tiny Authors: Wouter Meulemans, Jason Dykes, Aidan Slingsby, Cagatay Turkay, and Jo Wood
            p.small Small Multiples




        section
          section
            h2 Text Visualization

          section.demo
            p.small
              a(href="http://ieeexplore.ieee.org/document/7539597/") ** TopicLens: Efficient Multi-Level Visual Topic Exploration of Large-Scale Document Collections (J)
            p.tiny Authors: Minjeong Kim, Kyeongpil Kang, Deokgun Park, Jaegul Choo, and Niklas Elmqvist
            p.small Cool algorithm (fast) nice tool
            span.demo
              <iframe width="853" height="480" src="https://www.youtube.com/embed/RKC5w9dZmXQ" frameborder="0" allowfullscreen></iframe>

          section
            p.small
              a(href="http://static1.squarespace.com/static/5502f56fe4b0aa4bfbdae0a8/t/57a0acc1e58c625a6618951c/1470147779559/texttile-tvcg-vast16.pdf") TextTile: An Interactive Visualization Tool for Seamless Exploratory Analysis of Structured Data and Unstructured Text (J)
            p.tiny Authors: Cristian Felix, Anshul Vikram Pandey, and Enrico Bertini
            p.small Good replacement for wordclouds, ML

        section
          section
            h2 Time series

          section
            p.small
              a(href="https://research.tableau.com/sites/default/files/Haroz-TVCG-2016.pdf") *** The Connected Scatterplot for Presenting Paired Time Series (T)
            p.tiny Authors: Steve Haroz, Robert Kosara, Steven L. Franconeri

          section.demo
            p.small
              a(href="http://hcil.umd.edu/eventaction/") ** EventAction: Visual Analytics for Temporal Event Sequence Recommendation (C)
            p.tiny Authors: Fan Du, Catherine Plaisant, Neil Spring, Ben Shneiderman
            span.demo
              <iframe width="853" height="480" src="https://www.youtube.com/embed/wxRHSf3g_sY" frameborder="0" allowfullscreen></iframe>

          section
            p.small
              a(href="http://frankdu.org/papers/du2016tvcg.pdf") ** Coping with Volume and Variety in Temporal Event Sequences: Strategies for Sharpening Analytic Focus (T)
            p.tiny Authors: Fan Du, Ben Shneiderman, Catherine Plaisant, Sana Malik, Adam Perer
            p.small List of strategies on how to declutter time series

          section
            h2 Others Time Series

          section
            p.small Visplause: Visual Data Quality Assessment of Many Time Series Using Plausibility Checks (J)
            p.tiny Authors: Clemens Arbesser, Florian Spechtenhauser, Thomas Mühlbacher, and Harald Piringer

          section
            p.small Multi-Granular Trend Detection for Time-Series Analysis (J)
            p.tinyAuthors: Arthur van Goethem, Frank Staals, Maarten Löffler, Jason Dykes, and Bettina Speckmann

          section
            p.small Shape Grammar Extraction for Efficient Query-by-Sketch Pattern Matching in Long Time Series (C)
            p.tinyAuthors: Prithiviraj Muthumanickam, Katerina Vrotsou, Matthew Cooper, Jimmy Johansson

          section
            p.small The Semantics of Sketch: A Visual Query System for Time Series Data (C)
            p.tinyAuthors: Michael Correll, Michael Gleicher

          section
            p.small - SocialBrands: Visual Analysis of Public Perceptions of Brands on Social Media (C)
            p.tinyAuthors: Xiaotong Liu, Anbang Xu, Liang Gou, Haibin Liu, Rama Akkiraju, Han-Wei Shen
            p.small Not the best visual encoding

        section
          section
            h2 Education, Design, Evaluation

          section
            h2 Design

          section
            p.small
              a(href="https://www.cs.utah.edu/~miriah/publications/hanpuku.pdf") *** Iterating Between Tools to Create and Edit Visualizations (J)
            p.tiny Authors: Alex Bigelow, Steven Drucker, Danyel Fisher, and Miriah Meyer

          section
            p.small
              a(href="http://www.zcliu.org/ddg/DDG-InfoVis16.pdf") ** Data-Driven Guides: Supporting Expressive Design for Information Graphics (J)
            p.tiny Authors: Nam Wook Kim, Eston Schweickart, Zhicheng Liu, Mira Dontcheva, Wilmot Li, Jovan Popovic, and Hanspeter Pfister
            span.
              <iframe width="853" height="480" src="https://www.youtube.com/embed/tX_XeTYCaos" frameborder="0" allowfullscreen></iframe>

          section
            h2 Education


          section
            p.small
              a(href="http://www.cond.org/vizitcards.pdf") VIZITCARDS: A Card-Based Toolkit for Infovis Design Education (J)
            p.tiny Authors: Shiqing He and Eytan Adar
            p.small A framework for applying viz


          section
            p.small VLAT: Development of a Visualization Literacy Assessment Test (J)
            p.tiny Authors: Sukwon Lee, Sung-Hee Kim, and Bum Chul Kwon
            p.small A test for visualization literacy, first approach, incomplete


          section
            p.small Exploring the Possibilities of Embedding Heterogeneous Data Attributes in Familiar Visualizations (J)
            p.tiny Authors: Mona Hosseinkhani Loorak, Charles Perin, Christopher Collins, and Sheelagh Carpendale


          section
            h2 Interaction
          section
            p.small ** Visualization by Demonstration: An Interaction Paradigm for Visual Data Exploration (J)
            p.tiny Authors: Bahador Saket, Hannah Kim, Eli T. Brown, and Alex Endert

          section
            p.small ** HindSight: Encouraging Exploration through Direct Encoding of Personal Interaction History (J)
            p.tiny Authors: Mi Feng, Cheng Deng, Evan M. Peck, and Lane Harrison

          section.demo
            p.small
              a(href="http://hci.cs.umanitoba.ca/publications/details/visual-exploration-large-display") * Supporting Visual Exploration for Multiple Users in Large Display Environments (C)
            p.tiny Authors: Sriram Karthik Badam, Fereshteh Amini, Niklas Elmqvist, Pourang Iranihttp://hci.cs.umanitoba.ca/publications/details/visual-exploration-large-display
            span.demo
              <iframe width="853" height="480" src="https://www.youtube.com/embed/xd7G_q8nocc?list=PLjdOjPncIWm3esJSaYNLnKQKe19dlgi4J" frameborder="0" allowfullscreen></iframe>

          section
            h2 Evaluation


          section
            p.small The Elicitation Interview Technique: Capturing People’s Experiences of Data Representations (T)
            p.tiny Authors: Trevor Hogan, Uta Hinrichs, Eva Hornecker


        section
          section
            h2 Machine Learning

            ul.fragment
              li Topic Modeling
              li Dimmensionality Reduction


    script(src='../lib/js/head.min.js')
    script(src='../lib/js/reveal.js')

    script.
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        rollingLinks: true,
        transition: "convex",
        //- width: "90%",
        //- height: 1.0,
        dependencies: [
          // Cross-browser shim that fully implements classList - https://github.com/eligrey/classList.js/
          { src: '../lib/js/classList.js', condition: function() { return !document.body.classList; } },

          // Interpret Markdown in <section> elements
          { src: '../plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '../plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },

          // Syntax highlight for <code> elements
          { src: '../plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },

          // Zoom in and out with Alt+click
          { src: '../plugin/zoom-js/zoom.js', async: true },

          // Speaker notes
          { src: '../plugin/notes/notes.js', async: true },

          //- // Remote control your reveal.js presentation using a touch device
          //- { src: '../plugin/remotes/remotes.js', async: true },

          //- // MathJax
          //- { src: '../plugin/math/math.js', async: true }
        ]
      });
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-72531610-1', 'auto');
      ga('send', 'pageview');



