doctype html
html(lang="en")
  head
    title Week 10 Manipulate Views. MIDS W209 Information Visualization Slides
    meta(charset="utf-8")
    meta(name="author", content="John Alexis Guerra Gómez")
    meta(name="description", content="Week 10 Manipulate Views. MIDS W209 Information Visualization Slides")

    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fjalla+One|Raleway|PT+Sans+Narrow")

    //- Adobe fonts
    link(rel="stylesheet" href="https://use.typekit.net/yjc0afr.css")

    //- <!-- Theme used for syntax highlighting of code -->
    link(rel="stylesheet" href="../plugin/highlight/monokai.css" id="highlight-theme")


    link(href="../css/reveal.css", rel="stylesheet")
    link(href="../css/theme/white.css", rel="stylesheet", id="theme")
    link(href="../css/style.css", rel="stylesheet")


  body
    .reveal
      .slides
        section
          h1.title Manipulate Views
            br
            small MIDS W209: Information Visualization

          div.r-stretch

          div.tiny
            a(href="https://johnguerra.co/", target="_blank") #[strong  John Alexis Guerra Gómez]
            span  |  john.guerra[at]gmail.com
            a(href="https://twitter.com/duto_guerra")  |  @duto_guerra
            br

            a(href="https://johnguerra.co/lectures/MIDS_W209_Information_Visualization/10_Manipulate_Views/", target="_blank") https://johnguerra.co/lectures/MIDS_W209_Information_Visualization/10_Manipulate_Views/

          div.logo
            a(href="https://datascience.berkeley.edu/")
              img.logo(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
          div.tiny Partially based on
            a(href="https://www.cs.ubc.ca/~tmm/talks.html#minicourse14")  slides from Tamara Munzner

        //- Outline
        section#outline
          section
            h2 What we are going to learn
            ul.small



        section
          section
            h2 Manipulate views
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/11_manipulate-genea.003.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/11_manipulate-genea.004.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/11_manipulate-genea.005.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/11_manipulate-genea.006.png")
          section
            h2 How to Handle Complexity: 1 Previous Strategy + 3 More
            .flex
              .third
                img(src="./shared_images/vad_book_alldiagrams/pr10_manipulate-views-derive.png", alt="derive")
                ul.small
                  li.fragment Derive new data to show within view
                  li.fragment Change view over time 
                  li.fragment Facet across multiple views
                  li.fragment Reduce items/attributes within single view
              .twothirds
                img(src="../shared_images/vad_book_alldiagrams/10_manipulate-views-3-strategies.png", alt="manipulate: change, select, navigate; facet: juxtapose, parition, superimpose; reduce: filter, aggregate, embed")   
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/11_manipulate-genea.007.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/11_manipulate-genea.008.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/11_manipulate-genea.009.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/11_manipulate-genea.010.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/11_manipulate-genea.011.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/11_manipulate-genea.012.png")
          section
            h2 Idiom Design Choices: Interaction
              img(src="../shared_images/vad_book_alldiagrams/10_manipulate-views-3-strategies.png", alt="manipulate: change, select, navigate; facet: juxtapose, parition, superimpose; reduce: filter, aggregate, embed")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/11_manipulate-genea.013.png")
          section
            h2 Manipulate
            .flex
              .third 
                img(src="../shared_images/vad_book_alldiagrams/pr10_manipulate-views-change.png", alt="change over time; select")
              .third
                img(src="../shared_images/vad_book_alldiagrams/pr10_manipulate-views-navigate.png", alt="Navigate: item reduction: zoom; pan/translate; constrained")
              .third
                img(src="../shared_images/vad_book_alldiagrams/pr10_manipulate-views-attribute-reduction.png", alt="attribute reduction: slice; cut; project")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/11_manipulate-genea.014.png")
          section
          h2 Change Over Time
              ul
                li.fragment Change any of the other choices
                  ul
                    li.fragment Encoding itself
                    li.fragment Parameters
                    li.fragment Arrange: rearrange reorder
                    li.fragment Aggregation level, what is filtered...
                li.fragment Why change?
                    li.fragment One of four major strategies
                      ul
                        li.fragment Change over time
                        li.fragment Facet data by partitioning into multiple views
                        li.fragment Reduce amount of data shown within view
                    li.fragment Most obvious, powerful, flexible
                    li.fragment Interaction entails change
                
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/11_manipulate-genea.015.png")
          section
            .flex
              .half
                h2 Idiom: Re-encode
                img(src="../shared_images/vad_book_alldiagrams/pr10_manipulate-views-reencode-tableau-1.png", alt="screenshot of re-encoding from from Tableau")
                img(src="../shared_images/vad_book_alldiagrams/pr10_manipulate-views-reencode-tableau-2.png", alt="screenshot of re-encoding from from Tableau")
              .half
                h2 System: Tableau
                img(src="../shared_images/vad_book_alldiagrams/pr10_manipulate-views-reencode-tableau-3.png", alt="screenshot of re-encoding from from Tableau")
                img(src="../shared_images/vad_book_alldiagrams/pr10_manipulate-views-reencode-tableau-4.png", alt="screenshot of re-encoding from from Tableau")
            a.bottom.tiny(href="http://tableausoftware.com") Made using Tableau
          //- lineup
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/11_manipulate-genea.016.png")
          section
            .flex
              .half
                h2 Idiom: Reorder
              .half
                h2 System: DataStripes
            ul
              li.fragment What: table with many attributes
              li.frgament How: data-driven reordering by selecting column
              li.frgament Why: find correlations between attributes
            img(src="../shared_images/vad_book_alldiagrams/pr10_manipulate-views-reorder.png", alt="multiple depictions of how complex data can be ordered, by color, date, and other dimensions")
            a.bottom.tiny(href="carlmanaster.github.io/datastripes/") http://carlmanaster.github.io/datastripes/
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/11_manipulate-genea.017.png")
          section
            .flex
              .half
                h2 Idiom: Change Alignment
                ul
                  li.fragment Stacked bars
                  ul
                    li.fragment Easy to compare
                    ul
                      li.fragment First segment
                      li.fragment Total bar
                  li.fragment Align to different segment
                    li.fragment Supports flexible comparison
              .half
                h2 System: LineUp
                img(src="../shared_images/vad_book_alldiagrams/pr10_manipulate-views-change-alignment-1.png", alt="Content aligned along the left margin")
                img(src="../shared_images/vad_book_alldiagrams/pr10_manipulate-views-change-alignment-2.png", alt="Content aligned along the center margin")
                a.tiny [LineUp: Visual Analysis of Multi-Attribute Rankings.Gratzl, Lex, Gehlenborg, Pfister, and Streit. IEEE Trans. Visualization and Computer Graphics (Proc. InfoVis 2013) 19:12 (2013), 2277–2286.]
          section
            h3.demo LineUP
            //- iframe.blocks(src="http://vcg.seas.harvard.edu/files/pfister/files/2013_infovis_lineup.mp4")
            //- Video without autoplay
            span.
              <video width="100%" height="100%" controls>
                  <source src="http://vcg.seas.harvard.edu/files/pfister/files/2013_infovis_lineup.mp4" type="video/mp4">
              </video>
            a.tiny(target="_blank" href="http://vcg.seas.harvard.edu/files/pfister/files/2013_infovis_lineup.mp4") http://vcg.seas.harvard.edu/files/pfister/files/2013_infovis_lineup.mp4


          section
            h2 LineUP D3
            a(href="https://observablehq.com/@john-guerra/lineup") https://observablehq.com/@john-guerra/lineup


          //- Multilevel call matrices
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/11_manipulate-genea.018.png")
            a.bottom.tiny(target="_blank" href="http://www.win.tue.nl/vis1/home/fvham/DL/callmatrix.pdf") http://www.win.tue.nl/vis1/home/fvham/DL/callmatrix.pdf
          section
            h2 Idiom: Animated Transitions
            ul
              li.fragment Smooth interpolation from one state to another
              ul
                li.fragment Alternative to jump cuts, supports item tracking
                ul
                  li.fragment Best case for animation 
                li.fragment Staging to reduce cognitive load
              li.fragment Example: animated transitions in statistical data graphics
            img(src="pr10_manipulate-views-animated-transitions.png", alt="animated transition")
            a(href="https://vimeo.com/19278444") vimeo.com/19278444
            a.bottom.tiny(href="vis.stanford.edu/papers/animated-transitions") [Animated Transitions in Statistical Data Graphics. Heer and Robertson. IEEE TVCG (Proc InfoVis 2007) 13(6):1240-1247, 2007]
          section
            iframe.blocks(src="https://bost.ocks.org/mike/miserables/")
            a(href="https://bost.ocks.org/mike/miserables/") https://bost.ocks.org/mike/miserables/


          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/11_manipulate-genea.019.png")
          section
            h2 Select and Highlight
            .flex
              .twothirds
                ul
                  li.fragment Selection: basic operation for most interaction
                  li.fragment Design choices
                  ul
                    li.fragment How many selection types?
                    ul
                     li.fragment Interaction modalities
                      ul
                        li.fragment Click/tap (heavyweight) vs. hover (lightweight but not available on most touchscreens)
                        li.fragment Multiple click types (shift-click, option-click, …)
                        li.fragment Proximity beyond click/hover (touching vs nearby vs distant)
                     li.fragment Application semantics
                        li.fragment Adding to selection set vs replacing selection
                        li.fragment Can selection be null?
                        ul
                          li.fragment ex: toggle so nothing selected if click on background
                        li.fragment Primary vs secondary (ex: source/target nodes in network)
                        li.fragment Group membership (add/delete items, name group, …)
              .third
                img(src="../shared_images/vad_book_alldiagrams/pr10_manipulate-views-select.png", alt="Select a single plot point")
          section
            //- h2 Selection in D3
            iframe.blocks(src="https://blockbuilder.org/mbostock/7608400")
            a.tiny(href="https://blockbuilder.org/mbostock/7608400") https://blockbuilder.org/mbostock/7608400

          section
            h2 Selection with brush
            a(href="https://observablehq.com/@john-guerra/scatterplot-brush") https://observablehq.com/@john-guerra/scatterplot-brush



          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/11_manipulate-genea.020.png")
          //- LiveRac
          section
            h2 Navigate: Changing viewpoint/visibility
            .flex
              .half
                ul
                  li.fragment Change viewpoint
                  ul
                    li.fragment Changes which items are visible within view
                  li.fragment Camera metaphor
                    li.fragment Pan/translate/scroll
                    ul
                      li.fragment Move up/down/sideways
              .half
                img(src="../shared_images/vad_book_alldiagrams/pr10_manipulate-views-navigate-reduction.png", alt="Item reduction")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/11_manipulate-genea.021.png")
          section
            .flex
              .third
                h2 Idiom: Semantic Zooming
                ul
                  li.fragment Semantic zoom
                  ul
                    li.fragment Alternative to geometric zoom
                    li.fragment Resolution-aware layout adapts to available space
                    li.fragment Goal: legible at multiple scales
                    li.fragment Dramatic or subtle effects
                  li.fragment Visual encoding change
                    li.fragment Colored box
                    li.fragment Sparkline
                    li.fragment Simple line chart
                    li.fragment Full chart: axes and tickmarks
              .twothirds
                img(src="../shared_images/vad_book_alldiagrams/pr10_manipulate-views-semantic-zooming.png", alt="Semantic zooming")
            a.bottom.tiny [LiveRAC - Interactive Visual Exploration of System Management Time-Series Data. McLachlan, Munzner, Koutsofios, and North. Proc. ACM Conf. Human Factors in Computing Systems (CHI), pp. 1483–1492, 2008.]
          section
            h3.demo LiveRAC
            span.blocks
              <iframe width="853" height="480" src="https://www.youtube.com/embed/ld0c3H0VSkw" frameborder="0" allowfullscreen></iframe>

          //- Semantic vs geometric zoom
          section
            h3.demo Geometric Zoom
            iframe.blocks(src="http://blockbuilder.org/mbostock/3680958")
            a.tiny(target="_blank" href="http://blockbuilder.org/mbostock/3680958") http://blockbuilder.org/mbostock/3680958
            a.tiny(target="_blank" href="http://bl.ocks.org/mbostock/") by mbostock

          section
            h3.demo Semantic Zoom
            iframe.blocks(src="http://blockbuilder.org/mbostock/3681006")
            a.tiny(target="_blank" href="http://blockbuilder.org/mbostock/3681006") http://blockbuilder.org/mbostock/3681006
            a.tiny(target="_blank" href="http://bl.ocks.org/mbostock/") by mbostock

          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/11_manipulate-genea.022.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/11_manipulate-genea.023.png")
          section
            h2 Further Reading: Ch. 11 Manipulate
            ul
              li.fragment Starting Simple - Adding Value to Static Visualisation Through Simple Interaction.. A. Dix and G. Ellis. Proc. Advanced Visual Interfaces (AVI) 1998, 124-134.
              li.fragment Animated Transitions in Statistical Data Graphics Jeffrey Heer and George G. Robertson. IEEE TVCG (Proc. InfoVis 2007) 13(6): 1240-1247, 2007.[Archived version]
              li.fragment Selection: 524,288 Ways To Say 'This Is Interesting'. Graham J. Wills. Proc. InfoVis 1996, p 54-61.
              li.fragment Pad++: A Zooming Graphical Interface for Exploring Alternate Interface Physics Ben Bederson, and James D Hollan, Proc UIST 94.
              li.fragment LiveRAC - Interactive Visual Exploration of System Management Time-Series Data. Peter McLachlan, Tamara Munzner, Eleftherios Koutsofios, Stephen North. Proc. Conf. on Human Factors in Computing Systems (CHI) 2008, 1483-1492.
              li.fragment Rapid Controlled Movement Through a Virtual 3D Workspace Jock Mackinlay, Stuart Card, and George Robertson. Proc SIGGRAPH '90, pp 171-176.
              li.fragment Smooth and Efficient Zooming and Panning. Jack J. van Wijk and Wim A.A. Nuij, Proc. InfoVis 2003, p. 15-22.
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/11_manipulate-genea.024.png")


        section#review
          section
            h2 What we learned
            ul.small


    script(src="../js/reveal.js")
    script(src="../plugin/zoom/zoom.js")
    script(src="../plugin/notes/notes.js")
    script(src="../plugin/search/search.js")
    script(src="../plugin/markdown/markdown.js")
    script(src="../plugin/highlight/highlight.js")

    script(src="https://cdn.jsdelivr.net/npm/vega@5.13.0")
    script(src="https://cdn.jsdelivr.net/npm/vega-lite@4.13.1")
    script(src="https://cdn.jsdelivr.net/npm/vega-lite-api@0.11.0")
    script(src="https://cdn.jsdelivr.net/npm/vega-tooltip@0.23.2")
    script(src="./week4.js")



    script.
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        hash: true,
        //- transition: "convex",

        //- width: "100%",
        //- height: "720px",

        plugins: [ RevealZoom, RevealNotes, RevealSearch, RevealMarkdown, RevealHighlight ]
      });
    script.
      (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,"script","https://www.google-analytics.com/analytics.js","ga");

      ga("create", "UA-72531610-1", "auto");
      ga("send", "pageview");

