doctype html
html
  head
    title Week 4 How is visualized. MIDS W209 Information Visualization Slides
    meta(charset="utf-8")
    meta(name="author", content="John Alexis Guerra Gómez")
    meta(name="description", content="Week 4 How is visualized. MIDS W209 Information Visualization Slides")

    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fjalla+One|Raleway|PT+Sans+Narrow")

    //- Adobe fonts
    link(rel="stylesheet" href="https://use.typekit.net/yjc0afr.css")

    //- <!-- Theme used for syntax highlighting of code -->
    link(rel="stylesheet" href="../plugin/highlight/monokai.css" id="highlight-theme")


    link(href="../css/reveal.css", rel="stylesheet")
    link(href="../css/theme/white.css", rel="stylesheet", id="theme")
    link(href="../css/style.css", rel="stylesheet")


  body
    .reveal
      .slides
        section
          h1.title How is visualized
            br
            small MIDS W209: Information Visualization

          div.r-stretch

          div.tiny
            a(href="https://johnguerra.co/", target="_blank") #[strong  John Alexis Guerra Gómez]
            span  |  john.guerra[at]gmail.com
            a(href="https://twitter.com/duto_guerra")  |  @duto_guerra
            br

            a(href="https://johnguerra.co/lectures/MIDS_W209_Information_Visualization/04_How/", target="_blank") https://johnguerra.co/lectures/MIDS_W209_Information_Visualization/04_How/

          div.logo
            a(href="https://datascience.berkeley.edu/")
              img.logo(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
          div.tiny Partially based on
            a(href="https://www.cs.ubc.ca/~tmm/talks.html#minicourse14")  slides from Tamara Munzner

        //- Outline
        section#outline
          section
            h2 What we are going to learn
            ul.small
              li Marks
              li.fragment Channels
                ul
                  li.fragment Ordered
                  li.fragment Categorical
              li.fragment Expressivity
              li.fragment Effectivity

        section
          //- how
          section(data-background-size="contain" data-background="../shared_images/how_sheet.png")

        section#marksAndChannels
          section
            h1 Marks and Channels

            div#marksAndChannelsTarget


            div.tiny
              a(href="https://observablehq.com/@mitvis/data-types-graphical-marks-and-visual-encoding-channels").tiny.reference Based on chart by Aravind Satyanarayan



          //- Marks and channels
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/tamara_course14_session1-29.png")

          section
            h2 Marks
            div.flex
              div.third.fragment
                strong Point
                div#pointExample
              div.third.fragment
                strong Line
                div#lineExample
              div.third.fragment
                strong Area
                div#areaExample



          section.full
            h2 Channels
            img.demo(src="../shared_images/vad_book_alldiagrams/channels.png" alt="Channels")


          section
            h2 Points
            div.flex
              div.half
                ul
                  li Zero-dimensional
                  li Conveys position only
                  li Can be #[strong size] and #[strong shape] coded
              div.half.fragment.flex
                div#pointExample1.markExample
                div.fragment#pointExample2.markExample
                div.fragment#pointExample3.markExample
                div.fragment#pointExample4.markExample
                div.fragment#pointExample5.markExample
                div.fragment#pointExample6.markExample


          section
            h2 Lines
            div.flex
              div.half.fragment.flex
                div#lineExample1.markExample
                div.fragment#lineExample2.markExample
                div.fragment#lineExample3.markExample
                div.fragment#lineExample4.markExample
                div.fragment#lineExample5.markExample
                div.fragment#lineExample6.markExample
              div.half
                ul
                  li One-dimensional
                  li Convey position and length
                  li Can be only #[strong width] coded

          section
            h2 Areas
            div.flex
              div.half
                ul
                  li Two-dimensional
                  li Are fully constrained
              div.half.fragment.flex
                div#areaExample1.markExample
                div.fragment#areaExample2.markExample
                div.fragment#areaExample3.markExample
                div.fragment#areaExample4.markExample
                div.fragment#areaExample5.markExample
                div.fragment#areaExample6.markExample



          section.full
            h2 Channel Types
            img.demo(src="../shared_images/vad_book_alldiagrams/channels_types.png" alt="Channels")

          //- section
          //-   h2 Points
          //-   div.flex
          //-     div.third
          //-       ul
          //-         li
          //-       div#pointExample
          //-     div.third.fragment
          //-       strong Line
          //-       div#lineExample
          //-     div.third.fragment
          //-       strong Area
          //-       div#areaExample

          //-   script.
          //-     const base2 = vl.mark({tooltip: true}).data(data).encode(
          //-       vl.x().fieldO('u'),
          //-       vl.y().fieldQ('v'),
          //-       vl.color().value("#003a70")
          //-     ).width(120).height(80);

          //-     const render = (id, chart) =>
          //-       chart
          //-       .spacing(15)
          //-       .config({
          //-         view: { stroke: null },
          //-         axis: { labels:false, ticks: false, title: null, grid: false}
          //-       })
          //-       .render()
          //-       .then(chart => {
          //-         document
          //-           .getElementById(id)
          //-           .appendChild(chart);
          //-       });

          //-     render("pointExample",
          //-       vl.vconcat(
          //-         base2.mark({type:'point', size: 100}),
          //-       );
          //-     render("lineExample", base2.mark({type:'bar'}));
          //-     render("areaExample", base2.mark({type:'area'}));



          //-     const base2 = vl.mark({tooltip: true}).data(data).encode(
          //-       vl.x().fieldO('u'),
          //-       vl.y().fieldQ('v'),
          //-       vl.color().value("#003a70")
          //-     ).width(120).height(80);

          //-     const render = (id, chart) =>
          //-       chart
          //-       .spacing(15)
          //-       .config({
          //-         //- view: { stroke: null },
          //-         //- axis: { labels:false, ticks: false, title: null, grid: false}
          //-       })
          //-       .render()
          //-       .then(chart => {
          //-         document
          //-           .getElementById(id)
          //-           .appendChild(chart);
          //-       });

          //-     render("pointExample",
          //-       vl.vconcat(
          //-         base2.mark({type:'point', size: 100}).encode(vl.size().fieldN('v').legend(false)),
          //-         base2.mark({type:'point', size: 100}).encode(vl.shape().fieldN('u').legend(false)),
          //-       )
          //-     );
          //-     render("lineExample", vl.vconcat(
          //-       base2.mark({type:'bar'}),
          //-     );
          //-     render("areaExample", base2.mark({type:'area'}));

          //- Marks and channels
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/tamara_course14_session1-29.png")

          section
            h2 Channels
            div.flex
              div.third.fragment
                strong Point
                div#pointExample
              div.third.fragment
                strong Line
                div#lineExample
              div.third.fragment
                strong Area
                div#areaExample





          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/tamara_course14_session1-30.png")
          section
            h3 What marks and channels?
            img.demo(src="../shared_images/visualEncoding1.png")
          section(data-transition="none")
            h3 What marks and channels?
            img.demo(src="../shared_images/visualEncoding1_answer.png")
          section
            h3 What marks and channels?
            img.demo(src="../shared_images/visualEncoding2.png")
          section(data-transition="none")
            h3 What marks and channels?
            img.demo(src="../shared_images/visualEncoding2_answer.png")
          section
            h3 What marks and channels?
            img.demo(src="../shared_images/visualEncoding3.png")
          section(data-transition="none")
            h3 What marks and channels?
            img.demo(src="../shared_images/visualEncoding3_answer.png")
          section
            h3 What marks and channels?
            img.demo(src="../shared_images/visualEncoding4.png")
          section(data-transition="none")
            h3 What marks and channels?
            img.demo(src="../shared_images/visualEncoding4_answer.png")


          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/tamara_course14_session1-31.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/tamara_course14_session1-32.png")

          section
            figure
              img(src="../shared_images/bertin-variables.png", alt="")
              figcaption.reference
                a(href="https://observablehq.com/@d3/learn-d3-scales?collection=@d3/learn-d3") From Semiology of Graphics, colorized by mbostock.


          section
            h2 Effectiveness and Expressiveness

          section
            h2 Expressiveness
            ul
              li.fragment Visual encoding should express all of, and only, the information in the dataset
              li.fragment Ordered data should be shown in a way we perceive as ordered
              li.fragment Match channel and data characteristics
          section
            h2 Effectiveness
            p Encode most important attributes with highest ranked channels
            p.tiny [Automating the Design of Graphical Presentations of Relational Information. Mackinlay.  ACM Trans. on Graphics (TOG) 5:2 (1986), 110–141]

          section
            h2 Where does the ranking come from?

            ul
              li.fragment Accuracy
              li.fragment Discriminability
              li.fragment Separability
              li.fragment Popout

          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/tamara_course14_session1-33.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/tamara_course14_session1-34.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/tamara_course14_session1-35.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/tamara_course14_session1-36.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/tamara_course14_session1-37.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/tamara_course14_session1-38.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/tamara_course14_session1-39.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/tamara_course14_session1-40.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/tamara_course14_session1-41.png")




        section#review
          section(data-background-size="contain" data-background="../shared_images/how_sheet.png")#what

          section
            h1 What we learned
            ul
              li


    script(src="../js/reveal.js")
    script(src="../plugin/zoom/zoom.js")
    script(src="../plugin/notes/notes.js")
    script(src="../plugin/search/search.js")
    script(src="../plugin/markdown/markdown.js")
    script(src="../plugin/highlight/highlight.js")

    script(src="https://cdn.jsdelivr.net/npm/vega@5.13.0")
    script(src="https://cdn.jsdelivr.net/npm/vega-lite@4.13.1")
    script(src="https://cdn.jsdelivr.net/npm/vega-lite-api@0.11.0")
    script(src="./week4.js")



    script.
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        hash: true,
        //- transition: "convex",

        //- width: "90%",
        //- height: "100%",

        plugins: [ RevealZoom, RevealNotes, RevealSearch, RevealMarkdown, RevealHighlight ]
      });
    script.
      (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,"script","https://www.google-analytics.com/analytics.js","ga");

      ga("create", "UA-72531610-1", "auto");
      ga("send", "pageview");
