doctype html
html(lang="en")
  head
    title Week 13 Reducing Attributes and Rows. MIDS W209 Information Visualization Slides
    meta(charset="utf-8")
    meta(name="author", content="John Alexis Guerra Gómez")
    meta(name="description", content="Week 6 Reducing attributes and rows. MIDS W209 Information Visualization Slides")

    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fjalla+One|Raleway|PT+Sans+Narrow")

    //- Adobe fonts
    link(rel="stylesheet" href="https://use.typekit.net/yjc0afr.css")

    //- <!-- Theme used for syntax highlighting of code -->
    link(rel="stylesheet" href="../plugin/highlight/monokai.css" id="highlight-theme")


    link(href="../css/reveal.css", rel="stylesheet")
    link(href="../css/theme/white.css", rel="stylesheet", id="theme")
    link(href="../css/style.css", rel="stylesheet")


  body
    .reveal
      .slides
        section
          h1.title Reducing Attributes and Rows
            br
            small MIDS W209: Information Visualization

          div.r-stretch

          div.tiny
            a(href="https://johnguerra.co/", target="_blank") #[strong  John Alexis Guerra Gómez]
            span  |  john.guerra[at]gmail.com
            a(href="https://twitter.com/duto_guerra")  |  @duto_guerra
            br

            a(href="https://andyreagan.com/", target="_blank") #[strong  Andy Reagan]
            span  |  andy[at]andyreagan.com |
            a(href="https://twitter.com/andyreagan") @andyreagan
            br

            a(href="https://johnguerra.co/lectures/MIDS_W209_Information_Visualization/06_Tabular/", target="_blank") https://johnguerra.co/lectures/MIDS_W209_Information_Visualization/06_Tabular/

          div.logo
            a(href="https://datascience.berkeley.edu/")
              img.logo(data-src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
          div.tiny Partially based on
            a(href="https://www.cs.ubc.ca/~tmm/talks.html#minicourse14")  slides from Tamara Munzner

        //- Outline
        section#outline
          section
            h2 What We Are Going to Learn
            ul.small

          section
            div
              img(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
        section#reduceItemsAndAttributes
          section
            h1 Reduce Items and Attributes
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.003.png")
          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.004.png")



          section.full
            h3.demo Reduce Items and Attributes
            .flex
              .half
                ul
                  li.fragment Reduce / Increase: inverses
                  li.fragment Filter
                    ul.small
                      li.fragment Pro: straightforward and intuitive
                        ul.small
                          li.fragment To understand and compute
                      li.fragment Con: out of sight, out of mind
                  li.fragment Aggregation
                    ul
                      li.fragment Pro: inform about whole set
                      li.fragment Con: difficult to avoid losing signal
                  li.fragment Not mutually exclusive
                    ul
                      li.fragment Combine filter, aggregate
                      li.fragment Combine reduce, change, facet
              .half
                img(data-src="../shared_images/vad_book_alldiagrams/pr13_reduce-items-attributes.png", alt="Filter by items and by attributes; aggregate by items and by attributes; reduce filter and aggregate")


          section
            div
              img(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
        section#itemFiltering
          section
            h1 Item Filtering

          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.005.png")
          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.006.png")

          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.008.png")


          SECTION
            h2 Crossfiltering

            ul
              li.fragment Item filtering
              li.fragment Coordinated views/controls combined
              li.fragment All scented histogram bisliders update when any ranges change

          section
            h2 Faceted Search

          section.full
            h3.demo Idiom: Scented Widgets
            .flex
              .twothirds
                ul.small
                  li.fragment Augmented widgets show information scent
                    ul.small
                      li.fragment Cues to show whether value in drilling down further vs looking elsewhere
                  li.fragment Concise use of space: histogram on slider
                br
                figure
                  img(style="width:450px", data-src="../shared_images/vad_book_alldiagrams/pr13_reduce-scented-widgets1.png", alt="Scented Widgets full application")
                  figcaption.reference
                    a(href="www.win.tue.nl/~selzen/paper/InfoVis2014.pdf") [Multivariate Network Exploration and Presentation: From Detail to Overview via Selections and Aggregations.  van den Elzen, van Wijk, IEEE TVCG 20(12): 2014 (Proc. InfoVis 2014).]
              .third
                figure
                  img(data-src="../shared_images/vad_book_alldiagrams/pr13_reduce-scented-widgets2.png", alt="Scented Widgets example")
                  img(data-src="../shared_images/vad_book_alldiagrams/pr13_reduce-scented-widgets3.png", alt="Scented Widgets filters' panel")
                  figcaption.reference
                    a [Scented Widgets: Improving Navigation Cues with Embedded Visualizations. Willett, Heer, and Agrawala. IEEE TVCG (Proc. InfoVis 2007) 13:6 (2007), 1129–1136.]


          section.demo
            h3.demo Scented widgets paper
            figure
              figcaption.reference.tiny(target="_blank" href="http://vis.berkeley.edu/papers/scented_widgets/") http://vis.berkeley.edu/papers/scented_widgets/
              iframe.blocks(data-src="http://vis.berkeley.edu/papers/scented_widgets/")


          section.demo
            h2 Navio
            figure
              img(data-src="../shared_images/navio_thumb_v4.gif", alt="Navio Demo")
              figcaption.reference
                a(target="_blank" href="https://navio.dev") https://navio.dev


          section
            div
              img(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
        section#attributeFiltering
          section
            h1 Attribute Filtering


          //- DOSFA
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.007.png")

          section
            h2 DOSFA Paper
            a.small(target="_blank" href="http://www.cs.ubc.ca/~tmm/courses/cpsc533c-04-spr/readings/dimorder.pdf") http://www.cs.ubc.ca/~tmm/courses/cpsc533c-04-spr/readings/dimorder.pdf

          section
            h2 Navio Load Notebook

          section
            h2 UMAP Playground

          section
            h2 Dimensionality Reduction

          section
            h2 Aggregation: Hierarchichal cluster explorer


          section
            div
              img(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
        section#itemAggregation
          section
            h1 Item Aggregation

          section
            h2 Idiom: Histogram
            .flex
              .half
                ul.small
                  li.fragment Static item aggregation
                  li.fragment Task: find distribution
                  li.fragment Data: table
                  li.fragment Derived data
                  ul.small
                    li.fragment New table: keys are bins, values are counts
                  li.fragment Bin size crucial
                    li.fragment Pattern can change dramatically depending on discretization
                    li.fragment Opportunity for interaction: control bin size on the fly
              .half
                img(data-src="../shared_images/vad_book_alldiagrams/pr13_reduce-histogram.png", alt="Histogram")


          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.009.png")
          section
            h2 Idiom: Boxplot
            .flex
              .half
                ul.small
                  li.fragment Static item aggregation
                  li.fragment Task: find distribution
                  li.fragment Data: table
                  li.fragment Derived data
                  ul.small
                    li.fragment 5 quant attribs
                    ul.small
                      li.fragment Median: central line
                      li.fragment Lower and upper quartile: boxes
                      li.fragment Lower upper fences: whiskers
                      ul.small
                        li.fragment Values beyond which items are outliers
                    li.fragment Outliers beyond fence cutoffs explicitly shown
              .half
                figure
                  img(data-src="../shared_images/vad_book_alldiagrams/pr13_reduce-boxplot.png", alt="Boxplot")
                  figcaption.reference [40 years of boxplots. Wickham and Stryjewski. 2012. had.co.nz]
          section
            h3.demo Box Plot
            iframe.blocks(data-src="http://blockbuilder.org/mbostock/4061502")
            a.tiny(target="_blank" href="http://blockbuilder.org/mbostock/4061502") http://blockbuilder.org/mbostock/4061502
            a.tiny(target="_blank" href="http://bl.ocks.org/mbostock/") by mbostock

          section
            h3.demo Violin plot
            iframe.blocks(data-src="http://blockbuilder.org/asielen/92929960988a8935d907e39e60ea8417")
            a.tiny(target="_blank" href="http://blockbuilder.org/asielen/92929960988a8935d907e39e60ea8417") http://blockbuilder.org/asielen/92929960988a8935d907e39e60ea8417
            a.tiny(target="_blank" href="http://bl.ocks.org/asielen/") by asielen


          section
            h2 Idiom: 2D density plots
            .flex
              .half
                ul.small
                  li.fragment Scatter-plot meet heat-map
                  ul
                    li.fragment derived data
                    ul
                      li.fragment Teselate space info areas
                      li.fragment Count number of elements falling on that area

                    li.fragment #[strong Mark]: Dots (boxes)
                    li.fragment #[strong Channels]:
                    ul
                      li.fragment Position: Location of areas
                      li.fragment Color (brightness): Number of elements
                    ul
                      li.fragment marks (re-)ordered by cluster hierarchy traversal
                    li.fragment #[strong Tasks]: Summarize distribution.
                    li.fragment #[strong Scalability:]
                    ul
                      li.fragment Millions of rows (might require preprocessing)

              .half.
                <div id="observablehq-d74d4a6f">
                  <div class="r-stack">
                    <div class="fragment observablehq-moviesScatterplot"></div>
                    <div class="fragment observablehq-moviesDensityCircles"></div>
                    <div class="fragment observablehq-moviesDensityBoxes"></div>
                  </div>
                  <div style="overflow: hidden;"><a style="display: block; float:right;" href="https://observablehq.com/@john-guerra/data-transformation@307"><object type="image/svg+xml" style="pointer-events: none;" width=180 height=22 data="https://static.observableusercontent.com/files/c3fab254a006f1a3a1f9f63aba8ab1460db4752529036b9962950bde0ec195bab823daa6b278b1c3401e545b3bd640ddfdcad805cf9859af218cb2b9fed4ddf0"></object></a></div>
                </div>
                <script type="module">
                  import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
                  import define from "https://api.observablehq.com/@john-guerra/data-transformation@307.js?v=3";
                  (new Runtime).module(define, name => {
                    if (name === "moviesScatterplot") return Inspector.into("#observablehq-d74d4a6f .observablehq-moviesScatterplot")();
                    if (name === "moviesDensityCircles") return Inspector.into("#observablehq-d74d4a6f .observablehq-moviesDensityCircles")();
                    if (name === "moviesDensityBoxes") return Inspector.into("#observablehq-d74d4a6f .observablehq-moviesDensityBoxes")();
                  });
                </script>

          section.full
            h2 Interactive Density Plot
            div.
              <div id="observablehq-8ab2bcad">
                <div class="observablehq-chart"></div>
                <div style="overflow: hidden;"><a style="display: block; float:right;" href="https://observablehq.com/@john-guerra/density-plot"><object type="image/svg+xml" style="pointer-events: none;" width=180 height=22 data="https://static.observableusercontent.com/files/c3fab254a006f1a3a1f9f63aba8ab1460db4752529036b9962950bde0ec195bab823daa6b278b1c3401e545b3bd640ddfdcad805cf9859af218cb2b9fed4ddf0"></object></a></div>
              </div>
              <script type="module">
                import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
                import define from "https://api.observablehq.com/@john-guerra/density-plot.js?v=3";
                (new Runtime).module(define, name => {
                  if (name === "chart") return Inspector.into("#observablehq-8ab2bcad .observablehq-chart")();
                });
              </script>

          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.010.png")


          section.full
            h4.demo Idiom: Hierarchical Parallel Coordinates
            ul.small
              li.fragment Dynamic item aggregation
              li.fragment Derived data: hierarchical clustering
              li.fragment Encoding:
              ul.small
                li.fragment Cluster band with variable transparency, line at mean, width by min/max values
                li.fragment Color by proximity in hierarchy

            figure
              img(data-src="../shared_images/vad_book_alldiagrams/pr13_reduce-hierarchical-clustering.png", alt="")
              figcaption.reference [Hierarchical Parallel Coordinates for Exploration of Large Datasets. Fua, Ward, and Rundensteiner. Proc. IEEE Visualization Conference (Vis ’99), pp. 43– 50, 1999.]


          section
            div
              img(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
        section#spatialAggregation
          section
            h1 Spatial Aggregation

          section
            h2 Geo level
            ul
              li.fragment Country
              li.fragment State
              li.fragment City
              li.fragment Neighborhood


          section
            h2 Aggregation Problems
            ul
              li.fragment MAUP: Modifiable Areal Unit Problem
              li.fragment gerrymandering (manipulating voting district boundaries) is only one example!
              li.fragment zone effects
              li.fragment scale effects

          //- TODO Add examples


          section
            h2 Overlapping
            ul
              li Zip Codes
              li Disputed borders

          section
            h2 Regions

            ul
              li Aggregate by commonalities
                ul
                  li.fragment e.g. Agricultural vs Industrial Regions
                  li.fragment e.g. Historically right vs left wing
              li Aggregate by the data attributes

          section
            h2 Geo patterns vs political patterns

            ul
              li Risaralda example


          section
            div
              img(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
        section#spatialAggregation
          section
            h1 Time Aggregation

          section
            h2 Date Part vs Truncate

            ul
              li.fragment Date Part: extract a part of the date
              li.fragment Date Truncate: cut the date at a certain level

          section
            h2 Date Truncate

            ul
              li Different levels can hide seasonality
              li Sometimes too much detail is unnecessary

          section
            h2 Date Part

            ul
              li Useful for highlighting human patterns
                ul
                  li Weekends
                  li Night time
                  li Holidays
                  li Summer vs Winter

          section
            h2 Calendar Views



          section
            div
              img(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
        section#dimensionalityReduction
          section
            h1 Dimensionality Reduction


          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.011.png")
          section.full
            h3.demo Dimensionality Reduction
            ul.small
              li.fragment Attribute aggregation
              ul.small
                li.fragment Derive low-dimensional target space from high-dimensional measured space
                ul.small
                  li.fragment Capture most of variance with minimal error
                li.fragment Use when you can’t directly measure what you care about
                  li.fragment True dimensionality of dataset conjectured to be smaller than dimensionality of measurements
                  li.fragment Latent factors, hidden variables
            img(data-src="../shared_images/vad_book_alldiagrams/pr13_reduce-dimensionality.png", alt="Taking tumor measurement data in 9D measured space and running dimensionality reduction derives that data in a 2D target space where it is easier to see groupings of benign and malignant tumors")


          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.012.png")

          section.full
            h4 Dimensionality Reduction for Documents
            img.fill(data-src="../shared_images/vad_book_alldiagrams/pr13_reduce-dimensionality-for-documents.png", alt="")


          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.013.png")
          section
            h4 Dimensionality vs. Attribute Reduction
            ul.normal.small
              li.fragment Vocab use in field not consistent
                ul.small
                  li.fragment Dimension/attribute
              li.fragment Attribute reduction: reduce set with filtering
                ul
                  li.fragment Includes orthographic projection
              li.fragment Dimensionality reduction: create smaller set of new dims/attribs
                ul
                  li.fragment Typically implies dimensional aggregation, not just filtering
                  li.fragment Vocab: projection/mapping

          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.014.png")
          section
            h3 Estimating True Dimensionality
            ul.tiny
              li.fragment How do you know when you would benefit from DR?
                ul.small
                  li.fragment Consider error for low-dim projection vs. high-dim projection
              li.fragment No single correct answer; many metrics proposed
                ul
                  li.fragment Cumulative variance that is not accounted for
                  li.fragment Strain: Match variations in distance (vs. actual distance values)
                  li.fragment Stress: Difference between interpoint distances in high and low dims


            img(style="width:400px", data-src="../shared_images/vad_book_alldiagrams/pr13_estimate-true-dimensionality.png", alt="Stresss Function")



          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.015.png")
          section
            h3 Estimating True Dimensionality
            ul.small
              li.fragment Scree plots as simply way: error against # attribs
                ul.small
                  li.fragment Original dataset: 294 dims
                  li.fragment Estimate: Almost all variance preserved with less than 20 dims
            figure
              img(style="width:400px", data-src="../shared_images/vad_book_alldiagrams/spree_plots.png", alt="Spree Plots")
              figcaption.reference [Fig 2. DimStiller: Workflows for dimensional analysis and reduction. Ingram et al. Proc. VAST 2010, p 3-10]


          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.016.png")
          section
            h3 Dimensionality Reduction and Visualization
            ul.small
              li.fragment Why do people do DR?
                ul.small
                  li.fragment Improve performance of downstream algorithm
                    ul.small
                      li.fragment Avoid curse of dimensionality
                  li.fragment Data analysis
                    ul
                      li.fragment If look at the output: visual data analysis
              li.fragment Abstract tasks when visualizing DR data
                ul
                  li.fragment Dimension-oriented tasks
                  li.fragment Naming synthesized dims, mapping synthesized dims to original dims
                li.fragment Cluster-oriented tasks
                  ul
                    li.fragment Verifying clusters, naming clusters, matching clusters and classes
            div.reference [Visualizing Dimensionally-Reduced Data: Interviews with Analysts and a Characterization of Task Sequences. Brehmer, Sedlmair, Ingram, and Munzner. Proc. BELIV 2014.]


          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.017.png")
          section.full
            h3.demo Linear Dimensionality Reduction
            ul.small
              li.fragment Principal components analysis (PCA)
              ul.small
                li.fragment Finding axes: first with most variance, second with next most, …
                li.fragment Describe location of each point as linear combination of weights for each axis
                ul.small
                  li.fragment Mapping synthesized dims to original dims
            figure
              img(style="width:300px", data-src="../shared_images/vad_book_alldiagrams/pr13_reduce-dimensionality-scatterplot.png", alt="Linear Dimensionality Reduction")
              figcaption.reference
                a(href="https://en.wikipedia.org/wiki/File:GaussianScatterPCA.png") [http://en.wikipedia.org/wiki/File:GaussianScatterPCA.png]
          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.018.png")

          section
            h4 Nonlinear Dimensionality Reduction
            ul.tiny
              li.fragment Pro: can handle curved rather than linear structure
              li.fragment Cons: lose all ties to original dims/attribs
                ul.small
                  li.fragment New dimensions often cannot be easily related to originals
                    ul.small
                      li.fragment Mapping synthesized dims to original dims task is difficult
              li.fragment Many techniques proposed
                li.fragment Many literatures: visualization, machine learning, optimization, psychology, ...
                li.fragment Techniques: t-SNE, MDS (multidimensional scaling), charting, isomap, LLE,…
                  li.fragment t-SNE: excellent for clusters
                    ul.small
                      li.fragment But some trickiness remains: http://distill.pub/2016/misread-tsne/
                  li.fragment MDS: confusingly, entire family of techniques, both linear and nonlinear
                    ul
                      li.fragment Minimize stress or strain metrics
                      li.fragment Early formulations equivalent to PCA

          section
            h3.demo t-SNE Explorations
            iframe.blocks(data-src="http://distill.pub/2016/misread-tsne/")
            a.tiny(target="_blank" href="http://distill.pub/2016/misread-tsne/") http://distill.pub/2016/misread-tsne/


          section
            h3.demo Interactive T-SNE
            div Project by Fabián Peña
            a.tiny(href="https://fabiancpl.github.io/MLExplore.js/") https://fabiancpl.github.io/MLExplore.js/




          section
            div
              img(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
        section#focusContext
          section
            h1 Embed, Focus+Context


          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.003.png")
          section
            h2 Embed: Focus+Context
            .flex
              .twothirds
                ul.small
                  li.fragment Combine information within single view
                  li.fragment Elide
                    ul.small
                      li.fragment Selectively filter and aggregate
                  li.fragment Superimpose layer
                    ul
                      li.fragment Local lens
                  li.fragment Distortion design choices
                    ul
                      li.fragment Region shape: radial, rectilinear, complex
                      li.fragment How many regions: one, many
                      li.fragment Region extent: local, global
                      li.fragment Interaction metaphor
              .third
                figure
                  img(data-src="../shared_images/vad_book_alldiagrams/pr13_embed-focus-context.png", alt="elide data, superimpose data, distort geometry")
          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.004.png")
          section.full
            h3 Idiom: DOITrees Revisited
            ul
              li.fragment Elide
              ul.small
                li.fragment Some items dynamically filtered out
                li.fragment Some items dynamically aggregated together
                li.fragment Some items shown in detail
            figure.noMarginTopBottom
              img(data-src="../shared_images/vad_book_alldiagrams/pr13_embed-doitrees.png", alt="")
              figcaption.reference [DOITrees Revisited: Scalable, Space-Constrained Visualization of Hierarchical Data. Heer and Card. Proc. Advanced Visual Interfaces (AVI), pp. 421–424, 2004.]

          //- Fish eye
          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.005.png")
          section
            h2 Idiom: Fisheye Lens
            .flex
              .half
                ul.small
                  li.fragment Distort geometry
                    ul.small
                      li.fragment Shape: radial
                      li.fragment Focus: single extent
                      li.fragment Extent: local
                      li.fragment Metaphor: draggable lens
                img(data-src="../shared_images/vad_book_alldiagrams/pr13_embed-fisheye1.png", alt="")
              .half
                img(data-src="../shared_images/vad_book_alldiagrams/pr13_embed-fisheye2.png", alt="")
          section
            h3.demo Fish eye
            iframe.blocks(data-src="https://bost.ocks.org/mike/fisheye/")
            a.tiny(target="_blank" href="https://bost.ocks.org/mike/fisheye/") https://bost.ocks.org/mike/fisheye/
            a.tiny(target="_blank" href="http://bl.ocks.org/mbostock/") by mbostock

          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.006.png")
          section.full
            h3.demo Idiom: Stretch and Squish Navigation
            .flex
              .half
                div.small.left-align System: TreeJuxtaposer
                ul.tiny(style="margin-top:20px")
                  li.fragment Distort geometry
                    ul
                      li.fragment Shape: rectilinear
                      li.fragment Foci: multiple
                      li.fragment Impact: global
                      li.fragment Metaphor: stretch and squish, borders fixed
                figure
                  img(style="width:300px", data-src="../shared_images/vad_book_alldiagrams/pr13_embed-stretch-and-squish1.png", alt="")
                  figcaption.reference
                    a(href="https://youtu.be/GdaPj8a9QEo") [https://youtu.be/GdaPj8a9QEo]
              .half
                figure
                  img(data-src="../shared_images/vad_book_alldiagrams/pr13_embed-stretch-and-squish2.png", alt="")
                  figcaption.reference [TreeJuxtaposer: Scalable Tree Comparison Using Focus+Context With Guaranteed Visibility. Munzner, Guimbretiere, Tasiran, Zhang, and Zhou. ACM Transactions on Graphics (Proc. SIGGRAPH) 22:3 (2003), 453– 462.]


          section
            h2 Distortion Costs and Benefits
            div.flex
              div.half
                ul.tiny
                  li.fragment Benefits
                    ul
                      li.fragment Combine focus and context information in single view
                  li.fragment Costs
                    ul
                      li.fragment Length comparisons impaired
                        ul
                          li.fragment Network/tree topology comparisons unaffected: connection, containment
                    li.fragment Effects of distortion unclear if original structure unfamiliar
                    li.fragment Object constancy/tracking maybe impaired

                a.reference(href="https://www.youtube.com/watch?v=hm2oFBqVM9o") [https://www.youtube.com/watch?v=hm2oFBqVM9o]
              div.half
                figure
                  img(data-src="../shared_images/vad_book_alldiagrams/pr13_embed-distortion.png", alt="")
                  figcaption.reference.tiny [Living Flows: Enhanced Exploration of Edge-Bundled Graphs Based on GPU-Intensive Edge Rendering. Lambert, Auber, and Melançon. Proc. Intl. Conf. Information Visualisation (IV), pp. 523–530, 2010.]

          section
            div
              img(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
        section
          section
            h3 Exploratory Data Analysis (EDA)

          section(data-background-size="contain" data-background="../shared_images/haystack.png")
            h3 What's in the data?

          section
            h3 Tukey
            p(style="text-align: left;" class="small") #[span.fragment #[strong Exposure], the effective laying open of the data to display the unanticipated, is to us a major portion of data analysis.] #[span.fragment Formal statistics has given almost no guidance to exposure;] #[span.fragment indeed, it is not clear how the #[strong informality] and #[strong flexibility] appropriate to the #[strong exploratory character of exposure] can be fitted into any of the structures of formal statistics so far proposed.]
            p(style="text-align: left;" class="small") #[span.fragment Nothing - not the careful logic of mathematics, not statistical models and theories, not the awesome arithmetic power of modern computers - nothing can substitute here for the #[strong flexibility of the informed human mind].] #[span.fragment Accordingly, both approaches and techniques need to be structured so as to #[strong facilitate human involvement and intervention].]

          section
            h3 Summary statistics
            ul
              li Useful to look at clean data, that you understand & trust.
              li Can be misleading.
              li Remember the datasaurus!


          section
            h3 Data munging
            img(data-src="../shared_images/data_munging.png")

          section
            h3 60%

          section
            h3 Data munging
            img(data-src="../shared_images/data_file_messy.png")

          section
            h3 Data munging
            img(data-src="../shared_images/data_file_clean.png")

          section
            h3 Data quality hurdles
            ul
              li Missing Data.
              li Erroneous Values.
              li Type Conversion.
              li Entity Resolution.
              li Data Integration.

          section
            h3 More bad data
            img(data-src="../shared_images/data_file_worse.png")

          section
            h3 Data filtering
            div.flex
              div.third
                span 5.77967973162 3.26834145824 0.06418251738 4.38979192127 4.68302244707 4.82366715649 4.68587041117 0.04360063509 5.90498807235 4.3618070355 0.0017977901 4.9891841837 4.56259294774 5.44050157565 5.19592386044 15.6959515181 3.22732340991 5.57228018649 3.7148892443 5.00286245308 4.68302244707 4.82366715649 4.68587041117 0.04360063509 5.90498807235 4.68302244707
              div.twothirds
                img(data-src="../shared_images/ship.png")

          section
            img(data-src="../shared_images/fish_weights.png")

          section
            h4 The first sign that a visualization is good is that it shows you a problem in your data.
            p Wattenberg

          section
            h3 Data Tranformations and Iteration

          section
            h3 Looks like this:
            img(data-src="../shared_images/pandas-screen.png")

          section
            h3 Think of it as a data cube:
            img(data-src="../shared_images/data-cube.png")

          section
            h3 Common transformations
            ul
              li Normalize.
              li Log.
              li Power.
              li Binning.
              li Grouping.

          section
            h3 Histograms, histograms, histograms
            p.fragment An cornerstone in the EDA toolbox!
            p.fragment “Above all else show the data” -Tufte

          section
            h3 Correlation
            img(data-src="../shared_images/gapminder.png")

          section
            h3 Hypothesis generation
            img(data-src="../shared_images/splom.png")

          section
            h3 Mantras
            ul
              li.fragment Be skeptical: what assumptions have been made?
              li.fragment Explore iteratively: start simple, keep asking questions.
              li.fragment Avoid fixation: use a variety of graphics to inspect more angles.

          section
            h3 Paradoxes
            img(data-src="../shared_images/simpsons_paradox.png")

          section
            h3 Which one has the real data?
            p
              img(data-src="../shared_images/wickham.png")
            p
              a(href="http://jonathanstray.com/papers/wickham.pdf") Graphical Inference for Infovis

          section
            h3 Iteration demo
            img(data-src="../shared_images/hedo01.png")

          section
            img(data-src="../shared_images/hedo02.png")

          section
            img(data-src="../shared_images/hedo03.png")

          section
            h3 Check on NaNs
            img(data-src="../shared_images/hedo04.png")

          section
            h3 Polyhanna?
            img(data-src="../shared_images/hedo05.png")

          section
            img(data-src="../shared_images/hedo06.png")

          section
            img(data-src="../shared_images/hedo07.png")

          section
            img(data-src="../shared_images/hedo08.png")

          section
            img(data-src="../shared_images/hedo09.png")

          section
            img(data-src="../shared_images/hedo08.png" height="300px")
            img(data-src="../shared_images/hedo09.png" height="300px")

          section
            div
              img(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
        section#review
          section
            h2 What we learned
            ul.small
          section
            div
              img(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")

        //- section#extraTreeJuxtaposer
        //-   section
        //-     h1 Extra TreeJuxtaposer

        //-   section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.009.png")

        //-   section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.010.png")

        //-   section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.011.png")

        //-   section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.012.png")

        //-   section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.013.png")

        //-   section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.014.png")

        //-   section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.015.png")

        //-   section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.016.png")

        //-   section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.017.png")

        //-   section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.018.png")

        //-   section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.019.png")
        //-   section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.020.png")
        //-   section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.021.png")
        //-   section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.022.png")
        //-   section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.023.png")
        //-   section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.024.png")
        //-   section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.025.png")
        //-   section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.026.png")
        //-   section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.027.png")
        //-   section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.028.png")


    script(src="../js/reveal.js")
    script(src="../plugin/zoom/zoom.js")
    script(src="../plugin/notes/notes.js")
    script(src="../plugin/search/search.js")
    script(src="../plugin/markdown/markdown.js")
    script(src="../plugin/highlight/highlight.js")

    script(src="https://cdn.jsdelivr.net/npm/vega@5.13.0")
    script(src="https://cdn.jsdelivr.net/npm/vega-lite@4.13.1")
    script(src="https://cdn.jsdelivr.net/npm/vega-lite-api@0.11.0")
    script(src="https://cdn.jsdelivr.net/npm/vega-tooltip@0.23.2")


    script.
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        hash: true,
        //- transition: "convex",

        //- width: "100%",
        //- height: "720px",

        plugins: [ RevealZoom, RevealNotes, RevealSearch, RevealMarkdown, RevealHighlight ]
      });
    script.
      (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.data-src=g;m.parentNode.insertBefore(a,m)
      })(window,document,"script","https://www.google-analytics.com/analytics.js","ga");

      ga("create", "UA-72531610-1", "auto");
      ga("send", "pageview");

