doctype html
html(lang="en")
  head
    title Week 13 Reducing Attributes and Rows. MIDS W209 Information Visualization Slides
    meta(charset="utf-8")
    meta(name="author", content="John Alexis Guerra Gómez")
    meta(name="description", content="Week 6 Reducing attributes and rows. MIDS W209 Information Visualization Slides")

    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fjalla+One|Raleway|PT+Sans+Narrow")

    //- Adobe fonts
    link(rel="stylesheet" href="https://use.typekit.net/yjc0afr.css")

    //- <!-- Theme used for syntax highlighting of code -->
    link(rel="stylesheet" href="../plugin/highlight/monokai.css" id="highlight-theme")


    link(href="../css/reveal.css", rel="stylesheet")
    link(href="../css/theme/white.css", rel="stylesheet", id="theme")
    link(href="../css/style.css", rel="stylesheet")


  body
    .reveal
      .slides
        section
          h1.title Reducing Attributes and Rows
            br
            small MIDS W209: Information Visualization

          div.r-stretch

          div.tiny
            a(href="https://johnguerra.co/", target="_blank") #[strong  John Alexis Guerra Gómez]
            span  |  john.guerra[at]gmail.com
            a(href="https://twitter.com/duto_guerra")  |  @duto_guerra
            br

            a(href="https://johnguerra.co/lectures/MIDS_W209_Information_Visualization/06_Tabular/", target="_blank") https://johnguerra.co/lectures/MIDS_W209_Information_Visualization/06_Tabular/

          div.logo
            a(href="https://datascience.berkeley.edu/")
              img.logo(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
          div.tiny Partially based on
            a(href="https://www.cs.ubc.ca/~tmm/talks.html#minicourse14")  slides from Tamara Munzner

        //- Outline
        section#outline
          section
            h2 What We Are Going to Learn
            ul.small

        section
          section
            h2 Reduce Items and Attributes
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.003.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.004.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.005.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.006.png")

          section.demo
            h2 Scented widgets paper
            iframe.blocks(src="http://vis.berkeley.edu/papers/scented_widgets/")
            a.tiny(target="_blank" href="http://vis.berkeley.edu/papers/scented_widgets/") http://vis.berkeley.edu/papers/scented_widgets/

          section.demo
            h2 Navio
            a.tiny(target="_blank" href="https://observablehq.com/@john-guerra/navio-load") https://observablehq.com/@john-guerra/navio-load


          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.007.png")

          section
            h2 DOSFA Paper
            a.small(target="_blank" href="http://www.cs.ubc.ca/~tmm/courses/cpsc533c-04-spr/readings/dimorder.pdf") http://www.cs.ubc.ca/~tmm/courses/cpsc533c-04-spr/readings/dimorder.pdf


          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.008.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.009.png")

          section
            h3.demo Box Plot
            iframe.blocks(src="http://blockbuilder.org/mbostock/4061502")
            a.tiny(target="_blank" href="http://blockbuilder.org/mbostock/4061502") http://blockbuilder.org/mbostock/4061502
            a.tiny(target="_blank" href="http://bl.ocks.org/mbostock/") by mbostock

          section
            h3.demo Violin plot
            iframe.blocks(src="http://blockbuilder.org/asielen/92929960988a8935d907e39e60ea8417")
            a.tiny(target="_blank" href="http://blockbuilder.org/asielen/92929960988a8935d907e39e60ea8417") http://blockbuilder.org/asielen/92929960988a8935d907e39e60ea8417
            a.tiny(target="_blank" href="http://bl.ocks.org/asielen/") by asielen

          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.010.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.011.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.012.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.013.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.014.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.015.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.016.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.017.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.018.png")


          section
            h3.demo t-SNE Explorations
            iframe.blocks(src="http://distill.pub/2016/misread-tsne/")
            a.tiny(target="_blank" href="http://distill.pub/2016/misread-tsne/") http://distill.pub/2016/misread-tsne/


          section
            h3.demo Interactive T-SNE
            div Project by Fabián Peña
            a.tiny(href="https://fabiancpl.github.io/MLExplore.js/") https://fabiancpl.github.io/MLExplore.js/


          //- section
          //-   h3 More extras
          //-   p Tamara's slides on her work on dimensionality reduction

          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.019.png")
          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.020.png")
          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.021.png")
          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.022.png")
          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.023.png")
          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.024.png")
          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.025.png")
          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.026.png")
          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.027.png")
          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.028.png")
          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.029.png")
          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.030.png")
          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/14_reduce-glimmer.031.png")



        section
          section
            h3 Embed, Focus+Context
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.003.png")

          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.004.png")
          section
            h2 Reduce Items and Attributes
            .flex
              .half 
              ul
                li.fragment Feduce/increase: inverses
                li.fragment Filter
                ul
                  li.fragment Pro: straightforward and intuitive
                  ul
                    li.fragment To understand and compute
                  li.fragment Con: out of sight, out of mind
                li.fragment Aggregation
                  li.fragment Pro: inform about whole set
                  li.fragment Con: difficult to avoid losing signal 
                li.fragment Not mutually exclusive
                  li.fragment Combine filter, aggregate
                  li.fragment Combine reduce, change, facet
              .half
                img(src="../shared_images/vad_book_alldiagrams/pr13_reduce-items-attributes.png", alt="Filter by items and by attributes; aggregate by items and by attributes; reduce filter and aggregate")
          //- Fish eye
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.005.png")

          section
            h3.demo Fish eye
            iframe.blocks(src="https://bost.ocks.org/mike/fisheye/")
            a.tiny(target="_blank" href="https://bost.ocks.org/mike/fisheye/") https://bost.ocks.org/mike/fisheye/
            a.tiny(target="_blank" href="http://bl.ocks.org/mbostock/") by mbostock

          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.006.png")
          section
            h2 Idiom: Scented Widgets
            .flex
              .twothirds
                ul
                  li.fragment Augmented widgets show information scent
                  ul
                    li.fragment Cues to show whether value in drilling down further vs looking elsewhere
                  li.fragment Concise use of space: histogram on slider
                img(src="../shared_images/vad_book_alldiagrams/pr13_reduce-scented-widgets1.png", alt="")
                a.bottom.tiny(href="www.win.tue.nl/~selzen/paper/InfoVis2014.pdf") [Multivariate Network Exploration and Presentation: From Detail to Overview via Selections and Aggregations.  van den Elzen, van Wijk, IEEE TVCG 20(12): 2014 (Proc. InfoVis 2014).]
              .third
                img(src="../shared_images/vad_book_alldiagrams/pr13_reduce-scented-widgets2.png", alt="")
                a.tiny [Scented Widgets: Improving Navigation Cues with Embedded Visualizations. Willett, Heer, and Agrawala. IEEE TVCG (Proc. InfoVis 2007) 13:6 (2007), 1129–1136.]
                img(src="../shared_images/vad_book_alldiagrams/pr13_reduce-scented-widgets3.png", alt="")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.007.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.008.png")
          section
            h2 Idiom: Histogram
            .flex
              .half
              ul
                li.fragment Static item aggregation
                li.fragment Task: find distribution
                li.fragment Data: table
                li.fragment Derived data
                ul
                  li.fragment New table: keys are bins, values are counts
                li.fragment Bin size crucial
                  li.fragment Pattern can change dramatically depending on discretization
                  li.fragment Opportunity for interaction: control bin size on the fly
              .half
                img(src="../shared_images/vad_book_alldiagrams/pr13_reduce-histogram.png", alt="Histogram")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.009.png")
          section
            h2 Idiom: Boxplot
            .flex
              .half
                ul
                  li.fragment Static item aggregation
                  li.fragment Task: find distribution
                  li.fragment Data: table
                  li.fragment Derived data
                  ul
                    li.fragment 5 quant attribs
                    ul
                      li.fragment Median: central line
                      li.fragment Lower and upper quartile: boxes
                      li.fragment Lower upper fences: whiskers
                      ul
                        li.fragment Values beyond which items are outliers
                    li.fragment Outliers beyond fence cutoffs explicitly shown
              .half
                img(src="../shared_images/vad_book_alldiagrams/pr13_reduce-boxplot.png", alt="Boxplot")
                a.bottom.tiny [40 years of boxplots. Wickham and Stryjewski. 2012. had.co.nz]
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.010.png")
          section
            h2 Idiom: Hierarchical Parallel Coordinates
            ul
              li.fragment Dynamic item aggregation
              li.fragment Derived data: hierarchical clustering
              li.fragment Encoding: 
              ul
                li.fragment Cluster band with variable transparency, line at mean, width by min/max values
                li.fragment Color by proximity in hierarchy
            img(src="../shared_images/vad_book_alldiagrams/pr13_reduce-hierarchical-clustering.png", alt="")
            a.bottom.tiny [Hierarchical Parallel Coordinates for Exploration of Large Datasets. Fua, Ward, and Rundensteiner. Proc. IEEE Visualization Conference (Vis ’99), pp. 43– 50, 1999.]
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.011.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.012.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.013.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.014.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.015.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.016.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.017.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.018.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.019.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.020.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.021.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.022.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.023.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.024.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.025.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.026.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.027.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/15_embed-tj.028.png")




        section#review
          section
            h2 What we learned
            ul.small


    script(src="../js/reveal.js")
    script(src="../plugin/zoom/zoom.js")
    script(src="../plugin/notes/notes.js")
    script(src="../plugin/search/search.js")
    script(src="../plugin/markdown/markdown.js")
    script(src="../plugin/highlight/highlight.js")

    script(src="https://cdn.jsdelivr.net/npm/vega@5.13.0")
    script(src="https://cdn.jsdelivr.net/npm/vega-lite@4.13.1")
    script(src="https://cdn.jsdelivr.net/npm/vega-lite-api@0.11.0")
    script(src="https://cdn.jsdelivr.net/npm/vega-tooltip@0.23.2")
    script(src="./week4.js")



    script.
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        hash: true,
        //- transition: "convex",

        //- width: "100%",
        //- height: "720px",

        plugins: [ RevealZoom, RevealNotes, RevealSearch, RevealMarkdown, RevealHighlight ]
      });
    script.
      (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,"script","https://www.google-analytics.com/analytics.js","ga");

      ga("create", "UA-72531610-1", "auto");
      ga("send", "pageview");

