doctype html
html(lang="en")
  head
    title Week 1 Introduction. MIDS W209 Information Visualization Slides
    meta(charset="utf-8")
    meta(name="author", content="John Alexis Guerra Gómez")
    meta(name="description", content="Week 1 Introduction. MIDS W209 Information Visualization Slides. ")

    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fjalla+One|Raleway|PT+Sans+Narrow")

    //- Adobe fonts
    link(rel="stylesheet" href="https://use.typekit.net/yjc0afr.css")

    //- <!-- Theme used for syntax highlighting of code -->
    link(rel="stylesheet" href="../plugin/highlight/monokai.css" id="highlight-theme")


    link(href="../css/reveal.css", rel="stylesheet")
    link(href="../css/theme/white.css", rel="stylesheet", id="theme")
    link(href="../css/style.css", rel="stylesheet")


  body


    .reveal
      .slides
        section
          h1.title Introduction
            br
            small MIDS W209: Information Visualization

          div.r-stretch


          div.tiny
            a(href="https://johnguerra.co/", target="_blank") #[strong  John Alexis Guerra Gómez]
            span  |  john.guerra[at]gmail.com
            a(href="https://twitter.com/duto_guerra")  |  @duto_guerra
            br

            a(href="https://johnguerra.co/lectures/MIDS_W209_Information_Visualization/01_Introduction/", target="_blank") https://johnguerra.co/lectures/MIDS_W209_Information_Visualization/01_Introduction/

          div.logo
            a(href="https://datascience.berkeley.edu/")
              img.logo(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
          div.tiny Partially based on
            a(href="https://www.cs.ubc.ca/~tmm/talks.html#minicourse14")  slides from Tamara Munzner

        //- Outline
        section
          section
            h2 What we are going to learn
            ul
              li Infovis definition
              li.fragment Why should we visualize?
              li.fragment What are insights?
              li.fragment Problem abstraction
              li.fragment Visualization tools landscape


        section#definitions
          section
            h1 Definitions

          section
            h2 Defining Information Visualization (vis)
            p Computer-based visualization systems provide visual representations of datasets
              span.fragment  designed to help people carry out #[strong tasks] more effectively.
            p.fragment Why?


          section
            h2 Have the human in the loop
            p Visualization is suitable when there is a need to #[strong augment human capabilities] rather than replace people with computational decision-making methods.


          section
            h2 Three requirements
            br
            div.flex
              div.third.fragment #[strong Users]
              div.third.fragment #[strong Data]
              div.third.fragment #[strong Tasks]

            br
            div.fragment A good visualization enables #[strong users] to complete #[strong tasks] effectively on the #[strong data].



          section
            h2 When not to use vis
            p Don’t need vis when fully automatic solution exists and is trusted

          section
            h2 But...
            ul
              li Many analysis problems are ill-specified.
              ul
                li.fragment Don’t know exactly what questions to ask in advance

          section
            h2 What vis allows for
            ul.small
              li.fragment Long-term use for end users (e.g., exploratory analysis of scientific data)
              li.fragment Presentation of known results
              li.fragment Stepping stone to better understanding of requirements before developing models
              li.fragment Helps developers of automatic solution refine/debug, determine parameters
              li.fragment Helps end users of automatic solutions verify, build trust

          section
            h2 Why use an external representation?
            p Computer-based visualization systems provide #[strong visual representations] of datasets designed to help people carry out tasks more effectively.

          section
            h2.demo Why use an external representation?
            p.fragment External representation: #[span.fragment replace cognition #[span.fragment with perception]]
            img.fragment.side(src="../shared_images/cognition.png")
            img.fragment.side(src="../shared_images/perception.png")
            span.clear
            p.small.tiny.fragment [Cerebral: Visualizing Multiple Experimental Conditions on a Graph with Biological Context. Barsky, Munzner, Gardy, and Kincaid. IEEE TVCG (Proc. InfoVis) 14(6):1253-1260, 2008.]

          section
            h2 Why use a computer in the loop?
            p #[strong Computer-based] visualization systems provide visual representations of datasets designed to help people carry out tasks more effectively.

          section
            h2 Why have a computer in the loop?
            ul
              li.fragment Beyond human patience
              li.fragment Scale to large datasets
              li.fragment Support interactivity

          section
            h2 Why depend on vision?
            p Computer-based visualization systems provide #[strong visual] representations of datasets designed to help people carry out tasks more effectively.

          section
            h3 Why depend on vision?
            ul.tiny
              li.fragment Human visual system is high-bandwidth channel to brain
              ul
                li.fragment Overview possible due to background processing
                li.fragment Subjective experience of seeing everything simultaneously
                li.fragment Significant processing occurs in parallel and pre-attentively
              li.fragment Sound: lower bandwidth and different semantics
              ul
                li.fragment Overview not supported
                li.fragment Subjective experience of sequential stream
              li.fragment Touch/haptics: impoverished record/replay capacity
                ul
                  li.fragment Only very low-bandwidth communication thus far
              li.fragment Taste, smell: no viable record/replay devices

          section
            h2 Why show data in detail?
            ul
              li.fragment Summaries lose information.
              ul
                li.fragment Confirm expected and find unexpected patterns.
                li.fragment Assess validity of statistical model.

          section
            div
              img(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")




        //- ------------- VISUALIZATION DESIN SPACE
        section#vizDesignSpace
          section
            h1 Visualization Design Space

          section
            h1 Idioms
            p Distinct approach to creating or manipulating visual representations

          section
            h2 Think about...
            p In how many ways can you visualize the numbers 13 and 23?

          section
            h2 Idiom design space
            p The design space of possible vis idioms is huge and includes the considerations of both how to create and how to interact with visual representations.

          section
            h2 Idioms
            ul.small
              li.fragment How to draw it: #[strong visual encoding] idiom
              ul
                li.fragment Many possibilities for how to create
              li.fragment How to manipulate it: #[strong interaction] idiom
              ul
                li.fragment Even more possibilities
                li.fragment Make single idiom dynamic
                li.fragment Link multiple idioms together through interaction

          section
            h3 Why focus on tasks and effectiveness?
            p Computer-based visualization systems provide visual representations of datasets designed to help people carry out #[strong tasks] more #[strong effectively].

          section
            h3 Why focus on tasks and effectiveness?
            ul.small
              li.fragment Tasks serve as constraint on design (as do data)
              ul
                li.fragment Idioms do not serve all tasks equally!
                li.fragment Challenge: recast tasks from domain-specific vocabulary to abstract forms
              li.fragment Most possibilities ineffective
              ul
                li.fragment Validation is necessary, but tricky
                li.fragment Increases chance of finding good solutions if you understand full space of possibilities

          section
            h3 What counts as effective?
            ul
              li.fragment Novel: enable entirely new kinds of analysis
              li.fragment Faster: speed up existing workflows

          section
            h2 Resource limitations
            p Vis designers must take into account three very different kinds of resource limitations: those of computers, of humans, and of displays.

          section
            h2 Computational limits
            ul
              li.fragment Processing time
              li.fragment System memory
          section
            h2 Human limits
            ul
              li.fragment Human attention
              li.fragment Memory
              li.fragment Retention

          section
            h2 Display limits
            ul
              li.fragment Pixels are precious resource, the most constrained resource
              li.fragment Information density: ratio of space used to encode information vs. unused white space
              ul
                li.fragment Trade-off between clutter and wasting space, find sweet spot between dense and sparse

          section
            div
              img(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")


        //- Why should we visualize
        section#whyVisualize

          section
            h1 Why should we visualize?

          section
            h3 The purpose of visualization is #[strong insight], not pictures

            div.portrait
              a.right(href="https://medium.com/multiple-views-visualization-research-explained/the-purpose-of-visualization-is-insight-not-pictures-an-interview-with-visualization-pioneer-ben-beb15b2d8e9b" target="_blank" rel="noopener noreferrer")

                div
                  img(src="../shared_images/ben_pic_fp_cropped.jpg" alt="Ben Shneiderman photo")
                div.small Ben Shneiderman

          section
            h3 The purpose of data science is #[strong insight], not (just) models
            div.portrait
              a.right
                img(src="../shared_images/foto_JohnGuerra_2019.jpg" alt="My photo")
                br
                span.small John Alexis Guerra Gómez


          section.full
            h3 Anscombe's quartet
            include ../shared_markup/anscombe_table.html

            //- img(src="../shared_images/anscombes.jpg")

            span(style="margin-left:20px").fragment.anscombeResult.
              <table>
              <tbody><tr>
              <th>Property</th>
              <th>Value</th>
              </tr>
              <tr>
              <td>Mean of <i>x</i></td>
              <td>9</td>
              </tr>
              <tr>
              <td>Variance</a> of <i>x</i></td>
              <td>11</td>
              </tr>
              <tr>
              <td>Mean of <i>y</i></td>
              <td>7.50</td>
              </tr>
              <tr>
              <td>Variance of <i>y</i></td>
              <td>4.125</td>
              </tr>
              <tr>
              <td>Correlation between <i>x</i> and <i>y</i></td>
              <td>0.816</td>
              </tr>
              <tr>
              <td>Linear regression</td>
              <td><i>y</i>&nbsp;=&nbsp;3.00&nbsp;+&nbsp;0.500<i>x</i></td>
              </tr>
              <tr>
              <td>Coefficient of determination of the linear regression</td>
              <td>0.67</td>
              </tr>
              </tbody></table>

          //- section
          //-   h2 Anscombe's quartet
          //-   img(src="../shared_images/anscombes2.jpg")


          section
            h2 Anscombe's visualized
            div.
              <div id="observablehq-c877aaaf"></div>
              <script type="module">
              import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
              import define from "https://api.observablehq.com/@john-guerra/anscombes-quartet.js?v=3";
              const inspect = Inspector.into("#observablehq-c877aaaf");
              (new Runtime).module(define, name => name === "anscombe" ? inspect() : undefined);
              </script>

            //- img(src="../shared_images/anscombes_graph.jpg")


          section
            h3 More examples, same statistics
            img.r-stretch(src="../shared_images/datasaurus-dozen.png")
            div
              a.tiny(href="https://dabblingwithdata.wordpress.com/2017/05/03/the-datasaurus-a-monstrous-anscombe-for-the-21st-century/") https://dabblingwithdata.wordpress.com/2017/05/03/the-datasaurus-a-monstrous-anscombe-for-the-21st-century/

          section
            h3 Datasaurus!
            img.r-stretch(src="../shared_images/datasaurus-main.png")
            div
              a.tiny(href="https://dabblingwithdata.wordpress.com/2017/05/03/the-datasaurus-a-monstrous-anscombe-for-the-21st-century/") https://dabblingwithdata.wordpress.com/2017/05/03/the-datasaurus-a-monstrous-anscombe-for-the-21st-century/

          section
            div
              img(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")

        section#visualAnalytics
          section
            h1 Visual Analytics
            div How do people do data science?

          section(data-background-image="../shared_images/DS_to_VA_01.svg" alt="Data Science to Visual Analytics" data-background-size="contain")
            //- h3 Data Mining/Machine Learning
            //- img(src="../shared_images/machine_learning_diagram.png")

          section(data-background-image="../shared_images/DS_to_VA_02.svg" alt="Data Science to Visual Analytics" data-background-size="contain")
            //- h3 Data Mining/Machine Learning
            //- img(src="../shared_images/machine_learning_diagram.png")

          section(data-background-image="../shared_images/DS_to_VA_03.svg" alt="Data Science to Visual Analytics" data-background-size="contain")
            //- h3 Data Mining/Machine Learning
            //- img(src="../shared_images/machine_learning_diagram.png")

          section(data-background-image="../shared_images/DS_to_VA_04.svg" alt="Data Science to Visual Analytics" data-background-size="contain")
            //- h3 Data Mining/Machine Learning
            //- img(src="../shared_images/machine_learning_diagram.png")

          section(data-background-image="../shared_images/DS_to_VA_05.svg" alt="Data Science to Visual Analytics" data-background-size="contain")
            //- h3 Data Mining/Machine Learning
            //- img(src="../shared_images/machine_learning_diagram.png")

          section(data-background-image="../shared_images/DS_to_VA_06.svg" alt="Data Science to Visual Analytics" data-background-size="contain")

          //- section
          //-   h2 How to do data analytics
          //-   ul
          //-     li.fragment Statistical Analysis
          //-     li.fragment Machine learning and artificial intelligence
          //-     li.fragment Visual analytics (and data analytics)

          //- section
          //-   h3 Data Mining/Machine Learning
          //-   p: img(src="../shared_images/machine_learning_diagram.png")
          //- section
          //-   h3 Information Visualization
          //-   p: img(src="../shared_images/infovis_diagram.png")
          //- section
          //-   h3 Visual Analytics
          //-   p: img(src="../shared_images/infovis_algorithms_diagram.png")


          section
            table#comparisonTable
              tr
                td.fragment
                  h2 Traditional
                  ul
                    li Query for known patterns
                    li Display results using  traditional techniques
                  br
                  strong Pros:
                  br
                  ul
                    li Many solutions
                    li Easier to implement
                  br
                  strong Cons:
                  br
                  ul
                    li Can’t search for the unexpected

                td.fragment
                  h2 Data Mining/ML
                  ul
                    li Based on statistics
                    li Black box approach
                    li Output outliers and correlations
                    li  Human out of the loop
                  br
                  strong Pros:
                  br
                  ul
                    li  Scalable
                  br
                  strong Cons:
                  ul
                    li  Analysts have to make sense of the results
                    li  Makes assumptions on the data

                td.fragment
                  h2 InfoVis
                  ul
                    li  Visual interactive interfaces
                    li  Human in the loop
                  br
                  strong Pros:
                  br
                  ul
                    li  Visual bandwidth is enormous
                    li  Experts decided what to search for
                    li  Identify unknown patterns and errors in the data
                  br
                  strong Cons
                  br
                  ul
                    li Scalability can be an issue

          section#insight
            h2 In Infovis, we look for insights
            ul
              li.fragment Deep understanding
              li.fragment Meaningful
              li.fragment Non-obvious
              li.fragment Actionable
              li.fragment Based on data

          section
            h2 An insight is:
            ul
              li.fragment Something that the #[strong user] can learn from the #[strong data] using the #[strong infovis]
              li.fragment Which she didn't know/expect
              li.fragment Also, is useful/needed for her
              li.fragment Moreover, she didn't know of it
              li.fragment And that she can leverage

          section
            div
              img(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")

        section#insights
          section#insightsExample
            h1 Insights

          //- section#InsightFDA
          //-   h2 FDA
          //-   p Task: change in drug's adverse effects reports
          //-   p User: FDA analysts

          //- section
          //-   h2 State of the art
          //-   img.r-stretch(src="../shared_images/sectorMaps.png")

          //- section
          //-   img.r-stretch(src="../shared_images/side_by_side_Vasc_sectorMaps.png")

          //- section
          //-   img(src="../shared_images/skylines_explanation.png")


          //- section
          //-   a(href="https://treeversity.cattlab.umd.edu/?hierarchy=soc/hlgt/hlt/pt&db=tv2_sectorMaps6&seqFrom=01/01/08&seqTo=01/01/12&viz=Skylines&fixedHierarchy=soc/hlgt/hlt/pt&valueAttrib=ebgm&title=FDA%20Adverse%20Drug%20Effects" target="_blank")
          //-     img(src="../shared_images/2013_03_29_FDA_all.png")
          //-   a(href="https://treeversity.cattlab.umd.edu/" target="_blank") https://treeversity.cattlab.umd.edu/



          //- section#InsightPARC
          //-   h2 Health insurance claims
          //-   p Task: detect fraud networks
          //-   p User: Undisclosed analysts

          //- section
          //-   img.r-stretch(src="../shared_images/network_explorer_before.png")


          //- section
          //-   h2 Clustering
          //-   //- img(src="../shared_images/.jpg")
          //-   iframe.r-stretch(src="https://cdn.rawgit.com/john-guerra/ecdde32ab4ad91a1a240/raw/2c1a843df8631604a99140ddc9db8ee048624a79/index.html")

          //- section
          //-   h2 Force in a box
          //-   iframe.r-stretch(src="https://rawgit.com/john-guerra/14c943d8f198d9f3fef2/raw/669304a9a47d0fb6dfff4060ceba13d35037fffb/index.html")

          //- section
          //-   h2 Overview
          //-   img.r-stretch(src="../shared_images/overview_10k_nointer_cropped.png")

          //- section
          //-   h2 Ego distance
          //-   img.r-stretch(src="../shared_images/network_explorer_ego_distance.png")


          section#InsightTweetometro
            h2 Tweetometro
            p Task: Twitter behavior during presidential elections
            p User: me

          section
            iframe.r-stretch(src="http://old.tweetometro.co" alt="../shared_images/tweetometro.png")
            a(href="http://old.tweetometro.co") http://old.tweetometro.co

          section
            h2 Normal tweets
            img.r-stretch(src="../shared_images/all_tweets_May_25_2014.png" alt="All tweets collected, line chart of number of retweets by time for the first two hours")

          section
            h2 Weird tweets?
            img.r-stretch(src="../shared_images/suspicious_tweets_May_25_2014.png" alt="Suspicious tweets, that increased to many retweets in one second")

          section
            h2 Creation dates
            img.r-stretch(src="../shared_images/user_creation_date_May_25_2014.png" al="User creation dates, most of them belong to the same week")

          section
            h2 Number of followers
            img.r-stretch(src="../shared_images/num_followers_May_25_2014.png" alt="Number of followers")

          section.full
            span.r-stretch.
              <div class='tableauPlaceholder' id='viz1593024408194' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;An&#47;AnlisisPosiblesRobotsEleccionesColombiaMay25&#47;AnlisisEleccionesPresidencialesColombia&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='AnlisisPosiblesRobotsEleccionesColombiaMay25&#47;AnlisisEleccionesPresidencialesColombia' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;An&#47;AnlisisPosiblesRobotsEleccionesColombiaMay25&#47;AnlisisEleccionesPresidencialesColombia&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /></object></div>
              <script type='text/javascript'>
                var divElement = document.getElementById("viz1593024408194");
                var vizElement = divElement.getElementsByTagName("object")[0];
                vizElement.style.minWidth = "960px";
                vizElement.style.maxWidth = "100%";
                vizElement.style.minHeight = "587px";
                vizElement.style.maxHeight = divElement.offsetWidth * 0.75 + "px";
                var scriptElement = document.createElement("script");
                scriptElement.src = "https://public.tableau.com/javascripts/api/viz_v1.js";
                vizElement.parentNode.insertBefore(scriptElement, vizElement);

              </script>


            a.tiny(href="https://public.tableau.com/profile/john.alexis.guerra.g.mez#!/vizhome/AnlisisPosiblesRobotsEleccionesColombiaMay25/AnlisisEleccionesPresidencialesColombia") Dashboard link

          section#InsightCars
            h2 What car to buy?
            p User: person buying a car
            p Task: What's the best car to buy?
            p Data: all cars on sale

          section
            h2 Normal procedure
            p Ask friends and family

          section#Renault4(data-background="../shared_images/renault4.jpg")
            //- span.
              <a data-flickr-embed="true"  href="https://www.flickr.com/photos/synx508/8083533370/in/photolist-djjdR1-afaxQE-88rrWV-85GG7C-dhdprm-cB1GP1-6T5Y57-bwHLJo-kCowWc-q7ohL2-pZdWRQ-aqbuDd-CwU436-8Eruxo-nzoa7c-BzobPh-ptWmt6-BYoC9H-81RCdE-dPuGGx-q4JtAk-7XXciZ-r1UjFV-iKrUr5-iEmCiG-pcraD8-fNGpSf-fNGpFd-cN7xp-7SC3f9-D3mfHj-dhdpZ8-nzh5GD-85GGwL-5wBWcW-7tCm5D-8RDcp9-7kBmch-afaxQJ-8RA446-9z4AuX-6B9YeE-9ZVygr-7SC3f5-e3sALe-6B5Zon-apFGuQ-a6gMVY-5wVRyj-7pJkMr" title="Renault 4"><img src="https://c3.staticflickr.com/9/8055/8083533370_a0597b2b89_b.jpg" width="1024" height="683" alt="Renault 4"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

          section#Renault4Pimped(data-background="../shared_images/renault4_pimped.jpg")
            //- span.
              <a data-flickr-embed="true"  href="https://www.flickr.com/photos/zenzak35/14225528098/" title="Renault 4 JP4"><img src="https://c3.staticflickr.com/4/3909/14225528098_f77d8393ac_b.jpg" width="1024" height="576" alt="Renault 4 JP4"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>


          section#Renault4Crashed(data-background="../shared_images/renault4_crashed.jpg")
            //- span.
              <a data-flickr-embed="true"  href="https://www.flickr.com/photos/95012335@N02/16327150369/in/photolist-qSLUYz-p8zsEJ-fHL1jE-4grA8b-8YBfrt-8mRG7n-49vZ6h-dXiuZG-kseXjY-CpB1rB-kCp4NF-75n5c9-8PiBKZ-5999UC-C5Lz5Y-eBWbNx-eBEvp-fBpDP7-nF4xTQ-8spzYg-a7ovQd-4r1u5g-aPE45k-7R62M3-dZQnYp-djjdR1-afaxQE-88rrWV-85GG7C-dhdprm-cB1GP1-6T5Y57-bwHLJo-kCowWc-q7ohL2-pZdWRQ-aqbuDd-CwU436-8Eruxo-nzoa7c-BzobPh-ptWmt6-BYoC9H-81RCdE-dPuGGx-q4JtAk-7XXciZ-r1UjFV-iKrUr5-iEmCiG" title="Teilgefalteter Renault 4 am Strassenrand"><img src="https://c2.staticflickr.com/8/7437/16327150369_c5a839efab_b.jpg" width="1024" height="681" alt="Teilgefalteter Renault 4 am Strassenrand"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

          section
            h2 Problem
            p That's inferring statistics from a sample n = 1

          section
            h2 Better approach
            p Data-based decisions

          section
            img(src="../shared_images/tucarro.png")
            a(href="https://tucarro.com") https://tucarro.com


          section(data-background-iframe="https://johnguerra.co/viz/carrosUsados/todosPuntos.html")
          section(data-background-iframe="https://johnguerra.co/viz/carrosUsados/depreciacionMarcas.html")
          section(data-background-iframe="https://johnguerra.co/viz/carrosUsados/depreciacionesCarros.html")


          section
            h2 Jeep Willys
            div.flex
              ul.half.small
                li Colombia bought many Jeeps after the war
                li They are the a sort of mountain taxi
                li There is a trend to pimp them up

              div.half
                img(src="../shared_images/Willys_small.jpg" alt="Colombian Jeep Willys. Foto by John Alexis Guerra Gómez")

          section
            div
              img(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")


        //- Problem Abstraction
        section#problemAbstraction
          section
            h1 Problem Abstraction


          section

            h2.demo What/Why/How
            div.flex
              div.twothirds.small.line-compressed

                ul
                  li.fragment #[strong(style="color:#ce4113") What] is visualized?
                    ul
                      li #[strong data ] abstraction
                  li.fragment #[strong(style="color:#e8b32d") Why] is the user looking at it?
                    ul
                      li #[strong task ] abstraction
                  li.fragment #[strong(style="color:#6ada6f") How] is visualized?
                    ul
                      li #[strong idiom ] visual encoding and interaction
                br
                span.small
                  div.left-align.fragment Abstract language avoids domain specific pitfals
                  div.left-align.fragment What/Why/How to navigate systematically the design space


              div.third
                img(style="max-height:300px" src="../shared_images/what_why_how.png")



          //- what
          section(data-background-size="contain" data-background="../shared_images/what_sheet.png")#what
          //- why
          section(data-background-size="contain" data-background="../shared_images/why_sheet.png")#why
          //- how
          section(data-background-size="contain" data-background="../shared_images/how_sheet.png")#how


          section
            h2 Abstraction Example

          section
            h2.demo SpaceTree
            iframe.r-stretch(src="https://www.cs.umd.edu/hcil/spacetree/")
            a.tiny(href="https://www.cs.umd.edu/hcil/spacetree/") http://www.cs.umd.edu/hcil/spacetree/

          section
            h2.demo SpaceTree
            span.
              <iframe width="640" height="480" src="https://www.youtube.com/embed/-vXRJ_Ry_yE?rel=0" frameborder="0" allowfullscreen></iframe>

          section
            h2.demo TreeJuxtaposer
            iframe.r-stretch(src="https://www.cs.ubc.ca/~tmm/papers/tj/")
            a.tiny(href="https://www.cs.ubc.ca/~tmm/papers/tj/") https://www.cs.ubc.ca/~tmm/papers/tj/

          section
            h2.demo TreeJuxtaposer
            span.
              <iframe width="640" height="480" src="https://www.youtube.com/embed/GdaPj8a9QEo?rel=0" frameborder="0" allowfullscreen></iframe>

          //- convert -density 150 -depth 8 -quality 85 ~/Dropbox/documentos/2016/andes/visual_analytics/lectures_tamara/05_rules-artery.pdf ./05_rules-artery.png
          //- Answer
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/tamara_course14_session1-24.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/tamara_course14_session1-25.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/tamara_course14_session1-26.png")


          section
            div
              img(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")

        section#practice
          h1 Practice

        section#vizToolSpace
          section
            h2 The visualization tool space
            div.tiny Partially based on
              a(href="https://courses.cs.washington.edu/courses/cse442/17au/lectures/CSE442-Tools.pdf")  slides from Jeff Heer


          section(data-transition="none" data-background-size="contain" data-background="../shared_images/Jeff/CSE442-Tools-8.png").full
            a.page-watermark(href="https://courses.cs.washington.edu/courses/cse442/17au/lectures/CSE442-Tools.pdf") slides from Jeff Heer

          section(data-transition="none" data-background-size="contain" data-background="../shared_images/Jeff/CSE442-Tools-9.png").full
            a.page-watermark(href="https://courses.cs.washington.edu/courses/cse442/17au/lectures/CSE442-Tools.pdf") slides from Jeff Heer

          section(data-transition="none" data-background-size="contain" data-background="../shared_images/Jeff/CSE442-Tools-19.png").full
            a.page-watermark(href="https://courses.cs.washington.edu/courses/cse442/17au/lectures/CSE442-Tools.pdf") slides from Jeff Heer

          section(data-transition="none" data-background-size="contain" data-background="../shared_images/Jeff/CSE442-Tools-27.png").full
            a.page-watermark(href="https://courses.cs.washington.edu/courses/cse442/17au/lectures/CSE442-Tools.pdf") slides from Jeff Heer

          section(data-transition="none" data-background-size="contain" data-background="../shared_images/Jeff/CSE442-Tools-34.png").full
            a.page-watermark(href="https://courses.cs.washington.edu/courses/cse442/17au/lectures/CSE442-Tools.pdf") slides from Jeff Heer

          section(data-transition="none" data-background-size="contain" data-background="../shared_images/Jeff/CSE442-Tools-36.png").full
            a.page-watermark(href="https://courses.cs.washington.edu/courses/cse442/17au/lectures/CSE442-Tools.pdf") slides from Jeff Heer

          section(data-transition="none" data-background-size="contain" data-background="../shared_images/Jeff/CSE442-Tools-37.png").full
            a.page-watermark(href="https://courses.cs.washington.edu/courses/cse442/17au/lectures/CSE442-Tools.pdf") slides from Jeff Heer

          section
            h2 Interview Jeffrey Heer

          section
            div
              img(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")

        section#webDevBasics
          section
            h1 Web Development Basics
            a.tiny(href="https://observablehq.com/@observablehq/introduction-to-html") https://observablehq.com/@observablehq/introduction-to-html

          section#observable
            h1 Introduction to Observable
            ul
              li
                a.tiny(href="https://observablehq.com/@observablehq/five-minute-introduction") https://observablehq.com/@observablehq/five-minute-introduction
              li
                a.tiny(href="https://observablehq.com/@observablehq/observables-not-javascript") https://observablehq.com/@observablehq/observables-not-javascript
              li
                a.tiny(href="https://observablehq.com/@observablehq/user-manual") https://observablehq.com/@observablehq/user-manual


        section#chooseTool
          h2 Choose your tool

          div.flex.bigger
            strong.quarter.r-frame.fragment D3
            strong.quarter.r-frame.fragment Vega-lite
            strong.quarter.r-frame.fragment Altair
            strong.quarter.r-frame.fragment Tableau


        section#d3Intro
          section
            h1.demo Introduction to D3

            a.tiny(href="https://observablehq.com/@d3/learn-d3") https://observablehq.com/@d3/learn-d3


        section#vegaLiteIntro
          section
            h1 Introduction to Vega-lite
            a.tiny(href="https://observablehq.com/@uwdata/introduction-to-vega-lite") https://observablehq.com/@uwdata/introduction-to-vega-lite


        section#altairIntro
          section
            h1 Introduction to Python and Altair

            a.tiny(href="https://altair-viz.github.io/getting_started/overview.html") https://altair-viz.github.io/getting_started/overview.html

          section
            h1 Interview Jake VanderPlas, Part 1


        section#tableauIntro
          section
            h1 Introduction to Tableau

            a.tiny(href="https://www.tableau.com/learn/get-started/creator") https://www.tableau.com/learn/get-started/creator


        section#review
          section
            h1 What we learned
            ul
              li Infovis definition
              li.fragment Why should we visualize?
              li.fragment What are insights?
              li.fragment Problem abstraction
              li.fragment Visualization tools landscape


    script(src="../js/reveal.js")
    script(src="../plugin/zoom/zoom.js")
    script(src="../plugin/notes/notes.js")
    script(src="../plugin/search/search.js")
    script(src="../plugin/markdown/markdown.js")
    script(src="../plugin/highlight/highlight.js")


    script.
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        hash: true,
        //- transition: "convex",

        //- width: "90%",
        //- height: "100%",

        plugins: [ RevealZoom, RevealNotes, RevealSearch, RevealMarkdown, RevealHighlight ]
      });
    script.
      (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,"script","https://www.google-analytics.com/analytics.js","ga");

      ga("create", "UA-72531610-1", "auto");
      ga("send", "pageview");

