doctype html
html(lang="en")
  head
    title Week 14 Advanced Visualization Concepts. MIDS W209 Information Visualization Slides
    meta(charset="utf-8")
    meta(name="author", content="John Alexis Guerra Gómez")
    meta(name="description", content="Week 14 Advanced Visualization Concepts. MIDS W209 Information Visualization Slides")

    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fjalla+One|Raleway|PT+Sans+Narrow")

    //- Adobe fonts
    link(rel="stylesheet" href="https://use.typekit.net/yjc0afr.css")

    //- <!-- Theme used for syntax highlighting of code -->
    link(rel="stylesheet" href="../plugin/highlight/monokai.css" id="highlight-theme")


    link(href="../css/reveal.css", rel="stylesheet")
    link(href="../css/theme/white.css", rel="stylesheet", id="theme")
    link(href="../css/style.css", rel="stylesheet")


  body
    .reveal
      .slides
        section
          h1.title(style="font-size:2em") Advanced visualization concepts
            br
            small MIDS W209: Information Visualization

          div.r-stretch

          div.tiny
            a(href="https://johnguerra.co/", target="_blank") #[strong  John Alexis Guerra Gómez]
            span  |  john.guerra[at]gmail.com
            a(href="https://twitter.com/duto_guerra")  |  @duto_guerra
            br

            a(href="https://andyreagan.com/", target="_blank") #[strong  Andy Reagan]
            span  |  andy[at]andyreagan.com |
            a(href="https://twitter.com/andyreagan") @andyreagan
            br

            a(href="https://johnguerra.co/lectures/MIDS_W209_Information_Visualization/14_Advanced/", target="_blank") https://johnguerra.co/lectures/MIDS_W209_Information_Visualization/14_Advanced/

          div.logo
            a(href="https://datascience.berkeley.edu/")
              img.logo(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
          div.tiny Partially based on
            a(href="https://www.cs.ubc.ca/~tmm/talks.html#minicourse14")  slides from Tamara Munzner

        //- Outline
        section#outline
          section
            h2 What We Are Going to Learn
            ul.small
              li.fragment Traditional Analytics methods
                ul
                  li.fragment Clustering
                  li.fragment Regression
                  li.fragment Classification
                  li.fragment Dimensionality reduction
                  li.fragment Recommendation systems

              li.fragment Visualization + ML
              li.fragment Business Intelligence Tools
              li.fragment Deploying your visualizations




          section
            div
              img(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
        section
          section
            h2 Clustering
            a(href="http://scikit-learn.org/stable/modules/clustering.html#clustering")
              img(src="http://scikit-learn.org/stable/_images/sphx_glr_plot_cluster_comparison_0011.png")
              p.tiny http://scikit-learn.org/stable/modules/clustering.html#clustering


          section
            h2 When to Use It
            ul
              li.fragment When you want to find #[strong similar] items
              li.fragment Depends on your distance metric
              li.fragment When you have too many items and you want to #[strong aggregate]


          //- section.demo
          //-   iframe.blocks(src="http://tech.nitoyon.com/en/blog/2013/11/07/k-means/")
          //-   a.tiny(target="_blank"  href="http://tech.nitoyon.com/en/blog/2013/11/07/k-means/") http://tech.nitoyon.com/en/blog/2013/11/07/k-means/

          section
            h2 Examples
            ul
              li.fragment Customer segmentation
              li.fragment Grouping experiment outcomes


          section
            div
              img(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
        section
          section
            h2.demo Regression
            a(target="_blank" href="http://scikit-learn.org/stable/modules/linear_model.html#passive-aggressive-algorithms")
              img.blocks(src="http://scikit-learn.org/stable/_images/sphx_glr_plot_ols_0011.png")
              p.tiny http://scikit-learn.org/stable/modules/linear_model.html#passive-aggressive-algorithms

          section
            h2 When to Use It
            ul
              li.fragment Present (identify/compare) tendency
              li.fragment Predict values


          section
            h3.demo Regression
            iframe.blocks(src="http://blockbuilder.org/tmcw/3931800")
            a.tiny(target="_blank" href="http://blockbuilder.org/tmcw/3931800") http://blockbuilder.org/tmcw/3931800
            a.tiny(target="_blank" href="http://bl.ocks.org/tmcw/") by tmcw

          section
            h2 Examples
            ul
              li.fragment Stock prices
              li.fragment Drug response


          section#InsightCars
            h2 What car to buy?
            p User: person buying a car
            p Task: What's the best car to buy?
            p Data: all cars on sale

          section
            h2 Normal procedure
            p Ask friends and family

          section#Renault4(data-background="../shared_images/renault4.jpg")
            //- span.
              <a data-flickr-embed="true"  href="https://www.flickr.com/photos/synx508/8083533370/in/photolist-djjdR1-afaxQE-88rrWV-85GG7C-dhdprm-cB1GP1-6T5Y57-bwHLJo-kCowWc-q7ohL2-pZdWRQ-aqbuDd-CwU436-8Eruxo-nzoa7c-BzobPh-ptWmt6-BYoC9H-81RCdE-dPuGGx-q4JtAk-7XXciZ-r1UjFV-iKrUr5-iEmCiG-pcraD8-fNGpSf-fNGpFd-cN7xp-7SC3f9-D3mfHj-dhdpZ8-nzh5GD-85GGwL-5wBWcW-7tCm5D-8RDcp9-7kBmch-afaxQJ-8RA446-9z4AuX-6B9YeE-9ZVygr-7SC3f5-e3sALe-6B5Zon-apFGuQ-a6gMVY-5wVRyj-7pJkMr" title="Renault 4"><img src="https://c3.staticflickr.com/9/8055/8083533370_a0597b2b89_b.jpg" width="1024" height="683" alt="Renault 4"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

          section#Renault4Pimped(data-background="../shared_images/renault4_pimped.jpg")
            //- span.
              <a data-flickr-embed="true"  href="https://www.flickr.com/photos/zenzak35/14225528098/" title="Renault 4 JP4"><img src="https://c3.staticflickr.com/4/3909/14225528098_f77d8393ac_b.jpg" width="1024" height="576" alt="Renault 4 JP4"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>


          section#Renault4Crashed(data-background="../shared_images/renault4_crashed.jpg")
            //- span.
              <a data-flickr-embed="true"  href="https://www.flickr.com/photos/95012335@N02/16327150369/in/photolist-qSLUYz-p8zsEJ-fHL1jE-4grA8b-8YBfrt-8mRG7n-49vZ6h-dXiuZG-kseXjY-CpB1rB-kCp4NF-75n5c9-8PiBKZ-5999UC-C5Lz5Y-eBWbNx-eBEvp-fBpDP7-nF4xTQ-8spzYg-a7ovQd-4r1u5g-aPE45k-7R62M3-dZQnYp-djjdR1-afaxQE-88rrWV-85GG7C-dhdprm-cB1GP1-6T5Y57-bwHLJo-kCowWc-q7ohL2-pZdWRQ-aqbuDd-CwU436-8Eruxo-nzoa7c-BzobPh-ptWmt6-BYoC9H-81RCdE-dPuGGx-q4JtAk-7XXciZ-r1UjFV-iKrUr5-iEmCiG" title="Teilgefalteter Renault 4 am Strassenrand"><img src="https://c2.staticflickr.com/8/7437/16327150369_c5a839efab_b.jpg" width="1024" height="681" alt="Teilgefalteter Renault 4 am Strassenrand"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

          section
            h2 Problem
            p That's inferring statistics from a sample n = 1

          section
            h2 Better approach
            p Data-based decisions

          section
            img(src="../shared_images/tucarro.png")
            a(href="https://tucarro.com") https://tucarro.com


          section(data-background-iframe="https://johnguerra.co/viz/carrosUsados/todosPuntos.html")
          section(data-background-iframe="https://johnguerra.co/viz/carrosUsados/depreciacionMarcas.html")
          section(data-background-iframe="https://johnguerra.co/viz/carrosUsados/depreciacionesCarros.html")


          section
            h2 Jeep Willys
            div.flex
              ul.half.small
                li Colombia bought many Jeeps after the war
                li They are the a sort of mountain taxi
                li There is a trend to pimp them up

              div.half
                img(src="../shared_images/Willys_small.jpg" alt="Colombian Jeep Willys. Foto by John Alexis Guerra Gómez")


          section
            div
              img(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
        section
          section
            h2.demo Classification
            figure
              img(src="../shared_images/sphx_glr_plot_classifier_comparison_001.png" alt="Classification algorithms")

              figcaption.reference
                  a(href="https://scikit-learn.org/stable/modules/ensemble.html#random-forests") https://scikit-learn.org/stable/modules/ensemble.html#random-forests

          section
            h2 When to Use It
            ul
              li.fragment Present (identify/compare) tendency
              li.fragment Present (identify/compare) groups
              li.fragment Aggregate
              li.fragment Predict values

          section
            h2 Examples
            ul
              li.fragment Photo categorization
              li.fragment Sentiment analysis
              li.fragment Spam filtering

          section
            div
              img(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
        section
          section
            h2.demo Dimensionality Reduction
            img(src="http://scikit-learn.org/stable/_images/sphx_glr_plot_kernel_pca_0011.png")

          section
            h2 When to Use It
            ul
              li.fragment Attribute filtering
              li.fragment Categorize documents (topic modeling)


          section
            div
              img(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
        section
          section
            h2 Recommendation Systems


          section
            h2 When to Use It?
            ul
              li.fragment Large catalog with user preference history
              li.fragment If you like "A" and "B", maybe you will like "C"

          section
            h2 Types
            ul
              li.fragment Collaborative filtering
              li.fragment Content- based systems
              li.fragment Hybrids

          section
            h2 Examples
            ul
              li.fragment Amazon
              li.fragment Facebook
              li.fragment Google
              li.fragment Yahoo
              li.fragment Netflix Prize

          section
            div
              img(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
        section
          section
            h2 How to Use the Algorithms
            ul
              li.fragment
                a(href="https://www.r-project.org/") R
              li.fragment
                a(href="http://scikit-learn.org/") scikit-learn
              li.fragment
                a(href="https://www.tensorflow.org/") Tensorflow (Google)
              li.fragment
                a(href="http://caffe.berkeleyvision.org/") Caffe
              li.fragment
                a(href="https://aws.amazon.com/machine-learning/") Amazon ML
              li.fragment
                a(href="https://spark.apache.org/docs/1.1.0/mllib-guide.html") Spark MLlib
              li.fragment
                a(href="https://turi.com/") Graphlab

          //- section
          //-   h2 Applied example node + R
          //-   a(href="https://github.com/juanibarral/node_plus_r_tutorial/wiki") https://github.com/juanibarral/node_plus_r_tutorial/wiki

          section
            div
              img(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
        section#visML
          section
            h2 Vis for ML

          section
            h3 Tools
            ul
              li.fragment LIME
              li.fragment Shapely values
              li.fragment ...

          section
            div
              img(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
        section#BITools
          section
            h2 BI Tools

          section
            h3 Tools
            div.flex
              div.half
                ul
                  li.fragment Tableau
                  li.fragment PowerBI
                  li.fragment Microstrategy
                  li.fragment Looker
              div.half
                img(data-src="../shared_images/gartner_quadrant.png")

          section
            div
              img(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
        section#interviewAlex
          section
            h2 interview Alex Baldenko (MM)
            p Alex Baldenko has worked as a lead data scientist, led teams of data scientists, and now leads the data analytics team inside of MassMutual's data science group. They use reliable BI tools to build enterprise-grade analytical systems.
          section
            div
              img(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")

        section#cloud
          section
            h2 Cloud Deployment

          section
            h3 Where
            ul
              li.fragment AWS
              li.fragment GCP
              li.fragment Azure
              li.fragment Linode
              li.fragment Heroku
              li.fragment ...


          section
            h3 Tools/Technologies

            p Paradigm: #[strong Infrascructure as code].
            ul
              li.fragment Ansible
              li.fragment Chef
              li.fragment Puppet
              li.fragment Terraform
              li.fragment Cloudformation
              li.fragment Kubernetes
              li.fragment Docker
              li.fragment Vagrant
              li.fragment ...
            p.fragment Ah!

          section
            h3 What/Why/How
            p A lot of focus on what and how... but why?


          section
            div
              img(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
        section#otherTools
          section
            h1 Other tools to check

          section
            h2 Trifacta

          section
            h2 Flourish

          section
            h2 Data Wrapper

          section
            div
              img(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")


        section#review
          section
            h2 What We Learned
            ul.small
              li.fragment Traditional Analytics methods
                ul
                  li.fragment Clustering
                  li.fragment Regression
                  li.fragment Classification
                  li.fragment Dimensionality reduction
                  li.fragment Recommendation systems

              li.fragment Visualization + ML
              li.fragment Business Intelligence Tools
              li.fragment Deploying your visualizations


    script(src="../js/reveal.js")
    script(src="../plugin/zoom/zoom.js")
    script(src="../plugin/notes/notes.js")
    script(src="../plugin/search/search.js")
    script(src="../plugin/markdown/markdown.js")
    script(src="../plugin/highlight/highlight.js")

    script(src="https://cdn.jsdelivr.net/npm/vega@5.13.0")
    script(src="https://cdn.jsdelivr.net/npm/vega-lite@4.13.1")
    script(src="https://cdn.jsdelivr.net/npm/vega-lite-api@0.11.0")
    script(src="https://cdn.jsdelivr.net/npm/vega-tooltip@0.23.2")


    script.
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        hash: true,
        //- transition: "convex",

        //- width: "100%",
        //- height: "720px",

        plugins: [ RevealZoom, RevealNotes, RevealSearch, RevealMarkdown, RevealHighlight ]
      });
    script.
      (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,"script","https://www.google-analytics.com/analytics.js","ga");

      ga("create", "UA-72531610-1", "auto");
      ga("send", "pageview");

