doctype html
html(lang="en")
  head
    title Week 9 Geo and Color Data. MIDS W209 Information Visualization Slides
    meta(charset="utf-8")
    meta(name="author", content="John Alexis Guerra Gómez")
    meta(name="description", content="Week 9 Geo and Color Data. MIDS W209 Information Visualization Slides")

    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fjalla+One|Raleway|PT+Sans+Narrow")

    //- Adobe fonts
    link(rel="stylesheet" href="https://use.typekit.net/yjc0afr.css")

    //- <!-- Theme used for syntax highlighting of code -->
    link(rel="stylesheet" href="../plugin/highlight/monokai.css" id="highlight-theme")


    link(href="../css/reveal.css", rel="stylesheet")
    link(href="../css/theme/white.css", rel="stylesheet", id="theme")
    link(href="../css/style.css", rel="stylesheet")


  body
    .reveal
      .slides
        section
          h1.title Maps and Color
            br
            small MIDS W209: Information Visualization

          div.r-stretch

          div.tiny
            a(href="https://johnguerra.co/", target="_blank") #[strong  John Alexis Guerra Gómez]
            span  |  john.guerra[at]gmail.com
            a(href="https://twitter.com/duto_guerra")  |  @duto_guerra
            br

            a(href="https://johnguerra.co/lectures/MIDS_W209_Information_Visualization/06_Tabular/", target="_blank") https://johnguerra.co/lectures/MIDS_W209_Information_Visualization/06_Tabular/

          div.logo
            a(href="https://datascience.berkeley.edu/")
              img.logo(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
          div.tiny Partially based on
            a(href="https://www.cs.ubc.ca/~tmm/talks.html#minicourse14")  slides from Tamara Munzner

        //- Outline
        section#outline
          section
            h2 What we are going to learn
            ul.small

        section
          section
            h2 Visualizing Spatial Data

          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.025.png")


        section
          section
            h2 Idiom: choropleth map
            .flex
              .half
                ul
                  li.fragment use given spatial data
                  ul
                    li.fragment when central task is understanding spatial relationships
                  li.fragment data
                  ul
                    li.fragment geographic geometry
                    li.fragment table with 1 quant attribute per region
                  li.fragment encoding
                  ul
                    li.fragment use given geometry for area mark boundaries
                    li.fragment sequential segmented colormap [more later]
                    li.fragment (geographic heat map)

          section
            h2 Idiom: dot map
            .flex
              .half
                ul
                  li.fragment Good for population density
                  li.fragment Might require opengl
                  li.fragment Task summarize
              .half
                a(href="https://observablehq.com/@aboutaaron/racial-demographic-dot-density-map") https://observablehq.com/@aboutaaron/racial-demographic-dot-density-map

          section
            h2 Idiom: bubble map
            .flex
              .half
                ul
                  li.fragment Alternative for choroplet
                  li.fragment Be careful with occlusion
              .half
                a(href="https://observablehq.com/@aboutaaron/racial-demographic-dot-density-map") https://observablehq.com/@aboutaaron/racial-demographic-dot-density-map

          //- Choropleth map block
          section
            h3.demo Choropleth map
            iframe.blocks(src="http://blockbuilder.org/mbostock/4060606")
            a.tiny(target="_blank" href="http://blockbuilder.org/mbostock/4060606") http://blockbuilder.org/mbostock/4060606


          //- US Grid map
          section
            h3.demo US Grid map
            iframe.blocks(src="http://blockbuilder.org/kristw/2f628465e36f9821325d")
            a.tiny(target="_blank" href="http://blockbuilder.org/kristw/2f628465e36f9821325d") http://blockbuilder.org/kristw/2f628465e36f9821325d
            a.tiny(target="_blank" href="http://bl.ocks.org/kristw/") by Kristw



          //- US Grid map
          section
            h3.demo Colombia Grid Map?
            iframe.blocks(src="http://blockbuilder.org/john-guerra/4db5024e00a82f10a2dc")
            a.tiny(target="_blank" href="http://blockbuilder.org/john-guerra/4db5024e00a82f10a2dc") http://blockbuilder.org/john-guerra/4db5024e00a82f10a2dc


          section
            h2 Population maps trickiness
            .flex
              .half
                ul
                  li.fragment beware!
                  ul
                    li.fragment absolute vs relative again
                  li.fragment population density vs per capita
                  ul
                    li.fragment investigate with Ben Jones Tableau Public demo
                    li.fragment http://public.tableau.com/profile/ben.jones#!/vizhome/PopVsFin/PopVsFin Are Maps of Financial Variables just Population Maps?
                    ul
                      li.fragment yes, unless you look at per capita (relative) numbers
          section
            h2 Idiom: Bayesian surprise maps
            .flex
              .half
                ul
                  li.fragment use models of expectations to highlight surprising values
                  li.fragment confounds (population) and variance (sparsity)
          section
            h2 Idiom: topographic map
            .flex
              .half
                ul
                  li.fragment data
                  ul
                    li.fragment geographic geometry
                  li.fragment scalar spatial field
                  ul
                    li.fragment 1 quant attribute per grid cell
                  li.fragment derived data
                  ul
                    li.fragment isoline geometry
                    ul
                      li.fragment isocontours computed for specific levels of scalar values

          section
            h2 Idioms: isosurfaces, direct volume rendering
            .flex
              .half
                ul
                  li.fragment data
                  ul
                    li.fragment scalar spatial field
                    li.fragment 1 quant attribute per grid cell
                  li.fragment task
                  ul

                    li.fragment shape understanding, spatial relationships
                  li.fragment isosurface
                  ul
                    li.fragment derived data: isocontours computed for specific levels of scalar values
                  li.fragment direct volume rendering
                  ul
                    li.fragment transfer function maps scalar values to color, opacity
                    ul
                      li.fragment no derived geometry

          section
            h2 Vector and tensor fields
            .flex
              .half
                ul
                  li.fragment data
                  ul
                    li.fragment many attribs per cell
                  li.fragment idiom families
                  ul
                    li.fragment flow glyphs
                    ul
                      li.fragment purely local
                    li.fragment geometric flow
                    ul
                      li.fragment derived data from tracing particle trajectories
                      li.fragment sparse set of seed points
                    li.fragment texture flow
                    ul
                      li.fragment derived data, dense seeds
                    li.fragment feature flow
                    ul
                      li.fragment global computation to detect features
                      li.fragment encoded with one of methods above

          section
            h2 Vector fields
            .flex
              .half
                ul
                  li.fragment empirical study tasks
                  ul
                    li.fragment finding critical points, identifying their types
                    li.fragment identifying what type of critical point is at a specific location
                    li.fragment predicting where a particle starting at a specified point will end up (advection)


          section
            h2 Idiom: similarity-clustered streamlines
            .flex
              .half
                ul
                  li.fragment data
                  ul
                    li.fragment 3D vector field
                  li.fragment derived data (from field)
                  ul
                    li.fragment streamlines: trajectory particle will follow
                  li.fragment derived data (per streamline)
                  ul
                    li.fragment curvature, torsion, tortuosity
                    li.fragment signature: complex weighted combination
                    li.fragment compute cluster hierarchy across all signatures
                    li.fragment encode: color and opacity by cluster
                  li.fragment tasks
                  ul
                    li.fragment find features, query shape
                  li.fragment scalability
                  ul
                    li.fragment millions of samples, hundreds of streamlines









          section
            h2.demo Map Projections
            iframe.blocks(src="http://blockbuilder.org/mbostock/3711652")
            a.tiny(target="_blank" href="http://blockbuilder.org/mbostock/3711652") http://blockbuilder.org/mbostock/3711652
          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.027.png")

          section
            h2.demo Map Projections
            iframe.blocks(width="560", height="315", src="https://www.youtube.com/embed/kIID5FDi2JQ",frameborder="0" allowfullscreen)


          section
            h2 Map libraries
            ul
              li
                a(target="_blank" href="http://mapbox.com/") http://mapbox.com/
              li
                a(target="_blank" href="http://leafletjs.com/") http://leafletjs.com/
              li
                a(target="_blank" href="http://datamaps.github.io/") http://datamaps.github.io/
              li
                a(target="_blank" href="https://github.com/emeeks/d3-carto-map") https://github.com/emeeks/d3-carto-map



          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.027.png")

          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.028.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.029.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.030.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.031.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.032.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.033.png")
          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.034.png")






        section

          section
            h3 Mapbox + Tableau
            a(href="https://www.mapbox.com/tableau/") https://www.mapbox.com/tableau/


          section
            h3.demo Votos Fajardo
            a.tiny(href="https://public.tableau.com/profile/john.alexis.guerra.g.mez#!/vizhome/votosFajardo2/Fajardo") https://public.tableau.com/profile/john.alexis.guerra.g.mez#!/vizhome/votosFajardo2/Fajardo
            div.blocks.
              <div class='tableauPlaceholder' id='viz1568758234721' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;NG&#47;NGCWHPJM6&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='path' value='shared&#47;NGCWHPJM6' /> <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;NG&#47;NGCWHPJM6&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>
              <script type='text/javascript'>                    var divElement = document.getElementById('viz1568758234721');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height='600px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>


          section
            h3.demo Votos Concejo
            a.tiny(href="https://public.tableau.com/profile/john.alexis.guerra.g.mez#!/vizhome/votosConcejo/Dashboard1") https://public.tableau.com/profile/john.alexis.guerra.g.mez#!/vizhome/votosConcejo/Dashboard1
            div.blocks.
              <div class='tableauPlaceholder' id='viz1568758685092' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;vo&#47;votosConcejo&#47;Dashboard1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='votosConcejo&#47;Dashboard1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;vo&#47;votosConcejo&#47;Dashboard1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1568758685092');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height='600px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>



          section
            h3.demo Mapbox + D3
            a(href="https://observablehq.com/@john-guerra/mapbox-d3") https://observablehq.com/@john-guerra/mapbox-d3


          section
            h3 Mike's maps tutorial
            a(href="https://medium.com/@mbostock/command-line-cartography-part-1-897aa8f8ca2c") https://medium.com/@mbostock/command-line-cartography-part-1-897aa8f8ca2c

          section
            h3 Vega-lite Maps
            a(href="https://observablehq.com/@vega/vega-lite-api") https://observablehq.com/@vega/vega-lite-api






        section#review
          section
            h2 What we learned
            ul.small


    script(src="../js/reveal.js")
    script(src="../plugin/zoom/zoom.js")
    script(src="../plugin/notes/notes.js")
    script(src="../plugin/search/search.js")
    script(src="../plugin/markdown/markdown.js")
    script(src="../plugin/highlight/highlight.js")

    script(src="https://cdn.jsdelivr.net/npm/vega@5.13.0")
    script(src="https://cdn.jsdelivr.net/npm/vega-lite@4.13.1")
    script(src="https://cdn.jsdelivr.net/npm/vega-lite-api@0.11.0")
    script(src="https://cdn.jsdelivr.net/npm/vega-tooltip@0.23.2")



    script.
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        hash: true,
        //- transition: "convex",

        //- width: "100%",
        //- height: "720px",

        plugins: [ RevealZoom, RevealNotes, RevealSearch, RevealMarkdown, RevealHighlight ]
      });
    script.
      (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,"script","https://www.google-analytics.com/analytics.js","ga");

      ga("create", "UA-72531610-1", "auto");
      ga("send", "pageview");

