doctype html
html(lang="en")
  head
    title Week 6 Visualizing Tabular Data. MIDS W209 Information Visualization Slides
    meta(charset="utf-8")
    meta(name="author", content="John Alexis Guerra Gómez")
    meta(name="description", content="Week 6 Visualizing Tabular Data. MIDS W209 Information Visualization Slides")

    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fjalla+One|Raleway|PT+Sans+Narrow")

    //- Adobe fonts
    link(rel="stylesheet" href="https://use.typekit.net/yjc0afr.css")

    //- <!-- Theme used for syntax highlighting of code -->
    link(rel="stylesheet" href="../plugin/highlight/monokai.css" id="highlight-theme")


    link(href="../css/reveal.css", rel="stylesheet")
    link(href="../css/theme/white.css", rel="stylesheet", id="theme")
    link(href="../css/style.css", rel="stylesheet")


  body
    .reveal
      .slides
        section
          h1.title Visualizing Tabular Data
            br
            small MIDS W209: Information Visualization

          div.r-stretch

          div.tiny
            a(href="https://johnguerra.co/", target="_blank") #[strong  John Alexis Guerra Gómez]
            span  |  john.guerra[at]gmail.com
            a(href="https://twitter.com/duto_guerra")  |  @duto_guerra
            br

            a(href="https://johnguerra.co/lectures/MIDS_W209_Information_Visualization/06_Tabular/", target="_blank") https://johnguerra.co/lectures/MIDS_W209_Information_Visualization/06_Tabular/

          div.logo
            a(href="https://datascience.berkeley.edu/")
              img.logo(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
          div.tiny Partially based on
            a(href="https://www.cs.ubc.ca/~tmm/talks.html#minicourse14")  slides from Tamara Munzner

        //- Outline
        section#outline
          section
            h2 What we are going to learn
            ul.small



        section
          section
            h2 Recap
          //- what?
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/tamara_course14_session1-15.png")
          //- what-highlighted?
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/tamara_course14_session1-15_highlighted.png")
          //- why
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/tamara_course14_session1-19.png")
          //- how?
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/tamara_course14_session1-23.png")
          //- how? highlighted
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/tamara_course14_session1-23_highlighted.png")


        section
          section
            h1 Arranging tables

          section
            h2 Why Arrange
            p.fragment Space is the most important channel

          section
            h2 How to arrange?
            ul
              li.fragment Quantitative data #[span.fragment -> Express]
              li.fragment Categorical data #[span.fragment -> Separate, Order, Align]


          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.003.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.004.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.005.png")
          //- Scatterplot
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.006.png")

          //- Scatterplot block
          section
            h3.demo Scatterplot
            div.blocks#scatterplotDiv
            script(type="module").
              import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
              import notebook from "https://api.observablehq.com/@john-guerra/scatterplot.js?v=3";
              new Runtime().module(notebook, name => {
                if (name === "chart") {
                  return new Inspector(document.querySelector("#scatterplotDiv"));
                }
              });

            //- iframe.blocks(src="http://blockbuilder.org/mbostock/3887118")
            a.tiny(target="_blank" href="https://observablehq.com/@john-guerra/scatterplot") https://observablehq.com/@john-guerra/scatterplot

          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.007.png")
          //- Barchart
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.008.png")

          //- Barchart block
          section
            h3.demo Barchart
            iframe.blocks(src="http://blockbuilder.org/mbostock/3885304")
            a.tiny(target="_blank" href="http://blockbuilder.org/mbostock/3885304") http://blockbuilder.org/mbostock/3885304

          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.009.png")

          //- Stacked barchart block
          section
            h3.demo Stacked barchart
            iframe.blocks(src="http://blockbuilder.org/mbostock/3886208")
            a.tiny(target="_blank" href="http://blockbuilder.org/mbostock/3886208") http://blockbuilder.org/mbostock/3886208

          section
            h3.demo d3.stack and d3.nest
            div.blocks#d3stackandnest

            //- <div id="observablehq-09a24421"></div>
            //- <script type="module">
            //- import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
            //- import define from "https://api.observablehq.com/@d3/stacked-to-grouped-bars.js?v=3";
            //- const inspect = Inspector.into("#observablehq-09a24421");
            //- (new Runtime).module(define, name => name === "chart" ? inspect() : undefined);
            //- </script>

            script(type="module").
              import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
              import define from "https://api.observablehq.com/@john-guerra/d3-stack-with-d3-nest.js?v=3";
              const inspect = Inspector.into("#d3stackandnest");
              (new Runtime).module(define, name => name === "chart" ? inspect() : undefined);
            a.tiny(target="_blank" href="https://observablehq.com/@john-guerra/d3-stack-with-d3-nest") https://observablehq.com/@john-guerra/d3-stack-with-d3-nest

          section
            h3.demo d3 stack
            a.tiny(href="https://github.com/d3/d3-shape/blob/v1.3.5/README.md#stack") https://github.com/d3/d3-shape/blob/v1.3.5/README.md#stack
            img(style="height:400px", src="../shared_images/vad_book_alldiagrams/d3_stack.png", alt="d3 stack")

          section
            h3.demo stacked to grouped
            div.blocks#stackedToGroupedDivLayout
            div.blocks#stackedToGroupedDiv
            script(type="module").
              import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
              import notebook from "https://api.observablehq.com/@d3/stacked-to-grouped-bars.js?v=3";
              new Runtime().module(notebook, name => {
                if (name === "chart") {
                  return new Inspector(document.querySelector("#stackedToGroupedDiv"));
                }
                if (name === "viewof layout") {
                  return new Inspector(document.querySelector("#stackedToGroupedDivLayout"));
                }

              });
            a.tiny(target="_blank" href="https://observablehq.com/@d3/stacked-to-grouped-bars") https://observablehq.com/@d3/stacked-to-grouped-bars


          section
            h2 Interesting discussion.
            p Stacked bar charts are the worst.
            a(href="https://eagereyes.org/techniques/stacked-bars-are-the-worst") Robert Kosara's blog
            p Make sure to read the comments



          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.010.png")
          //- Streamgraph block
          section
            h3.demo Streamgraph
            iframe.blocks(src="http://blockbuilder.org/mbostock/4060954")
            a.tiny(target="_blank" href="http://blockbuilder.org/mbostock/4060954") http://blockbuilder.org/mbostock/4060954

          //- Streamgraph block
          section
            h3.demo Streamgraph RIO2016
            img.blocks(src="../shared_images/vad_book_alldiagrams/streamGraphNYTimes.png",alt="Streamgraph RIO2016 NY times")
            a.tiny(target="_blank" href="http://www.nytimes.com/interactive/2016/08/08/sports/olympics/history-olympic-dominance-charts.html?_r=0") http://www.nytimes.com/interactive/2016/08/08/sports/olympics/history-olympic-dominance-charts.html?_r=0


          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.011.png")
          //- Linechart block
          section
            h3.demo Linechart
            iframe.blocks(src="http://blockbuilder.org/mbostock/3883245")
            a.tiny(target="_blank" href="http://blockbuilder.org/mbostock/3883245") http://blockbuilder.org/mbostock/3883245

          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.012.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.013.png")

          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.014.png")

          //- Heatmap block
          section
            h3.demo Heatmap
            iframe.blocks(src="http://blockbuilder.org/ianyfchang/8119685")
            a.tiny(target="_blank" href="http://blockbuilder.org/ianyfchang/8119685") http://blockbuilder.org/ianyfchang/8119685
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.015.png")




          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.016.png")
          //- Scatterplot Matrix block
          section
            h3.demo Scatterplot Matrix
            iframe.blocks(src="http://blockbuilder.org/mbostock/4063663")
            a.tiny(target="_blank" href="http://blockbuilder.org/mbostock/4063663") http://blockbuilder.org/mbostock/4063663

          section
            h2 Bonus: InMens
            p What about millions of points?

            a(target="_blank" href="http://vis.stanford.edu/projects/immens/demo/splom/") http://vis.stanford.edu/projects/immens/demo/splom/

          //- Parallel Coordinates block
          section
            h3.demo Parallel Coordinates
            iframe.blocks(src="http://blockbuilder.org/syntagmatic/3150059")
            a.tiny(target="_blank" href="http://blockbuilder.org/syntagmatic/3150059") http://blockbuilder.org/syntagmatic/3150059

          //- PC correlation
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.017.png")

          //- Navio
          section
            h3.demo Navio
            iframe.blocks(src="https://navio.dev")
            a.tiny(target="_blank" href="https://navio.dev") https://navio.dev

          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.018.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.019.png")
          //- Polar Area Chart block
          section
            h3.demo Polar Area Chart
            iframe.blocks(src="http://blockbuilder.org/curran/94f1376b946c9d217014")
            a.tiny(target="_blank" href="http://blockbuilder.org/curran/94f1376b946c9d217014") http://blockbuilder.org/curran/94f1376b946c9d217014

          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.020.png")

          //- Pie chart block
          section
            h3.demo Pie chart
            iframe.blocks(src="http://blockbuilder.org/mbostock/3887235")
            a.tiny(target="_blank" href="http://blockbuilder.org/mbostock/3887235") http://blockbuilder.org/mbostock/3887235

          //- Donut chart block
          section
            h3.demo Donut chart
            iframe.blocks(src="http://blockbuilder.org/mbostock/1346410")
            a.tiny(target="_blank" href="http://blockbuilder.org/mbostock/1346410") http://blockbuilder.org/mbostock/1346410

          //- Stacked bar chart normalized block
          section
            h3.demo Stacked bar chart normalized
            iframe.blocks(src="http://blockbuilder.org/mbostock/3886394")
            a.tiny(target="_blank" href="http://blockbuilder.org/mbostock/3886394") http://blockbuilder.org/mbostock/3886394

          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.021.png")

          //- Glyphmap block
          section
            h3.demo Glyphmap
            iframe.blocks(src="http://blockbuilder.org/sxywu/8d1b563586bf411383345e95a3418715")
            a.tiny(target="_blank" href="http://blockbuilder.org/sxywu/8d1b563586bf411383345e95a3418715") http://blockbuilder.org/sxywu/8d1b563586bf411383345e95a3418715


          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.022.png")
          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.023.png")
          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.024.png")


          section
            h2 MLExplore.js
            div.fragment Dimmensionality Reduction
              span.fragment  +  Clustering
            div.small.portrait
              img(src="../shared_images/vad_book_alldiagrams/Fabian.jpg" alt="Fabián Peña")
              div Fabian Peña
            a.tiny(href="https://fabiancpl.github.io/MLExplore.js/") https://fabiancpl.github.io/MLExplore.js/




        section#review
          section
            h2 What we learned
            ul.small


    script(src="../js/reveal.js")
    script(src="../plugin/zoom/zoom.js")
    script(src="../plugin/notes/notes.js")
    script(src="../plugin/search/search.js")
    script(src="../plugin/markdown/markdown.js")
    script(src="../plugin/highlight/highlight.js")

    script(src="https://cdn.jsdelivr.net/npm/vega@5.13.0")
    script(src="https://cdn.jsdelivr.net/npm/vega-lite@4.13.1")
    script(src="https://cdn.jsdelivr.net/npm/vega-lite-api@0.11.0")
    script(src="https://cdn.jsdelivr.net/npm/vega-tooltip@0.23.2")
    script(src="./week4.js")



    script.
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        hash: true,
        //- transition: "convex",

        //- width: "100%",
        //- height: "720px",

        plugins: [ RevealZoom, RevealNotes, RevealSearch, RevealMarkdown, RevealHighlight ]
      });
    script.
      (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,"script","https://www.google-analytics.com/analytics.js","ga");

      ga("create", "UA-72531610-1", "auto");
      ga("send", "pageview");

