@import '../lib/css/reveal.css'
@import '../lib/css/theme/simple.css'
@import '../lib/css/zenburn.css'

blue = #4682b4

.reveal
  p, ol, ul, li, blockquote
    line-height 1.25em
  p, ol, ul, li, blockquote, pre
    margin-top .75em
    margin-bottom .75em
  h1, h2, h3, h4, h5, h6
    margin-top .25em
    margin-bottom .75em

  h1.demo, h2.demo, h3.demo, h4.demo, h5.demo, h6.demo
    margin-top -0.50em
  ul
    list-style-type circle
  pre
    code
      padding 2em
      word-wrap normal
      &::selection,
      ::selection
        background-color #000
        color blue
      &:focus
        outline none
  blockquote
    border-left .25em solid blue
    box-shadow none
    padding 0 1em
    text-align left
    &:before,
    &:after
      content ''
  iframe.blocks
    width 960px
    height 650px
    margin-left -30px
  section
    img
      border none
      box-shadow none

  #title
    h1, h2, h3, h4, h5, h6
      // text-transform none
      font-family 'Helvetica Neue', sans-serif
      // font-weight lighter
      letter-spacing -.05em
      margin 0
      // margin-top -0.5em
    // h3
      // margin 1.5em 0 1em
    h1
      font-size 3.2em
  img.demo
    max-height 500px

  #comparisonTable
    font-size 0.5em
    td
      width: 33%
  .small
    font-size 80%
  .tiny
    font-size 60%

  .authors
    font-size 70%

  #handsOn
    pre
      width: 70%
      font-size: 0.5em
      float: left
    div.target
      margin: 20px
      width: 25%
      float: left
      font: 10px sans-serif
      rect
        fill: steelblue
      circle
        opacity: 0.3
      path.line
        fill: none
        stroke: #666
        stroke-width: 1.5px
      path.area
        fill: #e7e7e7
      .axis
        shape-rendering: crispEdges
      .x.axis line
        stroke: #bbb
      .x.axis .minor
        stroke-opacity: .5
      .x.axis path
        fill: none
      .y.axis line, .y.axis path
        fill: none
        stroke: #333
    button.execute
      clear: both
      font-size: 0.8em

    div.followLink
      font-size: 0.6em


  .contactInfo
    text-align: right
    a
      font-size: 0.6em

  .red
    color: #e80000;

  img.side
    float:left;
    width:45%;
    padding: 0 5px 0 5px;

  .clear
    clear:both;


  #munznerpreferencechart
    color: white
    font-size: 0.6em
    .line
      stroke: #4A90E2
      stroke-width: 25
      stroke-opacity: 0.30
      fill: none
    .box
      // text
      //   opacity: 0
      rect
        fill-opacity: 0.75
    .box:hover text
      opacity: 1
    .mainArea.selected
      .line.selected
        opacity: 0.9
      .line
        opacity: 0.1
      .box
        opacity: 0.1
      .box.selected
        opacity: 0.9
    .box text
      pointer-events: none
      font-size: 14pt
    .axis path, .axis line
      fill: none
      /*stroke: #ccc*/
      shape-rendering: crispEdges
    .y.axis line
      stroke: white
    text
      font-size: 22pt

