doctype html
html(lang="en")
  head
    title Week 12 HCI and Evaluation. MIDS W209 Information Visualization Slides
    meta(charset="utf-8")
    meta(name="author", content="John Alexis Guerra Gómez")
    meta(name="description", content="Week 6 Visualizing Tabular Data. MIDS W209 Information Visualization Slides")

    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fjalla+One|Raleway|PT+Sans+Narrow")

    //- Adobe fonts
    link(rel="stylesheet" href="https://use.typekit.net/yjc0afr.css")

    //- <!-- Theme used for syntax highlighting of code -->
    link(rel="stylesheet" href="../plugin/highlight/monokai.css" id="highlight-theme")


    link(href="../css/reveal.css", rel="stylesheet")
    link(href="../css/theme/white.css", rel="stylesheet", id="theme")
    link(href="../css/style.css", rel="stylesheet")


  body
    .reveal
      .slides
        section
          h1.title HCI and Evaluation
            br
            small MIDS W209: Information Visualization

          div.r-stretch

          div.tiny
            a(href="https://johnguerra.co/", target="_blank") #[strong  John Alexis Guerra Gómez]
            span  |  john.guerra[at]gmail.com
            a(href="https://twitter.com/duto_guerra")  |  @duto_guerra
            br

            a(href="https://andyreagan.com/", target="_blank") #[strong  Andy Reagan]
            span  |  andy[at]andyreagan.com |
            a(href="https://twitter.com/andyreagan") @andyreagan
            br

            a(href="https://johnguerra.co/lectures/MIDS_W209_Information_Visualization/12_Evaluation/", target="_blank") https://johnguerra.co/lectures/MIDS_W209_Information_Visualization/12_Evaluation/

          div.logo
            a(href="https://datascience.berkeley.edu/")
              img.logo(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
          div.tiny Partially based on
            a(href="https://www.cs.ubc.ca/~tmm/talks.html#minicourse14")  slides from Tamara Munzner

        //- Outline
        section#outline
          section
            h2 What we are going to learn
            ul.small

        section
          section
            h2 Evaluation
            ul
              li Controlled Experiments
              li Natural settings
              li Any setting not involving users

          section
            h2 Expert reviews
            ul
              li Design Experts
              li Visualization Experts
              li Usability Experts
              li Domain Experts

          section
            h2 Types of expert reviews
            ul.small
              li Heuristic evaluation (golden rules)
              li Guidelines review
              li Consistency inspection
              li Cognitive walkthrough
              li Metaphors of human thinking
              li Formal usability inspection (courtroom style)
              li Accesibility inspection

          section
            h2 8 golden rules of design
            ul.small
              li Strive for consistency
              li Cater for universal usability
              li Offer informative feedback
              li Design dialogs to yield closure
              li Prevent errors
              li Permit easy reversal of actions
              li Support internal locus of control
              li Reduce short-term memory load

        section
          section
            h2 Controlled Experiments
            ul
              li Experiments in the lab
              li Controlled confounding variables
              li Measure one or more quantitative variables
              li
                ul
                  li Usability testing
                  li Living labs
          section
            h3 What to measure?
            ul
              li Time to learn
              li Speed of performance
              li Rate of errors
              li Retention over time
              li Subject satisfaction

        section
          section
            h2.demo Usability Testing
            span.
              <a data-flickr-embed="true"  href="https://www.flickr.com/photos/yandle/3231980616/in/photolist-5VAKeJ-e6vGNu-5VAMNf-5VAJkd-5VASE7-8uu5ej-3j3Cw-7WKyy5-7WKqhG-7WGg1p-bWf1T-cN17Zf-mLmuep-5iDL3Q-7WGaTx-bWf6R-pTf438-7WKzxd-7WGgwR-5VACYA-5VAHzY-5VwiYB-5VAGNL-5VADX3-5VwrGk-7yX8Zc-2vyF2V-7yX96K-dGkneA-7z2MTA-jrkhAN-fQ1cWh-69mwdv-dSJH5t-5iKD8N-2b6Jr-7WGk2x-7WGbSp-5VAQ8f-7WGb6a-7WKXYh-5iFg8H-7WGeMg-7WKssG-7WKtKd-bWffr-7WKt9m-7WKrxA-8ZAttz-7WKzLN" title="Brighton Uni Usability Lab"><img src="https://c1.staticflickr.com/4/3094/3231980616_5ccd164737_b.jpg" width="1024" height="685" alt="Brighton Uni Usability Lab"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

          section
            h3 Natural settings involving users
            ul
              li Observation
              li Interviews
              li Logging

          section
            h2 Triangulation
            p Different researchers observe the same effect

          section
            h2 Interviews
            ul
              li Unstructured
              li Structured
              li Semi-structured
              li Focus group
              li Telephone/Online interviews

          section
            h2 Questionnaire
            p Like interviews but without the researcher present

        section
          section
            h1 Likert Scales

          section
            h2 Likert Scale
            p What do you think?
            ul
              li Strongly disagree
              li disagree
              li ok
              li agree
              li Strongly agree

          section
            h2 More about likert scales
            ul
              li Can be 3, 5, 7 or more responses
              li Continuos or Discrete
              li Middle response is the balance

          section
            h3.demo Likert Scales D3
            iframe.blocks(src="https://blockbuilder.org/john-guerra/57d31bae7685139cecd731bba9f48090")
            a.tiny(target="_blank" href="https://blockbuilder.org/john-guerra/57d31bae7685139cecd731bba9f48090") https://blockbuilder.org/john-guerra/57d31bae7685139cecd731bba9f48090


          section
            h3.demo Likert Scales Vega-lite
            iframe.blocks(src="https://vega.github.io/vega-lite/examples/layer_likert.html")
            a.tiny(target="_blank" href="https://vega.github.io/vega-lite/examples/layer_likert.html") https://vega.github.io/vega-lite/examples/layer_likert.html

          section
            h3.demo Likert Scales Vega-lite
            iframe.blocks(src="https://vega.github.io/vega-lite/examples/concat_layer_voyager_result.html")
            a.tiny(target="_blank" href="https://vega.github.io/vega-lite/examples/concat_layer_voyager_result.html") https://vega.github.io/vega-lite/examples/concat_layer_voyager_result.html


        section
          section
            h1 Other methods

          section
            h2 Observation
            ul
              li User's setting
              li Can be direct or indirect

          section
            h2 Direct Observation in the field
            p Ethnography

          section
            h3 Direct Observation in controlled environments
            ul
              li Think aloud techniques

          section
            h3 Direct Observation: tracking users
            ul
              li Diaries.
              li Interaction Logs and web analytics.

          section
            h2 MILCS
            ul
              li Multi-dimensional.
              li In-depth.
              li Long-term.
              li Case studies.

          section
            h2 TreeVersity MILCS
            ul
              li 13 Different case studies, with 9 agencies
              li
                a(href="http://treeversity.cattlab.umd.edu/") http://treeversity.cattlab.umd.edu/

          section
            h2 Focus groups
            p One researcher, many attendees

          section
            h2 Prototyping
            ul
              li Low vs high fidelity?
              li Read data.
              li Build scenarios, tell a story.

          section
            h2 Quatitative evaluation
            a(href="http://yatani.jp/teaching/doku.php?id=hcistats:anova") http://yatani.jp/teaching/doku.php?id=hcistats:anova

        section
          section
            h2 Running a Usability Study


          section
            h3 Validity Checks
            ul
              li Earlier Stages:
                ul
                  li Observe and interview target users (needs assessment).
                  li Design data abstraction/operation (data types, transformation, operations) .
                  li Justify encoding/interaction design (design heuristics, perception research).
                  li Informal analysis/qualitative analysis of prototypes (task-based).
                  li Algorithm complexity analysis/evaluation.

              li Mid- and Later Stages:
                ul
                  li Qualitative analysis of system (task-based).
                  li Algorithm performance analysis.
                  li Lab or crowdsourced user study.
                  li Field study of the deployed system.

          section
            h3 Formal Usability Study
            h4.fragment Goal: Does the visualization allow the user/analyst to perform key tasks?

          section
            h3 Task-Oriented Visual Insights
            ul
              li Basic Insights:
                ul
                  li Read a value.
                  li Identify extrema.
                  li Characterize distribution.
                  li Describe correlation.
              li Comparative Insights:
                ul
                  li Compare values.
                  li Compare extrema.
                  li Compare distribution.
                  li Compare correlation.

          section
            h3 Usability Study: Logistics
            ul
              li You will need: 
                ul
                  li Visualization with test data loaded.
                  li Consent form (if required).
                  li Task list.
                  li Protocol (study procedures and debrief questions).
                  li Surveys/interviews and any additional data-collection instruments.
                  li Audio or video recorder, notepad.

          section
            h3 How Many People Do You Need?
            img(data-src="../shared_images/usability-size.png")

          section
            h3 "Lab" doesn’t need to mean a formal lab 
            
          section
            h3 Software for Collecting Audio/Video
            ul
              li Video of user.
              li Screen capture of user actions.
              li Audio of entire session.
            
          section
            h3 Online Tools
            ul
              li Surveys.
              li Mouse tracking/navigation tracking.
              
        section
          section
            h2 Prioritization
            
          section
            h3 You’ve Collected Data
            div.flex
              div.left
                ul
                  li Task completion.
                  li Time on task.
                  li Notes.
                  li Interview responses.
                  li Survey responses.
                  li … then what?
              div.right
                img(data-src="../shared_images/user-study-result.png")
                div.tiny #[a(href="") Table source: Stasko, J., Catrambone, R., Guzdial, M., & McDonald, K. (2000). An evaluation of space-filling information visualizations for depicting hierarchical structures.]
            aside(class="notes").                
              How is the task completion recorded, does the analyst note it themsleves, do they write something down. 
                
          section
            h3 What is the analyst’s information scent?                
            aside(class="notes").
              A term originating from Peter Pirolli and Stuart Card PARC looking at    meaning
              Accounts for not just completion but also situating WHAT the person was doing, may wish to do think aloud as well. It’s not always obvious what leads to the challenge.  Like a detective, not always obvious. Transating to design. 
            
          section
            h3 MoSCoW Prioritization            
            ul
              li Must.
              li Should.
              li Could.
              li Won't.
            aside(class="notes").
              Discuss brief history, came from the dynamic software development method. 
              
          section
            h3 Severity Ratings       
            ol
              li Not a real problem.
              li Cosmetic.
              li Minor usability issue.
              li Major usability issue.
              li Critical issue.
            aside(class="notes").

          section
            h3 Limitations
            ol
              li Ecological validity
              li Are performance-oriented tasks the complete story?
            aside(class="notes").
            
        section
          section
            h2 Usability Study Demo

        section
          section
            h2 Interview Michael Bessey
            p Michael Bessey leads the Data Visualization team in MassMutual's centralized Data Science Department. Through his time here, Michael has led efforts to build and rebuild visualization systems that drive decision making through the top levels of the company.

        section
          section
            h2 Interview Fereshteh Amini
            p Fereshteh Amini is a Data Visualization Specialist at Microsoft with a PhD from the University of Manitoba.


        // Design principles
        section
          h2 References
          ul
            li
              a(href="http://cs.umd.edu/hcil/DTUI6/") Shneiderman, B. and Plaisant, C., 1987. Designing the user interface: Strategies for effective human-computer interaction
            li
              a(href="http://www.id-book.com/") Rogers, Y., Sharp, H., Preece, J. and Tepper, M., 2007. Interaction design: beyond human-computer interaction.

            li
              a(href="https://www.amazon.com/Doing-Psychology-Experiments-David-Martin/dp/0495115770")  Martin, D.W., 2007. Doing psychology experiments. Cengage Learning.



        section#review
          section
            h2 What we learned
            ul.small


    script(src="../js/reveal.js")
    script(src="../plugin/zoom/zoom.js")
    script(src="../plugin/notes/notes.js")
    script(src="../plugin/search/search.js")
    script(src="../plugin/markdown/markdown.js")
    script(src="../plugin/highlight/highlight.js")

    script(src="https://cdn.jsdelivr.net/npm/vega@5.13.0")
    script(src="https://cdn.jsdelivr.net/npm/vega-lite@4.13.1")
    script(src="https://cdn.jsdelivr.net/npm/vega-lite-api@0.11.0")
    script(src="https://cdn.jsdelivr.net/npm/vega-tooltip@0.23.2")



    script.
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        hash: true,
        //- transition: "convex",

        //- width: "100%",
        //- height: "720px",

        plugins: [ RevealZoom, RevealNotes, RevealSearch, RevealMarkdown, RevealHighlight ]
      });
    script.
      (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,"script","https://www.google-analytics.com/analytics.js","ga");

      ga("create", "UA-72531610-1", "auto");
      ga("send", "pageview");

