doctype html
html
  head
    title Week 3 Why, abstracting the tasks. MIDS W209 Information Visualization Slides
    meta(charset="utf-8")
    meta(name="author", content="John Alexis Guerra Gómez")
    meta(name="description", content="Week 3 Why, abstracting the tasks. MIDS W209 Information Visualization Slides")

    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fjalla+One|Raleway|PT+Sans+Narrow")

    //- Adobe fonts
    link(rel="stylesheet" href="https://use.typekit.net/yjc0afr.css")

    //- <!-- Theme used for syntax highlighting of code -->
    link(rel="stylesheet" href="../plugin/highlight/monokai.css" id="highlight-theme")


    link(href="../css/reveal.css", rel="stylesheet")
    link(href="../css/theme/white.css", rel="stylesheet", id="theme")
    link(href="../css/style.css", rel="stylesheet")


  body
    .reveal
      .slides
        section
          h1.title Why: abstracting the tasks
            br
            small MIDS W209: Information Visualization

          div.r-stretch

          div.tiny
            a(href="https://johnguerra.co/", target="_blank") #[strong  John Alexis Guerra Gómez]
            span  |  john.guerra[at]gmail.com
            a(href="https://twitter.com/duto_guerra")  |  @duto_guerra
            br

            a(href="https://johnguerra.co/lectures/MIDS_W209_Information_Visualization/03_Why/", target="_blank") https://johnguerra.co/lectures/MIDS_W209_Information_Visualization/03_Why/

          div.logo
            a(href="https://datascience.berkeley.edu/")
              img.logo(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
          div.tiny Partially based on
            a(href="https://www.cs.ubc.ca/~tmm/talks.html#minicourse14")  slides from Tamara Munzner

        //- Outline
        section#outline
          section
            h2 What we are going to learn
            ul
              li Abstracting the tasks (Why)
              li.fragment Define the verb of the task (Action)
              li.fragment Define the noun of the task (Targets)
              li.fragment Tasks good practices
              li.fragment Deriving new data

        section#why
          section
            h1 Abstracting the tasks (Why)

          section(data-background-size="contain" data-background="../shared_images/why_sheet.png")#why


          section
            h2 Why analyze tasks
            ul
              li Abstract tasks are domain independent
              li.fragment 2 different domain problems
                span.fragment  👉  same task abstraction
                  span.fragment  👉  same solution
              li.fragment Visualization idioms are good for some tasks and bad for others

          section
            h2 Task construction

          section
            div.flex
              div.half
                div.fragment(data-fragment-index=1) Action (verb)
                img.fragment(data-fragment-index=3, src="../shared_images/vad_book_alldiagrams/why_actions.png", alt="Why Actions")

              div(style="flex=2%") +
              div.half
                div.fragment(data-fragment-index=2) Target (noun)
                img.fragment(data-fragment-index=4, src="../shared_images/vad_book_alldiagrams/why_targets.png", alt="Why Targets")


        section#actions
          section
            h1 Actions
              br
              small verbs

          section
            h2 Actions levels
            div Three levels:
            ul.line-compressed
              li Analyze
              li.fragment Search
              li.fragment Query
            div.fragment Try being specific

          section
            h3 Actons: Analize, High-level

            div.flex
              div.half
                ul.small
                  li.fragment Consume
                    ul
                      li.fragment Discover #[span.fragment vs Present]
                      li.fragment Enjoy
                  li.fragment Produce

                    ul
                      li.fragment Annotate#[span.fragment , Record]
                      li.fragment #[strong Derive]


              div.half.vcentered.r-stretch
                img(src="../shared_images/vad_book_alldiagrams/why_actions_analyze.png", alt="Why Actions: Analyze")



          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/tamara_course14_session1-20.png")

          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/tamara_course14_session1-21.png")

          section.full
            h3 Actions: Search, Mid-level
            div.flex
              div.half.vcentered
                img(src="../shared_images/vad_book_alldiagrams/why_actions_search.png", alt="Why Actions: search")

              div.half
                ul.small
                  li.fragment #[strong Target]
                    ul
                      li.fragment I know what I'm looking for
                      li.fragment e.g. What's the salary of the #[strong CEO]. #[span.fragment 👆 Target known]
                      li.fragment e.g. Who has the highest the salary. #[span.fragment 👆 Target unknown]

          section.full
            h3 Actions: Search, Mid-level
            div.flex
              div.half.vcentered
                img(src="../shared_images/vad_book_alldiagrams/why_actions_search.png", alt="Why Actions: search")

              div.half
                ul.small
                  li.fragment #[strong Location]
                    ul
                      li.fragment I know where the mark is going to be located in the chart
                      li.fragment Scales alphabetically ordered


          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/tamara_course14_session1-20.png")
          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/tamara_course14_session1-21.png")
          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/tamara_course14_session1-22.png")
          section.full
            h3 Actions: Query, Low-level

            div.flex
              div.half
                div.small How much of the data matters?
                ul.small
                  li.fragment One #[span.fragment 👉 identify]
                  li.fragment Some #[span.fragment 👉 compare]
                  li.fragment All #[span.fragment 👉 summarize]

              div.half.vcentered
                img(data-fragment-index=3, src="../shared_images/vad_book_alldiagrams/why_actions_query.png", alt="Why Actions: query")


          //- section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/tamara_course14_session1-19.png")


        section#targets
          section.full
            //- h2.small Targets
            img(style="max-height:'600px'", src="../shared_images/vad_book_alldiagrams/why_targets.png", alt="Why Targets")

          section
            h3 Targets: Trends, outliers, features

            div.flex
              div.half
                ul.small
                  li Trends (or patterns) #[span.fragment e.g. Are sales increasing?]
                  li.fragment Outliers #[span.fragment one or some that aren't like the others.]
                  li.fragment Features #[span.fragment 👉 task dependent e.g. a v-shaped recession.]

              div.half.vcentered.r-stretch
                img( src="../shared_images/vad_book_alldiagrams/why_targets_all_data.png", alt="Why Targets: All data")


          section
            h3 One Attribute: Distributions, Extremes
            div.flex
              div.half.vcentered.r-stretch
                img( src="../shared_images/vad_book_alldiagrams/why_targets_attributes_one.png", alt="Why Targets: Attributes")

              div.half
                ul.small
                  li Distribution #[span.fragment e.g. GDP distribution across multiple countries]
                  li Extremes #[span.fragment e.g. Country with highest GDP]

          section
            h3 Many Attributes: Dependency, Correlation, Similarity
            div.flex
              div.half
                ul.small
                  li Dependency #[span.fragment e.g. Do all NBA players attended college?]
                  li Correlation #[span.fragment e.g. Do higher paying players score more?]
                  li Similarity #[span.fragment e.g. Do Curry and Hardem shoot the same?]

              div.half.vcentered.r-stretch
                img( src="../shared_images/vad_book_alldiagrams/why_targets_attributes_many.png", alt="Why Targets: Attributes")


          section
            h3 Networks: Topology + Shape
            div.flex

              div.half
                ul.small
                  li Topology #[span.fragment e.g. Do all my classmates follow each other?]
                  li Paths #[span.fragment e.g. Who do I know on LinkedIN that knows Bill Gates?]

              div.half.vcentered.r-stretch
                img( src="../shared_images/vad_book_alldiagrams/why_targets_networks.png", alt="Why Targets: Networks")

          section
            h3 Targets: Spatial data
            div.flex
              div.half.vcentered.r-stretch
                img( src="../shared_images/vad_book_alldiagrams/why_targets_spatial_data.png", alt="Why Targets: Networks")

              div.half
                ul.small
                  li Shape #[span.fragment e.g. Is there a park within 100ft of every school?]

        section#goodPractices
          section
            h2 Good practices
            div.flex.small
              div.half
                ul
                  li Be specific
                  li.fragment Is your task measurable?
                  li.fragment Number your tasks
                  li.fragment Use Tamara's grammar
                  li.fragment Describe specific attributes used
                  li.fragment Don't think about the visuals

              div.half.small
                ul
                  li.fragment T1 #[strong Summarize] the stock market prices for the SP/500 companies (Summarize, Distribution)
                  li.fragment T2 #[strong Identify] the most profitable books for the last year (Identify, Features)
                  li.fragment T3 #[strong Compare] the #[strong trends] of COVID19 deaths in the world (Compare, Trend)


        section#deriving
          section
            h1 Deriving new data

            img(src="../shared_images/vad_book_alldiagrams/why_derive.png", alt="Why: Derive data")

          section
            strong Task: Summarize the trend of the trade balance (exports - imports)
            img(src="../shared_images/vad_book_alldiagrams/why_derive_before.png", alt="Derive data before")
            div.fragment.small Don't make the user compute it in their head

          section
            strong Task: Summarize the trend of the trade balance (exports - imports)
            img(src="../shared_images/vad_book_alldiagrams/why_derive_after.png", alt="Derive data after")
            div Instead display the difference


          section
            h2 When to derive data?

            div.flex
              ul.half.small
                li Large data? #[span.fragment 👉 aggregate]
                li.fragment Complex data? #[span.fragment 👉 simplify]
                li.fragment Dimensionality Reduction
                li.fragment Network/Tree Analytics (clusters, centralities)
                li.fragment Don't make the user think!

              div.half
                img(src="../shared_images/vad_book_alldiagrams/why_derive.png", alt="Why: Derive data")



        section#howIntro
          section
            img(src="../shared_images/vad_book_alldiagrams/tamara_course14_session1-23.png", alt="How: Abstracting the idiom")


        section#whatWeLearned
          section
            h1 What we learned
            ul
              li Abstracting the tasks (Why)
              li.fragment Define the verb of the task (Action)
              li.fragment Define the noun of the task (Targets)
              li.fragment Tasks good practices
              li.fragment Deriving new data


        section#practice
          section
            h1 Practice

        section
          section
            h1 Rendering
          section
            h2 SVG
          section
            h2 Canvas
          section
            h2 WebGL?


        section#d3
          section
            h1 Setting up D3
        section#altair
          section
            h1 Setting up Altair
        section#vega-lite
          section
            h1 Setting up Vega-lite
        section#tableau
          section
            h1 Setting up Tableau




    script(src="../js/reveal.js")
    script(src="../plugin/zoom/zoom.js")
    script(src="../plugin/notes/notes.js")
    script(src="../plugin/search/search.js")
    script(src="../plugin/markdown/markdown.js")
    script(src="../plugin/highlight/highlight.js")


    script.
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        hash: true,
        //- transition: "convex",

        //- width: "90%",
        //- height: "100%",

        plugins: [ RevealZoom, RevealNotes, RevealSearch, RevealMarkdown, RevealHighlight ]
      });
    script.
      (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,"script","https://www.google-analytics.com/analytics.js","ga");

      ga("create", "UA-72531610-1", "auto");
      ga("send", "pageview");
