doctype html
html(lang="en")
  head
    title Week 7 Visualizing Temporal Data. MIDS W209 Information Visualization Slides
    meta(charset="utf-8")
    meta(name="author", content="John Alexis Guerra Gómez")
    meta(name="description", content="Week 7 Visualizing Temporal Data. MIDS W209 Information Visualization Slides")

    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fjalla+One|Raleway|PT+Sans+Narrow")

    //- Adobe fonts
    link(rel="stylesheet" href="https://use.typekit.net/yjc0afr.css")

    //- <!-- Theme used for syntax highlighting of code -->
    link(rel="stylesheet" href="../plugin/highlight/monokai.css" id="highlight-theme")


    link(href="../css/reveal.css", rel="stylesheet")
    link(href="../css/theme/white.css", rel="stylesheet", id="theme")
    link(href="../css/style.css", rel="stylesheet")


  body
    .reveal
      .slides
        section
          h1.title Visualizing Temporal Data
            br
            small MIDS W209: Information Visualization

          div.r-stretch

          div.tiny
            a(href="https://johnguerra.co/", target="_blank") #[strong  John Alexis Guerra Gómez]
            span  |  john.guerra[at]gmail.com
            a(href="https://twitter.com/duto_guerra")  |  @duto_guerra
            br

            a(href="https://johnguerra.co/lectures/MIDS_W209_Information_Visualization/07_Time/", target="_blank") https://johnguerra.co/lectures/MIDS_W209_Information_Visualization/07_Time/

          div.logo
            a(href="https://datascience.berkeley.edu/")
              img.logo(data-src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
          div.tiny Partially based on
            a(href="https://www.cs.ubc.ca/~tmm/talks.html#minicourse14")  slides from Tamara Munzner

        //- Outline
        section#outline
          section
            h2 What We Are Going to Learn
            ul
              li.fragment Line charts
              li.fragment Area charts
              li.fragment Other representations
              li.fragment Radial idioms
              li.fragment Modern represtations
              li.fragment HCIL work on temporal
              li.fragment Tips


        //- convert -density 150 -depth 8 -quality 85 ~/Dropbox/documentos/2016/andes/visual_analytics/lectures_tamara/05_rules-artery.pdf ./05_rules-artery.png

        section#intro
          section
            h1 Visualizing Time


          section
            h2 Temporal Datasets
            ul.small
              li One attribute has a timestamp (at any level)
              li.fragment Granularity ("year/month/day" vs. "year/month/day/hour")
                ul
                  li.fragment Truncate
                  li.fragment Datepart
              li.fragment Sometimes is cyclic
              li.fragment Seasonality


        section#lineCharts
          section
            h1 Line Charts

          //- section#lineChart
          //-   h2.demo Idiom: Line chart
          //-   div.left.small
          //-     ul
          //-       li.fragment Data: Table, many timelines
          //-       li.fragment Tasks: Compare trends and similarities (with many), locate outliers
          //-       li.fragment Visual Representation: Line, vertical position, color hue
          //-       li.fragment Considerations:
          //-         ul
          //-           li Time usually goes from left to right
          //-   div.right
          //-     img(data-src="../shared_images/vad_book_alldiagrams/linechart.png" alt="Line chart")

          section#lineChart
            h2 Idiom: Line Chart/Dot Plot
            .flex
              .twothirds
                ul.tiny
                  li.fragment One key, one value
                  li.fragment Data: two quantitative attribs

                  li.fragment Mark: points and line connection marks between them
                  li.fragment Channels:
                    ul.small
                      li Aligned lengths to express quant value
                      li Separated and ordered by key attrib into horizontal regions
                  li.fragment Task: find trend
                    ul.small
                      li.fragment Connection marks emphasize ordering of items along key axis by explicitly showing relationship between one item and the next
                  li.fragment Scalability: hundreds of key levels, hundreds of value levels
              .third
                img.fill.vcentered( data-src="../shared_images/vad_book_alldiagrams/linechart_example.png", alt="Linechart example")




          section
            h2 Choosing Bar vs. Line Charts
            .flex
              .half
                ul.small
                  li.fragment Depends on type of key attribute
                  ul
                    li.fragment Bar charts if categorical
                    li.fragment Line charts if ordered
                  li.fragment Do not use line charts for categorical key attributes
                  ul
                    li.fragment Violates expressiveness principle
                    li.fragment Implication of trend so strong that it overrides semantics!
                    ul
                      li.fragment “The more male a person is, the taller he/she is.”
              .half
                figure
                  img.fill(data-src="../shared_images/vad_book_alldiagrams/barchart_vs_linechart.png", alt="Barchart vs Linechart")
                  figcaption.reference after [Bars and Lines: A Study of Graphic Communication. Zacks and Tversky. Memory and Cognition 27:6 (1999), 1073–1079.]



          section
            h2 Idiom: Dual-Axis Line Charts
            .flex
              .half
                ul.small
                  li.fragment Controversial
                  li.fragment Acceptable if commensurate
                  li.fragment Beware, very easy to mislead!
              .half
                figure
                  img.fill(data-src="../shared_images/vad_book_alldiagrams/dual_axis.png", alt="Dual Axis")
                  figcaption.reference Ben Jones @DataRemixed

          section.full
            h3 Line Chart Aspect Ratio, Part I
            .flex
              .half
                ul.tiny
                  li.fragment 1: banking to 45 (1980s)
                    ul
                      li.fragment Cleveland perceptual argument: most accurate angle judgement at 45
              .half

          section.full
            h3 Line Chart Aspect Ratio, Part II
            .flex
              .half
                ul.tiny
                  li.fragment 2: multi-scale banking to 45 (2006)
                    ul
                      li.fragment Frequency domain analysis to find ratios
                      li.fragment FFT the data, convolve with Gaussian to smooth
                      li.fragment Find interesting spikes/ranges in power spectrum
                      li.fragment Cull nearby regions if similar, ensure overview
                      li.fragment Create trend curves (red) for each aspect ratio
              .half


          section.full
            h3 Line Chart Aspect Ratio, Part III
            .flex
              .half
                ul.tiny
                  li.fragment 3: arc length based aspect ratio (2011)
                    ul
                      li.fragment Minimize the arc length of curve while keeping the area of the plot constant
                      li.fragment Parametrization and scale invariant
                      li.fragment Symmetry preserving
                      li.fragment Robust and fast to compute
                      br
                      li.fragment Meta-points from this progression
                      li.fragment Young field; prescriptive advice changes rapidly
                      li.fragment Reasonable defaults required deep dive into perception meets math
              .half

          section
            h2 Idiom: Indexed Line Charts
            .flex
              .half
                ul.small
                  li.fragment Data: two quantitative attributes
                    ul
                      li.fragment One key and one value
                  li.fragment Derived data: new quantitative value attribute
                    ul
                      li Index
                      li Plot instead of original value
                  li.fragment Task: show change over time
                    ul
                      li Principle: normalized, not absolute
                  li.fragment Scalability same as standard line chart
              .half

        section#areaCharts
          section
            h1 Area Charts

          section
            h2 Idiom: Streamgraph
            .flex
              .half
                ul.tiny
                  li.fragment Generalized stacked graph
                    ul.small
                      li Emphasizing horizontal continuity
                      li Vs. vertical items
                  li.fragment Data
                    ul
                      li One categorical key attribute (artist)
                      li One ordered key attribute (time)
                      li One quantitative value attribute (counts)
                      li Derived data
                  li.fragment Mark: layers (areas)
                    ul
                      li Height encodes counts

                  li.fragment One quantitative attribute (layer ordering)
                  li.fragment Scalability:
                    ul
                      li Hundreds of time keys
                      li Dozens to hundreds of artist keys
                      ul
                        li More than stacked bars, since most layers don’t extend across whole chart
              .half
                figure
                  img.fill(data-src="../shared_images/vad_book_alldiagrams/streamgraph.png", alt="Streamgraph")
                  figcaption.reference [Stacked Graphs Geometry &amp; Aesthetics. Byron and Wattenberg. IEEE Trans. Visualization and Computer Graphics (Proc. InfoVis 2008) 14(6): 1245–1252, (2008).]

          //- Streamgraph block
          section
            h3.demo Streamgraph RIO2016
            figure
              img.fill(data-src="../shared_images/streamGraphNYTimes.png",alt="Streamgraph RIO2016 NY times")
              figcaption.reference
                a(target="_blank" href="http://www.nytimes.com/interactive/2016/08/08/sports/olympics/history-olympic-dominance-charts.html?_r=0") http://www.nytimes.com/interactive/2016/08/08/sports/olympics/history-olympic-dominance-charts.html?_r=0


          section
            h2 Stacked Area Charts
            .flex
              .half
                ul
                  li.fragment Similar to streamgraphs
                  li.fragment Task: identify trends in total
                  li.fragment More accurate
                  li.fragment Less fancy (enjoy)
                  li.fragment Choose first category wisely



        section#other
          section
            h1 Other Representations

          section#gantt
            h2.demo Gantt Charts
            div.left
              ul.tiny
                li.fragment Data: two time attributes (start end)
                li.fragment Tasks: summarize duration (features), compare events, identify intersections/dependencies
                li.fragment Visual representation: line, express for time, separate/order/aligned for tasks, color hues
            div.right
              figure
                img.fill(data-src="../shared_images/vad_book_alldiagrams/gantChart.png", alt="Gant Chart")
                figcaption.reference
                  a.tiny(href="https://observablehq.com/@john-guerra/mids-assignments-timeline") https://observablehq.com/@john-guerra/mids-assignments-timeline


          section
            h2 Idiom: Slopegraphs
            .flex
              .half
                ul.tiny
                  li.fragment Two values
                  li.fragment Data:
                    ul
                      li.fragment Two quantitative value attributes
                      li.fragment (One derived attribute: change magnitude)
                  li.fragment Mark: point and line
                    ul
                      li.fragment Line connecting mark between points
                  li.fragment Channels:
                    ul
                      li.fragment Two vertical points: express attribute value
                      li.fragment (Line width/size, color)
                  li.fragment Task: emphasize changes in rank/value
                  li.fragment Scalability hundreds of value levels
              .half

          section#calendarView
            h2.demo Idiom: Calendar View
            div.left.small
              ul
                li.fragment Data: table (years), one timeline
                li.fragment Tasks: compare trends (by days of the week, month, year), locate outliers
                li.fragment Visual representation: shape, vertical/horizontal position, color hue
                li.fragment Considerations: natural view for humans, focus on common time aggregations
            div.right
              img(data-src="../shared_images/vad_book_alldiagrams/calendar_view.png" alt="Calendar view")


          section
            h2 Breaking Conventions
            ul.small
              li.fragment Presentation vs. exploration
              li.fragment Engaging/evocative
              li.fragment Inverted y-axis
              li.fragment Blood drips down on Poe

        section
          section
            h1 Radial Idioms

          section#radialTimeline
            h2.demo Idiom: Radial Timelines
            div.left.small
              ul
                li.fragment Data: table (years), one timeline
                li.fragment Tasks: compare trends (by days of the week, month, year), locate outliers
                li.fragment Visual representation: line, radial position, color hue (rainbow :( )
                li.fragment Considerations: appeals to cyclic nature of time
            div.right
              a(target="_blank" href="http://www.climate-lab-book.ac.uk/spirals/")
                img(data-src="../shared_images/vad_book_alldiagrams/spiral_may2016.gif" alt="radial_heatmapl")
              a.tiny(target="_blank" href="http://www.climate-lab-book.ac.uk/spirals/")  http://www.climate-lab-book.ac.uk/spirals/

          section
            h2 D3 Radial

            ul
              li
                a(href="https://observablehq.com/@d3/radial-stacked-bar-chart-ii") Radial Stacked Bar Chart II
              li
                a(href="https://observablehq.com/@vasturiano/spiral-axis" target="_blank") Spiral Axis

          //- section
          //-   h3.demo Circos.js
          //-   a.tiny(target="_blank" href="http://nicgirault.github.io/circosJS/demo/") http://nicgirault.github.io/circosJS/demo/
          //-   iframe.blocks(data-src="http://nicgirault.github.io/circosJS/demo/")

          section
            h2 Nightingale Chart
            div "Diagram of the causes of mortality in the army in the East" (1858)




        section#modernRepresentations
          section
            h1 Modern Representations

          section#horizonCharts
            h2.demo Idiom: Horizon Charts
            div.left.small

              ul
                li.fragment Data: table, many timelines
                li.fragment Tasks: compare trends and similarities (with many), locate outliers
                li.fragment Visual representation: line, vertical position, color luminosity (quant divergent)
                li.fragment Considerations: uses much less space
            div.right
              img(data-src="../shared_images/vad_book_alldiagrams/horizon.png" alt="Horizon charts")

          section
            h3.demo Horizon Charts
            iframe.blocks(data-src="http://blockbuilder.org/john-guerra/7770baa3383ab777f8ac211deeb66fbc")
            a.tiny(target="_blank" href="http://blockbuilder.org/john-guerra/7770baa3383ab777f8ac211deeb66fbc") http://blockbuilder.org/john-guerra/7770baa3383ab777f8ac211deeb66fbc
            a.tiny(target="_blank" href="http://bl.ocks.org/mbostock/") by mbostock
            // @john-guerra Note: this content extends off the slide and image does not display

          section
            h2.demo Cubism
            a(target="_blank" href="http://square.github.io/cubism/") Cubism.js
            iframe.blocks(data-src="http://square.github.io/cubism/")
            // @john-guerra Note: image does not display

          section#joyPlot
            h3.demo Joyplots
            iframe.blocks(data-src="https://blockbuilder.org/john-guerra/2bb5a08bd6f17a5cb4efd6ad6d98973c")
            a.tiny(target="_blank" href="https://blockbuilder.org/john-guerra/2bb5a08bd6f17a5cb4efd6ad6d98973c") Joy Plot Temperatures

          section
            h3.demo Joyplot Vega-Lite
            a.tiny(href="https://observablehq.com/@vega/psr-b1919-21-with-vega-lite") PSR B1919+21 with Vega-Lite

          section
            h2 Idiom: Connected Scatterplots
            .flex
              .half
                ul.small
                  li.fragment Scatterplot with line connection marks
                  ul
                    li.fragment Popular in journalism
                    li.fragment Horizontal and vertical axes: value attributes
                    li.fragment Line connection marks: temporal order
                  li.fragment Empirical study
                  ul
                    li.fragment Engaging, but correlation unclear
              .half
                figure
                  img.fill(data-src="../shared_images/vad_book_alldiagrams/connected_scatterplot.png", alt="Connected Scatterplot")
                  figcaption.reference
                    a(href="http://steveharoz.com/research/connected_scatterplot/") http://steveharoz.com/research/connected_scatterplot/

          section
            h3 Idiom: Connected Scatterplots (cont.)
            .flex
              .half
                ul.small
                  li.fragment Alternative to dual-axis charts
                  ul
                    li.fragment Horizontal: time
                    li.fragment Vertical: two value attributes
              .half
                figure
                  img.fill(data-src="../shared_images/vad_book_alldiagrams/connected_scatterplots_vs_dual_axis.png", alt="Connected Scatterplot vs Dual Axis")
                  figcaption.reference
                    a(href="http://steveharoz.com/research/connected_scatterplot/") http://steveharoz.com/research/connected_scatterplot/


          //- section
          //-   h2 Idiom: Gantt charts
          //-   ul.small
          //-     li.fragment one key, two (related) values
          //-     li.fragment data: 1 categ attrib, 2 quant attribs
          //-     li.fragment mark: line
          //-     li.fragment length: duration
          //-     li.fragment channels: horiz position: start time (+end from duration)
          //-     li.fragment task: emphasize temporal overlaps, start/end dependencies between items
          //-     li.fragment scalability
          //-     li.fragment dozens of key levels
          //-     li.fragment hundreds of value levels




        section#hcilTemporal
          section
            h2 HCIL Research

            a(target="_blank" href="http://www.cs.umd.edu/hcil/temporalviz/")
              figure
                img(style="width:300px", data-src="../shared_images/vad_book_alldiagrams/hcil_logo.jpg")
                figcaption.tiny(target="_blank" href="http://www.cs.umd.edu/hcil/temporalviz/") Summary of HCIL Projects in Temporal Visualizations

          section
            h2 Time Searcher
            span.
              <iframe width="853" height="480" data-src="https://www.youtube.com/embed/VWx1TMcrb74" frameborder="0" allowfullscreen></iframe>
            a.small(href="http://www.cs.umd.edu/hcil/timesearcher/") Visual Exploration of Time-Series Data


          section(data-markdown)
            script(type="text/template").
              ### Categorical Time events

              Event ID | Category | Timestamp | Attribs
              ---|----------|-----------|---------
              1 | Arrive | 2016/08/13 18:01:30 | On time
              1 | Clear | 2016/08/13 18:10:00 |
              1 | Finish | 2016/08/13 18:15:00 | Revised
              ...  | ... |  ... |
              2 | Arrive | 2016/08/13 19:01:30 | Late
              2 | Review | 2016/08/13 19:11:00 | Network issues
              2 | Clear | 2016/08/13 19:15:00 |
              2 | Finish | 2016/08/13 19:15:00 | Non-revised

              <!-- .element: class="small" -->


          section
            h2 Lifelines
            span.
              <iframe width="853" height="480" data-src="https://www.youtube.com/embed/aeRklur2Zc4?start=54" frameborder="0" allowfullscreen></iframe>
            a.small(target="_blank" href="http://www.cs.umd.edu/hcil/lifelines/") LifeLines for Visualizing Patient Records


          section
            h2.demo Lifelines (cont.)
            a.small(target="_blank" href="http://www.cs.umd.edu/hcil/lifelines/")
              img.demo(data-src="http://www.cs.umd.edu/hcil/lifelines/screenjan98.jpg")
            a.small(target="_blank" href="http://www.cs.umd.edu/hcil/lifelines/") LifeLines for Visualizing Patient Records

          section
            h2.demo Lifelines 2
            a(target="_blank" href="http://www.cs.umd.edu/hcil/lifelines2/")
              img.demo(data-src="http://www.cs.umd.edu/hcil/lifelines2/images/title.png")
            a.small(target="_blank" href="http://www.cs.umd.edu/hcil/lifelines2/") Lifelines2: Discovering Temporal Categorical Patterns Across Multiple Records

          section
            h2.demo Lifelines 2 Demo
            iframe.blocks(data-src="http://www.cs.umd.edu/hcil/lifelines2/videos/Lifelines2-(Contrast-Creatinine)-11-10-08_flash/full(1024x768)/index.htm")
            a.tiny(target="_blank" href="http://www.cs.umd.edu/hcil/lifelines2/videos/Lifelines2-(Contrast-Creatinine)-11-10-08_flash/full(1024x768)/index.htm") Lifelines 2 video link
            // @john-guerra Note: this content extends off the slide and image does not display

          section
            h2 Similian
            a(target="_blank" href="http://www.cs.umd.edu/hcil/similan")
              img.demo(data-src="http://www.cs.umd.edu/hcil/similan/img/simi20091011/overview.png")
            a.tiny(target="_blank" href="http://www.cs.umd.edu/hcil/similan") Similan: Finding Similar Records from Temporal Categorical Data

          section
            h2.demo Similian Demo
            iframe.blocks(data-src="http://www.cs.umd.edu/hcil/similan/video/demo/index.html")
            a.tiny(target="_blank" href="http://www.cs.umd.edu/hcil/similan/video/demo/index.html") Similian video link
            // @john-guerra Note: this content extends off the slide and image does not display

          section
            h2 LifeFlow
            a(target="_blank" href="http://www.cs.umd.edu/hcil/lifeflow/")
              img.demo(data-src="http://www.cs.umd.edu/hcil/lifeflow/img/LifeFlow3.png")
            a.tiny(target="_blank" href="http://www.cs.umd.edu/hcil/lifeflow/") LifeFlow: Understanding Millions of Event Sequences in a Million Pixels

          section
            h2.demo LifeFlow How-To
            span.
              <iframe width="853" height="480" data-src="https://www.youtube.com/embed/QxceG6_RM8w" frameborder="0" allowfullscreen></iframe>

          section
            h2.demo LifeFlow Demo
            span.
              <iframe width="853" height="480" data-src="https://www.youtube.com/embed/nXrmJS6Vk9A" frameborder="0" allowfullscreen></iframe>

          section
            h2 EventFlow
            a(target="_blank" href="http://hcil.umd.edu/eventflow/")
              img.demo(data-src="http://www.cs.umd.edu/hcil/eventflow/img/EventFlow.png")
            a.tiny(target="_blank" href="http://hcil.umd.edu/eventflow/") EventFlow: Visual Analysis of Temporal Event Sequences and Advanced Strategies for Healthcare Discovery

          section
            h2.demo EventFlow D emo

            span.
              <iframe width="853" height="480" data-src="https://www.youtube.com/embed/FHgcJDnW8q8" frameborder="0" allowfullscreen></iframe>


        section#commonTricks
          section
            h2 Common Derives/Tricks for Temporal Data

          section
            h2.demo Align by E vent
            iframe.blocks(data-src="http://old.tweetometro.co/robots_May25.html", frameborder="0")

          section
            h2 Add/Remove Granularity

          section
            h2 Extract Dateparts

          section
            h2 Window Average/Median


          section
            h2 Seasonality
            iframe.blocks(data-src="http://old.tweetometro.co/", frameborder="0")

          section
            h2 Loose Scales
            a(href="http://johnguerra.co/viz/influentials/chi2019/tweets.html") Interaction network in chi2019

        section#d3Temporal
          section
            h1 Temporal with D3

          //- Multi-series Line chart
          section#multiLineChart
            h3.demo Multi-Series Line Chart
            iframe.blocks(data-src="http://blockbuilder.org/mbostock/3884955")
            a.tiny(target="_blank" href="http://blockbuilder.org/mbostock/3884955") Multi-Series Line Chart
            a.tiny(target="_blank" href="http://bl.ocks.org/mbostock/") by mbostock
            // @john-guerra Note: content extends off-screen and image is not visible

          //- Streamgraph block
          section
            h3.demo Streamgraph
            iframe.blocks(data-src="http://blockbuilder.org/mbostock/4060954")
            a.tiny(target="_blank" href="http://blockbuilder.org/mbostock/4060954") Streamgraph
            // @john-guerra Note: content extends off-screen and image is not visible


          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.011.png")
          //- Linechart block
          section
            h3.demo Linechart
            iframe.blocks(data-src="http://blockbuilder.org/mbostock/3883245")
            a.tiny(target="_blank" href="http://blockbuilder.org/mbostock/3883245") Line Chart
            // @john-guerra Note: content extends off-screen and image is not visible

          section
            h3.demo Stacked Area Chart
            iframe.blocks(data-src="http://blockbuilder.org/mbostock/3020685")
            a.tiny(target="_blank" href="http://blockbuilder.org/mbostock/3020685") Stacked Area Chart
            a.tiny(target="_blank" href="http://bl.ocks.org/mbostock/") by mbostock
            // @john-guerra Note: content extends off-screen and image is not visible

          section
            h3.demo Stacked Radial Area
            iframe.blocks(data-src="http://blockbuilder.org/mbostock/3048740")
            a.tiny(target="_blank" href="http://blockbuilder.org/mbostock/3048740") Stacked Radial Area
            a.tiny(target="_blank" href="http://bl.ocks.org/mbostock/") by mbostock
            // @john-guerra Note: content extends off-screen and image is not visible

          section
            h3.demo Stacked Radial Area (cont.)
            a(href="https://observablehq.com/@d3/radial-area-chart") Radial Area Chart

          section
            h3.demo Calendar View
            iframe.blocks(data-src="http://blockbuilder.org/mbostock/4063318")
            a.tiny(target="_blank" href="http://blockbuilder.org/mbostock/4063318") Calendar View
            a.tiny(target="_blank" href="http://bl.ocks.org/mbostock/") by mbostock
            // @john-guerra Note: content extends off-screen and image is not visible

        section#review
          section
            h2 What We Learned
            ul.small
              li.fragment Line charts
              li.fragment Area charts
              li.fragment Other representations
              li.fragment Radial idioms
              li.fragment Modern represtations
              li.fragment HCIL work on temporal
              li.fragment Tips


    script(src="../js/reveal.js")
    script(src="../plugin/zoom/zoom.js")
    script(src="../plugin/notes/notes.js")
    script(src="../plugin/search/search.js")
    script(src="../plugin/markdown/markdown.js")
    script(src="../plugin/highlight/highlight.js")

    //- script(src="https://cdn.jsdelivr.net/npm/vega@5.13.0")
    //- script(src="https://cdn.jsdelivr.net/npm/vega-lite@4.13.1")
    //- script(src="https://cdn.jsdelivr.net/npm/vega-lite-api@0.11.0")
    //- script(src="https://cdn.jsdelivr.net/npm/vega-tooltip@0.23.2")

    script.
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        hash: true,
        //- transition: "convex",

        //- width: "100%",
        //- height: "720px",

        plugins: [ RevealZoom, RevealNotes, RevealSearch, RevealMarkdown, RevealHighlight ]
      });
    script.
      (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,"script","https://www.google-analytics.com/analytics.js","ga");

      ga("create", "UA-72531610-1", "auto");
      ga("send", "pageview");

