doctype html
html(lang="en")
  head
    title Week 7 Visualizing Temporal Data. MIDS W209 Information Visualization Slides
    meta(charset="utf-8")
    meta(name="author", content="John Alexis Guerra Gómez")
    meta(name="description", content="Week 7 Visualizing Temporal Data. MIDS W209 Information Visualization Slides")

    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fjalla+One|Raleway|PT+Sans+Narrow")

    //- Adobe fonts
    link(rel="stylesheet" href="https://use.typekit.net/yjc0afr.css")

    //- <!-- Theme used for syntax highlighting of code -->
    link(rel="stylesheet" href="../plugin/highlight/monokai.css" id="highlight-theme")


    link(href="../css/reveal.css", rel="stylesheet")
    link(href="../css/theme/white.css", rel="stylesheet", id="theme")
    link(href="../css/style.css", rel="stylesheet")


  body
    .reveal
      .slides
        section
          h1.title Visualizing Temporal Data
            br
            small MIDS W209: Information Visualization

          div.r-stretch

          div.tiny
            a(href="https://johnguerra.co/", target="_blank") #[strong  John Alexis Guerra Gómez]
            span  |  john.guerra[at]gmail.com
            a(href="https://twitter.com/duto_guerra")  |  @duto_guerra
            br

            a(href="https://johnguerra.co/lectures/MIDS_W209_Information_Visualization/07_Time/", target="_blank") https://johnguerra.co/lectures/MIDS_W209_Information_Visualization/07_Time/

          div.logo
            a(href="https://datascience.berkeley.edu/")
              img.logo(src="../shared_images/UC_Berkeley_wordmark_cal_gold.png" alt="University Of California at Berkeley logo")
          div.tiny Partially based on
            a(href="https://www.cs.ubc.ca/~tmm/talks.html#minicourse14")  slides from Tamara Munzner

        //- Outline
        section#outline
          section
            h2 What we are going to learn
            ul.small


        //- convert -density 150 -depth 8 -quality 85 ~/Dropbox/documentos/2016/andes/visual_analytics/lectures_tamara/05_rules-artery.pdf ./05_rules-artery.png

        section#intro
          section
            h1 Visualizing Time


          section
            h2 Temporal Datasets
            ul.small
              li.fragment One attrib+ has a timestamp (at any level)
              li.fragment Granularity ("Year/Month/Day" vs "Year/Month/Day Hour")
                ul
                  li.fragment Truncate
                  li.fragment Datepart
              li.fragment Sometimes is Cyclic
              li.fragment Seasonality


        section#idioms
          section
            h1 Idioms

          //- section#lineChart
          //-   h2.demo Idiom: Line chart
          //-   div.left.small
          //-     ul
          //-       li.fragment Data: Table, many timelines
          //-       li.fragment Tasks: Compare trends and similarities (with many), locate outliers
          //-       li.fragment Visual Representation: Line, vertical position, color hue
          //-       li.fragment Considerations:
          //-         ul
          //-           li Time usually goes from left to right
          //-   div.right
          //-     img(src="../shared_images/vad_book_alldiagrams/linechart.png" alt="Line chart")

          section#lineChart
            h2 Idiom: line chart / dot plot
            .flex
              .twothirds
                ul.small
                  li.fragment one key, one value
                  li.fragment data: 2 quant attribs
                  ul.small
                    li.fragment mark: points &amp; line connection marks between them
                    li.fragment channels
                    li.fragment ul.small
                      li.fragment aligned lengths to express quant value
                      li.fragment separated and ordered by key attrib into horizontal regions
                    li.fragment task: find trend
                    ul.small
                      li.fragment connection marks emphasize ordering of items along key axis by explicitly showing relationship between one item and the next
                    li.fragment scalability: hundreds of key levels, hundreds of value levels
              .third
                img.fill.vcentered( src="../shared_images/vad_book_alldiagrams/linechart_example.png", alt="Linechart example")


          section
            h2 Idiom: streamgraph
            .flex
              .twothirds
                ul.small
                  li.fragment generalized stacked graph
                  ul.small
                    li.fragment emphasizing horizontal continuity
                    li.fragment vs vertical items
                  li.fragment data
                  ul
                    li.fragment 1 categ key attrib (artist)
                    li.fragment 1 ordered key attrib (time)
                    li.fragment 1 quant value attrib (counts)
                    li.fragment derived data
                  li.fragment mark: layers
                  ul
                    li height encodes counts
                  ul
                    li.fragment 1 quant attrib (layer ordering)
                  li.fragment scalability:
                  ul
                    li.fragment hundreds of time keys
                    li.fragment dozens to hundreds of artist keys
                  ul
                    li.fragment more than stacked bars, since most layers don’t extend across whole chart
              .third
                figure
                  img.fill(src="../shared_images/vad_book_alldiagrams/streamgraph.png", alt="Streamgraph")
                  figcaption.reference [Stacked Graphs Geometry &amp; Aesthetics. Byron and Wattenberg. IEEE Trans. Visualization and Computer Graphics (Proc. InfoVis 2008) 14(6): 1245–1252, (2008).]

          //- Streamgraph block
          section
            h3.demo Streamgraph RIO2016
            figure
              img.fill(data-src="../shared_images/vad_book_alldiagrams/streamGraphNYTimes.png",alt="Streamgraph RIO2016 NY times")
              figcaption.reference
                a.tiny(target="_blank" href="http://www.nytimes.com/interactive/2016/08/08/sports/olympics/history-olympic-dominance-charts.html?_r=0") http://www.nytimes.com/interactive/2016/08/08/sports/olympics/history-olympic-dominance-charts.html?_r=0

          section
            h2 Choosing bar vs line charts
            .flex
              .half
                ul.small
                  li.fragment depends on type of key attrib
                  ul
                    li.fragment bar charts if categorical
                    li.fragment line charts if ordered
                  li.fragment do not use line charts for categorical key attribs
                  ul
                    li.fragment violates expressiveness principle
                    li.fragment implication of trend so strong that it overrides semantics!
                    ul
                      li.fragment “The more male a person is, the taller he/she is”
              .half
                figure
                  img.fill(src="../shared_images/vad_book_alldiagrams/barchart_vs_linechart.png", alt="Barchart vs Linechart")
                  figcaption.reference after [Bars and Lines: A Study of Graphic Communication. Zacks and Tversky. Memory and Cognition 27:6 (1999), 1073–1079.]

          //- Multi-series Line chart
          section#multiLineChart
            h3.demo Multi-series Line chart
            iframe.blocks(src="http://blockbuilder.org/mbostock/3884955")
            a.tiny(target="_blank" href="http://blockbuilder.org/mbostock/3884955") http://blockbuilder.org/mbostock/3884955
            a.tiny(target="_blank" href="http://bl.ocks.org/mbostock/") by mbostock


          section
            h2 Idiom: dual-axis line charts
            .flex
              .half
                ul.small
                  li.fragment controversial
                  li.fragment acceptable if commensurate
                  li.fragment beware, very easy to mislead!
              .half
                figure
                  img.fill(src="../shared_images/vad_book_alldiagrams/dual_axis.png", alt="Dual Axis")
                  figcaption.reference Ben Jones @DataRemixed


          section
            h2 Idiom: connected scatterplots
            .flex
              .half
                ul.small
                  li.fragment scatterplot with line connection marks
                  ul
                    li.fragment popular in journalism
                    li.fragment horiz + vert axes: value attribs
                    li.fragment line connection marks: temporal order
                  li.fragment empirical study
                  ul
                    li.fragment engaging, but correlation unclear
              .half
                figure
                  img.fill(src="../shared_images/vad_book_alldiagrams/connected_scatterplot.png", alt="Connected Scatterplot")
                  figcaption.reference
                    a(href="http://steveharoz.com/research/connected_scatterplot/") http://steveharoz.com/research/connected_scatterplot/

          section
            h3 Idiom: connected scatterplots 2
            .flex
              .half
                ul.small
                  li.fragment alternative to dual-axis charts
                  ul
                    li.fragment horiz: time
                    li.fragment vert: two value attribs
              .half
                figure
                  img.fill(src="../shared_images/vad_book_alldiagrams/connected_scatterplots_vs_dual_axis.png", alt="Connected Scatterplot vs Dual Axis")
                  figcaption.reference
                    a(href="http://steveharoz.com/research/connected_scatterplot/") http://steveharoz.com/research/connected_scatterplot/

          section
            h2 Choosing line chart aspect ratios
            ul.small
              li.fragment 1: banking to 45 (1980s)
              li.fragment Cleveland perceptual argument: most accurate angle judgement at 45

          section
            h2 Choosing line chart aspect ratios
            ul.small
              li.fragment 2: multi scale banking to 45 (2006)
              li.fragment frequency domain analysis to find ratios
              li.fragment FFT the data, convolve with Gaussian to smooth
              li.fragment find interesting spikes/ranges in power spectrum
              li.fragment cull nearby regions if similar, ensure overview
              li.fragment create trend curves (red) for each aspect ratio


          section
            h2 Choosing line chart aspect ratios
            ul.small
              li.fragment 3: arc length based aspect ratio (2011)
              li.fragment minimize the arc length of curve while keeping the area of the plot constant
              li.fragment parametrization and scale invariant
              li.fragment symmetry preserving
              li.fragment robust & fast to compute
              br
              li.fragment meta-points from this progression
              li.fragment young field; prescriptive advice changes rapidly
              li.fragment reasonable defaults required deep dive into perception meets math

          section
            h2 Idiom: Indexed line charts
            ul.small
              li.fragment data: 2 quant attires
              li.fragment 1 key + 1 value
              li.fragment derived data: new quant value attrib
              li.fragment index
              li.fragment plot instead of original value
              li.fragment task: show change over time
              li.fragment principle: normalized, not absolute
              li.fragment scalability same as standard line chart

          section
            h2 Idiom: Gantt charts
            ul.small
              li.fragment one key, two (related) values
              li.fragment data: 1 categ attrib, 2 quant attribs
              li.fragment mark: line
              li.fragment length: duration
              li.fragment channels: horiz position: start time (+end from duration)
              li.fragment task: emphasize temporal overlaps, start/end dependencies between items
              li.fragment scalability
              li.fragment dozens of key levels
              li.fragment hundreds of value levels

          section
            h2 Idiom: Slopegraphs
            ul.small
              li.fragment two values
              li.fragment data
              li.fragment 2 quant value attribs
              li.fragment (1 derived attrib: change magnitude)
              li.fragment mark: point + line
              li.fragment line connecting mark between pts
              li.fragment channels
              li.fragment 2 vertical pos: express attrib value
              li.fragment (linewidth/size, color)
              li.fragment task emphasize changes in rank/value
              li.fragment scalability hundreds of value levels

          section
            h2 Breaking conventions
            ul.small
              li.fragment presentation vs exploration
              li.fragment engaging/evocative
              li.fragment inverted y axis
              li.fragment blood drips down on Poe

        section

          section#horizonCharts
            h2.demo idiom: Horizon charts
            div.left.small

              ul
                li.fragment Data: Table, many timelines
                li.fragment Tasks: Compare trends and similarities (with many), locate outliers
                li.fragment Visual Representation: Line, vertical position, color luminosity (quant divergent)
                li.fragment Considerations: Uses much less space
            div.right
              img(src="../shared_images/vad_book_alldiagrams/horizon.png" alt="Horizon charts")

          //- Multi-series Line chart
          section
            h3.demo Horizon charts
            iframe.blocks(src="http://blockbuilder.org/john-guerra/7770baa3383ab777f8ac211deeb66fbc")
            a.tiny(target="_blank" href="http://blockbuilder.org/john-guerra/7770baa3383ab777f8ac211deeb66fbc") http://blockbuilder.org/john-guerra/7770baa3383ab777f8ac211deeb66fbc
            a.tiny(target="_blank" href="http://bl.ocks.org/mbostock/") by mbostock

          section
            h2.demo Cubism
            a(target="_blank" href="http://square.github.io/cubism/") http://square.github.io/cubism/
            iframe.blocks(src="http://square.github.io/cubism/")

          section#joyPlot
            h3.demo Joyplots
            iframe.blocks(src="https://blockbuilder.org/john-guerra/2bb5a08bd6f17a5cb4efd6ad6d98973c")
            a.tiny(target="_blank" href="https://blockbuilder.org/john-guerra/2bb5a08bd6f17a5cb4efd6ad6d98973c") https://blockbuilder.org/john-guerra/2bb5a08bd6f17a5cb4efd6ad6d98973c

          section
            h3.demo Joyplot vega-lite
            a.tiny(href="https://observablehq.com/@vega/psr-b1919-21-with-vega-lite") https://observablehq.com/@vega/psr-b1919-21-with-vega-lite

          section#calendarView
            h2.demo idiom: Calendar view
            div.left.small
              ul
                li.fragment Data: Table (years), one timeline
                li.fragment Tasks: Compare trends (by days of the week, month, year), locate outliers
                li.fragment Visual Representation: Shape, vertical/horizontal position, color hue
                li.fragment Considerations: Natural view for humans, focus on common time aggregations
            div.right
              img(src="../shared_images/vad_book_alldiagrams/calendar_view.png" alt="Calendar view")

          section
            h3.demo Calendar View
            iframe.blocks(src="http://blockbuilder.org/mbostock/4063318")
            a.tiny(target="_blank" href="http://blockbuilder.org/mbostock/4063318") http://blockbuilder.org/mbostock/4063318
            a.tiny(target="_blank" href="http://bl.ocks.org/mbostock/") by mbostock


          section#radialTimeline
            h2.demo idiom: Radial timelines
            div.left.small
              ul
                li.fragment Data: Table (years), one timeline
                li.fragment Tasks: Compare trends (by days of the week, month, year), locate outliers
                li.fragment Visual Representation: Line, Radial position, color hue (rainbow :( )
                li.fragment Considerations: Appeals to cyclic nature of time
            div.right
              a(target="_blank" href="http://www.climate-lab-book.ac.uk/spirals/")
                img(src="../shared_images/vad_book_alldiagrams/spiral_may2016.gif" alt="radial_heatmapl")
              a.tiny(target="_blank" href="http://www.climate-lab-book.ac.uk/spirals/")  http://www.climate-lab-book.ac.uk/spirals/

          section#gantt
            h2.demo Gantt charts
            div.left
              ul.small
                li.fragment Data: Two time attribs (start end)
                li.fragment Tasks: Summarize duration (features), compare events, identify intersections/dependencies
                li.fragment Visual Representation: Line, express for time, separate/order/aligned for tasks, color hues
            div.right
              img(src="../shared_images/vad_book_alldiagrams/gantChart.png", alt="Gant Chart")
              a.tiny(href="https://observablehq.com/@john-guerra/mids-assignments-timeline") https://observablehq.com/@john-guerra/mids-assignments-timeline


          section
            h2 D3 Radial

            ul
              li
                a(href="https://observablehq.com/@d3/radial-stacked-bar-chart-ii") https://observablehq.com/@d3/radial-stacked-bar-chart-ii
              li
                a(href="https://observablehq.com/@vasturiano/spiral-axis" target="_blank") https://observablehq.com/@vasturiano/spiral-axis

          //- section
          //-   h3.demo Circos.js
          //-   a.tiny(target="_blank" href="http://nicgirault.github.io/circosJS/demo/") http://nicgirault.github.io/circosJS/demo/
          //-   iframe.blocks(src="http://nicgirault.github.io/circosJS/demo/")

          section
            h2 Nightingale Chart
            div "Diagram of the causes of mortality in the army in the East" (1858)


          section
            h3.demo Stacked Area chart
            iframe.blocks(src="http://blockbuilder.org/mbostock/3020685")
            a.tiny(target="_blank" href="http://blockbuilder.org/mbostock/3020685") http://blockbuilder.org/mbostock/3020685
            a.tiny(target="_blank" href="http://bl.ocks.org/mbostock/") by mbostock

          section
            h3.demo Stacked Radial Area
            iframe.blocks(src="http://blockbuilder.org/mbostock/3048740")
            a.tiny(target="_blank" href="http://blockbuilder.org/mbostock/3048740") http://blockbuilder.org/mbostock/3048740
            a.tiny(target="_blank" href="http://bl.ocks.org/mbostock/") by mbostock

          section
            h3.demo Stacked Radial Area
            a(href="https://observablehq.com/@d3/radial-area-chart") https://observablehq.com/@d3/radial-area-chart


        section#hcilTemporal
          section
            h2 HCIL work on Temporal events
            a(target="_blank" href="http://www.cs.umd.edu/hcil/temporalviz/")
              img(src="../shared_images/vad_book_alldiagrams/hcil_logo.jpg")
            a(target="_blank" href="http://www.cs.umd.edu/hcil/temporalviz/") http://www.cs.umd.edu/hcil/temporalviz/

          section
            h2 Time searcher
            span.
              <iframe width="853" height="480" src="https://www.youtube.com/embed/VWx1TMcrb74" frameborder="0" allowfullscreen></iframe>
            a.small(href="http://www.cs.umd.edu/hcil/timesearcher/") http://www.cs.umd.edu/hcil/timesearcher/

          section(data-markdown)
            script(type="text/template").
              ### Categorical Time events

              event id | category | timestamp | attribs
              ---|----------|-----------|---------
              1 | arrive | 2016/08/13 18:01:30 | on time
              1 | clear | 2016/08/13 18:10:00 |
              1 | finish | 2016/08/13 18:15:00 | revised
              ...  | ... |  ... |
              2 | arrive | 2016/08/13 19:01:30 | late
              2 | review | 2016/08/13 19:11:00 | network issues
              2 | clear | 2016/08/13 19:15:00 |
              2 | finish | 2016/08/13 19:15:00 | non revised

              <!-- .element: class="small" -->


          section
            h2 Lifelines
            span.
              <iframe width="853" height="480" src="https://www.youtube.com/embed/aeRklur2Zc4?start=54" frameborder="0" allowfullscreen></iframe>
            a.small(target="_blank" href="http://www.cs.umd.edu/hcil/lifelines/") http://www.cs.umd.edu/hcil/lifelines/

          section
            h2.demo Lifelines
            a.small(target="_blank" href="http://www.cs.umd.edu/hcil/lifelines/")
              img.demo(src="http://www.cs.umd.edu/hcil/lifelines/screenjan98.jpg")
            a.small(target="_blank" href="http://www.cs.umd.edu/hcil/lifelines/") http://www.cs.umd.edu/hcil/lifelines/

          section
            h2.demo Lifelines 2
            a(target="_blank" href="http://www.cs.umd.edu/hcil/lifelines2/")
              img.demo(src="http://www.cs.umd.edu/hcil/lifelines2/images/title.png")
            a.small(target="_blank" href="http://www.cs.umd.edu/hcil/lifelines2/") http://www.cs.umd.edu/hcil/lifelines2/

          section
            h2.demo Lifelines 2 demo
            iframe.blocks(src="http://www.cs.umd.edu/hcil/lifelines2/videos/Lifelines2-(Contrast-Creatinine)-11-10-08_flash/full(1024x768)/index.htm")
            a.tiny(target="_blank" href="http://www.cs.umd.edu/hcil/lifelines2/videos/Lifelines2-(Contrast-Creatinine)-11-10-08_flash/full(1024x768)/index.htm") Lifelines 2 video link

          section
            h2 Similian
            a(target="_blank" href="http://www.cs.umd.edu/hcil/similan")
              img.demo(src="http://www.cs.umd.edu/hcil/similan/img/simi20091011/overview.png")
            a.tiny(target="_blank" href="http://www.cs.umd.edu/hcil/similan") http://www.cs.umd.edu/hcil/similan

          section
            h2.demo Similian demo
            iframe.blocks(src="http://www.cs.umd.edu/hcil/similan/video/demo/index.html")
            a.tiny(target="_blank" href="http://www.cs.umd.edu/hcil/similan/video/demo/index.html") Similian video link

          section
            h2 LifeFlow
            a(target="_blank" href="http://www.cs.umd.edu/hcil/lifeflow/")
              img.demo(src="http://www.cs.umd.edu/hcil/lifeflow/img/LifeFlow3.png")
            a.tiny(target="_blank" href="http://www.cs.umd.edu/hcil/lifeflow/") http://www.cs.umd.edu/hcil/lifeflow/

          section
            h2.demo LifeFlow howto
            span.
              <iframe width="853" height="480" src="https://www.youtube.com/embed/QxceG6_RM8w" frameborder="0" allowfullscreen></iframe>

          section
            h2.demo LifeFlow demo
            span.
              <iframe width="853" height="480" src="https://www.youtube.com/embed/nXrmJS6Vk9A" frameborder="0" allowfullscreen></iframe>

          section
            h2 EventFlow
            a(target="_blank" href="http://hcil.umd.edu/eventflow/")
              img.demo(src="http://www.cs.umd.edu/hcil/eventflow/img/EventFlow.png")
            a.tiny(target="_blank" href="http://hcil.umd.edu/eventflow/") http://hcil.umd.edu/eventflow/

          section
            h2.demo EventFlow demo

            span.
              <iframe width="853" height="480" src="https://www.youtube.com/embed/FHgcJDnW8q8" frameborder="0" allowfullscreen></iframe>


        section#commonTricks
          section
            h2 Common Derives/Tricks for Temporal data

          section
            h2.demo Align by event
            iframe.blocks(src="http://old.tweetometro.co/robots_May25.html", frameborder="0")

          section
            h2 Add / Remove Granularity

          section
            h2 Extract dateparts

          section
            h2 Window average/median


          section
            h2 Seasonality
            iframe.blocks(src="http://old.tweetometro.co/", frameborder="0")

          section
            h2 Loose scales
            a(href="http://johnguerra.co/viz/influentials/chi2019/tweets.html") http://johnguerra.co/viz/influentials/chi2019/tweets.html

        section
          section
            h1 Temporal with D3

          //- Streamgraph block
          section
            h3.demo Streamgraph
            iframe.blocks(data-src="http://blockbuilder.org/mbostock/4060954")
            a.tiny(target="_blank" href="http://blockbuilder.org/mbostock/4060954") http://blockbuilder.org/mbostock/4060954


          section(data-background-size="contain" data-background="../shared_images/vad_book_alldiagrams/08_tables-spatial.011.png")
          //- Linechart block
          section
            h3.demo Linechart
            iframe.blocks(data-src="http://blockbuilder.org/mbostock/3883245")
            a.tiny(target="_blank" href="http://blockbuilder.org/mbostock/3883245") http://blockbuilder.org/mbostock/3883245



        section#review
          section
            h2 What we learned
            ul.small


    script(src="../js/reveal.js")
    script(src="../plugin/zoom/zoom.js")
    script(src="../plugin/notes/notes.js")
    script(src="../plugin/search/search.js")
    script(src="../plugin/markdown/markdown.js")
    script(src="../plugin/highlight/highlight.js")

    script(src="https://cdn.jsdelivr.net/npm/vega@5.13.0")
    script(src="https://cdn.jsdelivr.net/npm/vega-lite@4.13.1")
    script(src="https://cdn.jsdelivr.net/npm/vega-lite-api@0.11.0")
    script(src="https://cdn.jsdelivr.net/npm/vega-tooltip@0.23.2")



    script.
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        hash: true,
        //- transition: "convex",

        //- width: "100%",
        //- height: "720px",

        plugins: [ RevealZoom, RevealNotes, RevealSearch, RevealMarkdown, RevealHighlight ]
      });
    script.
      (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,"script","https://www.google-analytics.com/analytics.js","ga");

      ga("create", "UA-72531610-1", "auto");
      ga("send", "pageview");

